[2021-09-19 19:29] pevik commented on #371
@teknoraver FYI
@tsndqst any idea how to setup VLAN on which I could reproduce the problem?

[2021-09-19 20:09] pevik commented on #290
@rowlap you should report RHEL7 package problem to Red Hat bugzilla or at least point to the source so that upstream can identify how the downstream source is different from upstream. Also, reporting 5 years old source (`s20160308`) to upstream project is irrelevant anyway, please report issues with the latest release and ideally retest to the current master.

Anyway, I was not able to reproduce t

[2021-09-19 20:17] teknoraver commented on #371
@pevik can you paste the output of `sysctl net.ipv4.ping_group_range`?

[2021-09-19 20:20] pevik commented on #294
@sourcejedi any idea how to reproduce this?

[2021-09-19 21:30] pevik commented on #371
@tsndqst ^

@teknoraver I'm not really sure that strict following of RFC 1122 was a good idea (https://networkengineering.stackexchange.com/questions/76321/configure-virtual-lan-with-subnet-router-anycast-address-to-debug-ping-bug), considering to revert it.

@nmeyerhans @nmav WDYT?

[2021-09-19 21:51] pevik commented on #267
I'm closing the bug as it's invalid. But we could certainly do 2 things: 1) note in man page that only natural numbers are expected, 2) improve error message to print expected input range.

[2021-09-19 21:51] #267 closed

[2021-09-19 22:04] tsndqst commented on #371
@teknoraver `net.ipv4.ping_group_range = 65534`.  I'm not sure what has to do with ipv6 ping.

@pevik I'll have to think about it.  I tested with an LXC container since I already had it set up.  I'll see if I can come up with a straight forward way to fully test this.

[2021-09-19 22:19] sourcejedi commented on #294
Yes.

Here are two current ping'able domains on different continents. You should have high latency to at least one of them. `ping -A` should reproduce this issue very easily. `ping` without `-A` may take a couple of attempts. You need to think about the timing, anticipate when `ping` has sent the echo request and is waiting for the reply, and interrupt it then.

Makes sense?

[code]

[code]

[2021-09-19 23:47] teknoraver commented on #371
The problem here is that you are receiving a response from a different address than the one you are initially trying to ping.

Does it work if you add the `-b` flag?

[2021-09-19 23:57] tsndqst commented on #371
@pevik A test VLAN would need at least two hosts with IPv6 IPs in the same subnet and one host that's not the source needs to have IPv6 forwarding enabled.
For example `net.ipv6.conf.all.forwarding = 1` or for an individual interface on the VLAN.

@teknoraver My understanding is that that's the point of the Subnet-Router anycast address.  Pinging the anycast address will result in a reply from one

[2021-09-20 01:17] tsndqst commented on #371
@pevik I found a netns script that sets up an ipv6 network that you can test with.
It's a slightly modified version of https://gist.github.com/dpino/76b0bf7f522bd0d2e442eca06ae9db76
I changed the ipv6 ULA subnet a bit and removed the NAT from the original.

From the shell that starts at the end of the script you should be able to ping `fd00:dead:beef:1234::` and get a reply from `fd00:dead:beef:12

[2021-09-20 01:34] teknoraver commented on #371
Because `-b` is an ipv4 only flag by now. We should make it effective in ipv6 too with:

[code]

Can you give it a try?

[2021-09-20 01:59] teknoraver commented on #371
Or maybe this is more appropiate:
[code]

[2021-09-20 02:26] tsndqst commented on #371
I tried the second patch.  Pinging the subnet-router anycast address works with that patch.  Thanks.

[2021-09-20 02:28] teknoraver commented on #371
Ok, I will submit a patch along with updated description and help message.

Thanks!

[2021-09-21 16:51] pevik commented on #371
@teknoraver thx.

Unfortunately with netns configuration it does not work with your patchset, but it works when reverted 5e052ada96c3fc457efe66b2fed5c14ed8de6ae3. I have to look closely, but whether there is another problem or it's really caused by assumption from RFC 1122.

[2021-09-21 17:53] teknoraver commented on #371
I didn't, I asked @tsndqst for test.
Anyway, I can try to repro it with the netns

[2021-09-21 18:04] teknoraver commented on #371
@pevik I tried the netns setup, it works for me:
[code]

[2021-09-21 18:28] teknoraver commented on #371
That is the case with anycast, you will get reply for more than host.
Indeed with this change it gets the same limitations of ipv4 broadcast, i.e. can't set a low interval, which can be dangerous

[2021-09-23 07:14] pevik commented on #371
@teknoraver FYI still wait for the input from @nmeyerhans, but really tend to revert your original commit 5e052ada96c3fc457efe66b2fed5c14ed8de6ae3 to keep the original functionality.

[2021-09-23 14:08] teknoraver commented on #371
@pevik and break RFC 777:

[code]

Can't we simply support all the cases?

[2021-09-24 16:05] teknoraver commented on #371
I don't know a way to detect Subnet-Router anycast address. They are the first address of a network, I guess that the user know in advance that the address is one of those.

I propose to change the documentation, saying that `-b` is used to ping broadcast, multicast and ipv6 Subnet-Router anycast addresses. In short, any address which will receive one (or more) replies from a different IP than the

[2021-09-24 17:02] tsndqst commented on #371
Sorry if I opened a can of worms with this request.  I don't really have any use for it I just noticed the regression and thought it would be a straight-forward fix.

[2021-09-24 20:41] pevik commented on #371
@teknoraver I'll try to research before giving up. Just give me some time (my time for iputils is very limited).
@tsndqst No problem at all.
Thank you both to your work. I'd like to release iputils soon, but this issue is important enough to be solved first.

[2021-10-12 02:29] yueryoufeng commented on #326
@6eh01der Thank you for your reply.
@pevik  @kerolasa  The changed commit is https://github.com/iputils/iputils/commit/acb7fbbc48c368551d2f2da7d446d12ad7e1e172
Probably 323-327

[2021-10-15 16:33] pevik commented on #371
@teknoraver @tsndqst could you please have look on https://github.com/iputils/iputils/pull/376?

[2021-10-29 19:43] logistiker opened #377 "ping ignores round robin DNS"
I have round robin DNS set up on my internal network and I cannot get ping to recognize the second A record for the same domain.  It always uses the first A record.  I don't have any DNS caching set up on the client that is executing ping.  Other programs I have tested don't have any problems accessing the machine with the second A record (e.g. ssh, firefox, dig, nslookup, php via gethostnamel).

[2021-10-29 19:53] nmeyerhans commented on #377
There's really no such thing as round-robin DNS. RFC 3484 specifies that results of the `getaddrinfo()` library call always be returned in the same order. This behavior is configured by the [/etc/gai.conf](https://manpages.debian.org/bullseye/manpages/gai.conf.5.en.html) configuration file on glibc-based Linux systems. Other operating systems or C library implementations may have other knobs for c

[2021-10-29 20:14] logistiker commented on #377
So how would you ping a domain where one interface is down while the other is up but the first interface (IP) was specified in the DNS?  Or am I supposed to use a different utility to determine whether a host is responding?

[2021-10-29 20:21] logistiker commented on #377
Also, editing the client gai.conf file to make this work doesn't seem like the right way to fix this.  If getaddrinfo() is the problem, perhaps ping should not use it.  My guess is that all the other programs that I mentioned don't use it and have a different solution to make this work.

[2021-10-29 21:12] pevik commented on #377
You mean https://en.wikipedia.org/wiki/Round-robin_DNS.

Well, `ping` using random order each time you call it:

[code]

The same way works [`fping`](https://www.fping.org/) and `ping` from busybox:

[code]

You want it to randomize it during each call which I also don't think it's a good idea to be a default as it's non-deterministic as @nmeyerhans mentioned. Other tools try hard to be connected

[2021-10-30 00:40] nmeyerhans commented on #377
Some of the web pages linked from that describe the details of `getaddrinfo()` sorting the DNS responses, and some of the problems it caused. However, it's possible that they (along with my understanding of things) are outdated, and `getaddrinfo()` is sorting things more sanely now.

In any case, `ping` doesn't do any additional processing or sorting of the list of responses from `getaddrinfo()`,

[2021-10-30 05:00] logistiker commented on #377
Ah yes, `fping -m` is exactly what I was looking for which pings both ip addresses of that host.  Thanks for the tip!  I understand the reluctance to implement it if fping already does it.  Then it's up to you guys as to whether you want to.  Feel free to close this issue if you don't.

[2021-10-30 05:17] #377 closed

[2021-11-02 17:10] pevik commented on #377
`fping` has significantly different output based on passed switches (flags):

[code]
But `ping` has very similar output regardless passed switches. Thus I'm not against adding it, but output would need to be thought carefully. But I have other priorities with my limited time than this.

[2021-11-08 21:18] #371 closed

[2021-11-08 21:50] #125 closed

[2021-11-12 21:43] 6eh01der commented on #302
@apriya-stack for some reasons didn't create request so i will do it

[2021-11-14 10:34] pevik commented on #302
@6eh01der Could you please add some example how to reproduce the issue? Ideally using network namespaces?

[2021-11-14 11:12] 6eh01der commented on #302
As mentioned in issue's description - ping -f ntp.org for example

[2021-11-14 17:08] pevik commented on #302
I'm sorry, I'm somehow slow, is the issue `1% packet loss`? Do you expect `O% packet loss`?

Also, maybe better to test localhost to not influence network:
[code]

[2021-11-14 20:55] 6eh01der commented on #302
I'm just pulled code implemented by @apriya-stack without deep dive into issue and that's my mistake.

@apriya-stack talk about that the EAGAIN is treated as packet loss in flood ping scenario if i understand right. And i think that the right question is should it be treated as loss, or not because in fact EAGAIN does not mean that the packet was lost...

`sudo strace ping -f 192.168.1.1`

`gettim

[2021-11-21 22:48] sevan commented on #363
Apologies for never chiming in, I leave it to you to decide. I would've preferred traceroute6 stayed as that makes things easier to jump between different envs (the BSDs and macOS by heritage ship with traceroute6) but I'll seek out the other implementation mentioned here or just pull the removed copy from here back in.

[2021-12-02 12:45] arekm opened #383 "20210722: build fails on systems without iproute2 installed"
build fails on systems without iproute2 installed and iproute seem to be only needed for test (so that ip shouldn't be needed just for building)

[code]

[2021-12-03 07:55] pevik commented on #383
You can disable tests with `-DSKIP_TESTS=true`.

[2021-12-03 08:00] arekm commented on #383
Doesn't work. Still wants ip binary.

[2021-12-03 13:50] Berzerkula commented on #383
On Thu, 02 Dec 2021 04:45:29 -0800
Arkadiusz Miśkiewicz ***@***.***> wrote:

Why are you living in the past?

Official notice was given.

https://lists.debian.org/debian-devel/2009/03/msg00780.html

ifconfig from inetutils or net-tools is not the proper way these days.

Sincerely,

William Harrington

[2021-12-03 16:59] arekm commented on #383
I'm living in future. net-tools/inetutils doesn't exist here, too.

It's a build container which essential deps only. iproute2 is only needed for tests, so this bug report is valid. Testing if ip exists should hide inside of tests condition.

[2021-12-03 18:05] pevik commented on #383
This works for me even without `ip`:

`meson builddir -DSKIP_TESTS=true && make`

It's really rare not have `ip`, thus nobody noticed that. What prevent you install iproute2 on the container? You needed to install other things anyway (compiler is much bigger than iproute2, which is kind of essential package anyway).

`ip` is used for IPv6 detection. Well, we could replace it with other method to d

[2021-12-03 19:21] arekm commented on #383
But how that works for you?

ping/meson.build runs
[code]

ip command unconditionally (it's not inside any tests condition) and detects that ending with initially reported error (meson 0.59.2).

Of course I can locally patch things and disable this but it didn't make sense, so I've reported it.

If "that's the way" then ok, I'll just patch locally.

[2021-12-03 19:51] pevik commented on #383
Not sure if I understand what you mean. What's your suggestion to fix?

[2021-12-15 21:42] pevik commented on #322
Closing as we removed traceroute6 in a1394212fd4b3e3259104467d9861909961b219e.

[2021-12-15 21:42] #322 closed

[2021-12-15 21:49] pevik commented on #305
NOTE: https://github.com/iputils/iputils/pull/388 is going to be removed.

[2021-12-17 07:16] Safari77 opened #389 "Release signed with revoked key 🤔🔑"
[code]
[code]

[2021-12-19 17:44] pevik commented on #285
@nmeyerhans are you still interested in this? Would you have time to split files? Now, after the release it'd be good time.

[2021-12-21 19:21] nmeyerhans commented on #285
It's still something I'd like to see. However, it's not clear when I'll be able to prioritize work on it. Additionally, since we're eliminating many of the obsolete tools, the big collection of l10n data may not be quite as much of a concern (though I haven't looked closely).

If nobody else is interested in working on this, then I suppose we can close it.

[2021-12-21 19:21] #285 closed

[2021-12-21 20:52] pevik commented on #285
@nmeyerhans FYI tools removed in https://github.com/iputils/iputils/pull/388 don't have any translations https://github.com/iputils/iputils/pull/388/files.
Take your time, you know how long it takes me to handle issues / PR. If you work on it, please reopen this ticket and note that.

[2021-12-23 23:10] #363 closed

[2021-12-23 23:30] pevik commented on #389
Thanks a lot, uploaded new files with my valid key. It should be fixed, but please verify:

[code]

[2021-12-24 06:21] Safari77 commented on #389
Thanks. Can you also fix sha256sum.asc?

[2021-12-31 22:41] pevik commented on #389
Now hopefully fixed. If not please reopen.
[code]

[2021-12-31 22:41] #389 closed

[2022-01-01 20:12] nmeyerhans commented on #383
The problem here is that the nonexistence of `ip` is not intended to be a fatal error, but it is. We use it to test for the presence of IPv6 connectivity, and proceed to run IPv4-only tests if `ip` indicates that we lack such connectivity. If the `ip` binary is not present, then it would be better to interpret that as a lack of IPv6 addresses rather than to fail the test run altogether.

I think a

[2022-01-02 01:20] eli-schwartz commented on #383
You try to run the `ip` binary to do a configure-time check. There are two ways this can fail:
- the binary can return a non-zero exit status
- meson cannot find the binary to even try running it

The former case is handled by `check: false` as a kwarg to the run_command() function. Note that this is the default, but future versions of meson will emit a warning if you don't specify either true or

[2022-01-02 19:00] pevik commented on #305
ninfod has been removed.

[2022-01-02 19:00] #305 closed

[2022-01-02 19:24] pevik commented on #383
@eli-schwartz Looks like an improvement, feel free to post PR with this.

BTW while open to improvements I still don't see why this is a hard dependency: even with removed `ip` it's possible to build (tested on Debian stable):

[code]

@nmeyerhans My plan was to check `/sys/module/ipv6/parameters/disable`. Using `/proc/net/ipv6_route` for a detection is a good idea, but `/proc/net/if_inet6` has pr

[2022-01-02 20:24] eli-schwartz commented on #383
I have checked as far back as meson 0.40 and current versions of meson error out when doing an upfront search for the program with something like:

[code]
while 0.40 errored out in Popen after catching FileNotFoundError and explicitly raising a mesonbuild.interpreterbase.InterpreterException (but allowing any returncode):

[code]

This really tells me nothing. You could have a different version of

[2022-01-02 22:42] pevik commented on #383
Sure, you don't have to believe I can reliably remove binary :). But really, there is no other `ip` on that system:

[code]

Sure, running the default it fails as expected:
[code]

But with it works on `-DSKIP_TESTS=true`:
[code]
At least it's working on 0.56.2. Maybe older versions have problem (when requiring meson 0.39, there was a warning: `WARNING: Project targeting '>=0.39' but tried to use

[2022-01-02 23:09] eli-schwartz commented on #383
That is indeed a much better demonstration. :)

And, you probably do not want to know how absolutely often I've seen this sort of mistake, but there is a reason I prefer to be precise about using `type -a` and don't assume *anyone* is safe from making the mistake. It is... far too common, across a wide variety of experience levels.

(For the record, my checking did not involve downloading iputils

[2022-01-02 23:14] pevik commented on #383
@arekm I overlooked you're using 20210722. Please next time before reporting problems try current master or at least the latest release. You save everybody's time.

[2022-01-03 11:12] #383 closed

[2022-01-03 11:18] pevik commented on #383
@eli-schwartz @nmeyerhans merged, thanks both for your time!

[2022-01-29 22:56] pavlix commented on #125
I see. But the we should probably just need one socket, right? I did big refactoring on ping long time ago and remember (and documented!) all sorts of issues that emerged, so I can definitely help reviewing changes now. But I honestly don't even remember the `probe_fd` part. It is not even properly distributed between `ping4_common` and `ping6_common` compilation units, as far as I see.

[2022-01-29 23:03] pavlix commented on #302
@6eh01der When is EAGAIN expected from `recv()` in the first place? Isn't the socket supposed to be blocking?

[2022-02-09 02:42] firexinghe opened #392 "arping command count error"
Return value error, receive and send values do not match

20211215 version

# arping 10.82.188.10 -I eth0 -s 10.82.188.11 -w 3
ARPING 10.82.188.10 from 10.82.188.11 eth0
Unicast reply from 10.82.188.10 [xx:xx:xx:xx]  1.176ms
Unicast reply from 10.82.188.10 [xx:xx:xx:xx]  0.686ms
Unicast reply from 10.82.188.10 [xx:xx:xx:xx]  0.698ms
Sent 4 probes (1 broadcast(s))
Received 3 response(s)

# echo $?

[2022-02-15 14:56] eaglegai commented on #392
maybe commit e594ca52 cause this

[2022-02-15 22:26] pevik commented on #392
It looks like before e594ca52afde89746b7d79c875fe9d6aea1850ac `-w deadline` just didn't work. But indeed with proper implementation it always miss the latest reply. I need to have closer look @kerolasa any idea why?

[2022-02-15 22:32] nmeyerhans commented on #392
The exit code definitely looks wrong (this arping appears to have been successful, so should have exited with status 0)

However, the packet count doesn't necessarily look wrong to me. `-w Z` without `-c`, as documented in the manpage, instructs arping to exit after Z responses are processed, regardless of how many packets have been sent. It's entirely possible that a 4th packet was in flight when

[2022-02-15 22:48] pevik commented on #392
Agree. Should we `-w Z` without `-c` just ignore if the latest one is missing? Or ignore missing replies if even more than one is missing?

[2022-02-16 00:19] nmeyerhans commented on #392
I think arping should behave as we document ping to behave in this case:

So in this case, with no packet count provided, arping should exit 0.

However, ping is a little bit funny, too, and I think we need to dig in a little deeper to the deadline handling and packet accounting code in both programs.

With arping, we see the following:
[code]
We can confirm with tcpdump that 4 packets are sent. T

[2022-02-16 14:20] eaglegai commented on #392
from tcpdump we know, send 4 packages, and receive 4 reply packages  in fact，but arping always drop the final，how about we add checking like this：
                        case POLLFD_TIMEOUT:
+                               if (recv_pack
+                                   (ctl, packet, s, (struct sockaddr_ll *)&from) != FINAL_PACKS && ctl->received != 0)
+                                       ct

[2022-02-17 07:05] nmeyerhans commented on #392
I opened #395 to implement what I believe should be the correct behavior in this case.

In general, I don't think it makes sense to wait for in-flight packets if we've asked arping to exit after a certain amount of time. The docs indicate that `-w` means "arping exits regardless of how many packets have been sent or received" and I think that's what it should do. Note that ping also will leave som

[2022-02-18 14:16] 6eh01der commented on #302
@pavlix

https://github.com/iputils/iputils/blob/854873bdd28fcdd9cc3fe0c2d29c083a07d07a86/ping/ping_common.c#L619

https://github.com/iputils/iputils/blob/854873bdd28fcdd9cc3fe0c2d29c083a07d07a86/ping/ping_common.c#L704

[2022-03-10 23:16] pevik opened #398 "ping: Allow to use -I<ifname|scope-id> for IPv6 link-local scope address"
[man getaddrinfo(3)](https://man7.org/linux/man-pages/man3/getaddrinfo.3.html) states support for the `address%scope-id` notation for specifying the IPv6 scope-ID. man ping(8) used to require to use it.  During socket creation refactoring in 243b6e1 it was possible to ping link-local scope address without `%<scope-id|ifname>` notation.  Everything worked as expected because the default was still r

[2022-03-10 23:30] pevik commented on #339
@tashanamatl any change you specify steps to reproduce the issue? Ideally with using network namespaces, see some examples of netns based reproducers:

https://github.com/iputils/iputils/pull/340#issuecomment-987219698
https://github.com/iputils/iputils/pull/296#issuecomment-710044824
https://github.com/iputils/iputils/issues/371#issuecomment-922582756
https://github.com/iputils/iputils/pull/344
h

[2022-03-11 18:45] ThomasHabets opened #401 "Ping should set `CAP_SETUID` and `setuid()` to nobody. Or use `unshare()`"
Currently a bug in `ping` can compromise the whole account. That account may be the root user. The root user owns critical files like `/etc/shadow`, and… well… `/`. So root account even without any capabilities is trivially escalatable.

Same with most systems, actually. There's a high likelihood that someone running `ping` on a system has root access via `sudo`.

Why not switch user, or `unshare`

[2022-03-15 21:43] pevik commented on #276
@ThomasHabets thanks for pointing this out. It looked to me it was fixed by https://github.com/iputils/iputils/commit/4fd276cd8211c502cb87c5db0ce15cd685177216 i.e. very similar approach you had, the only change is to use `CLOCK_MONOTONIC_RAW` (since Linux 2.6.28; Linux-specific, Similar  to  CLOCK_MONOTONIC, but provides access to a raw hardware-based time that is not subject to NTP adjustments.).

[2022-03-15 22:27] ThomasHabets commented on #276
@pevik well, `CLOCK_MONOTONIC` and `CLOCK_MONOTONIC_RAW` both have benefits and drawbacks. Neither jumps (especially backwards), and while the latter is more likely more even, the former is likely more correct.

That is, if the actual time measured is 7ms and 7ms, do you prefer a measurement of 8ms and 7ms (`CLOCK_MONOTONIC`, deciding to adjust the speed between the two measurements), or 8ms and 8

[2022-03-18 14:33] eaglegai opened #403 "it doen't return 0 when arping receives reply packages with -c and -w parameters which package count is larger than timeout value"

[2022-03-18 14:48] #403 closed

[2022-03-18 14:49] eaglegai commented on #403
the same with https://github.com/iputils/iputils/pull/404

[2022-03-25 20:19] pevik commented on #401
@ThomasHabets Thanks for a report, feel free to implement a fix.

FYI IMHO many distros has moved from setuid to capabilities and at least some distros (e.g. Debian, openSUSE) to using ICMP socket, which does not require setuid nor capabilities (it requires just `sysctl net.ipv4.ping_group_range="1 1000"` to be able to run ping as user).

[2022-03-29 10:59] jsegitz commented on #401
Moving to capabilities is a good measure with basically no drawbacks.

Using namespaces to further isolate this could be a nice next step. It's not that easy to do and brings some complexity. There are tools like nsjail to do this, but having this as a build in capability would be nice from a security POV.

Drawbacks
- This might negatively interact with AppArmor or SELinux as profiles likely need

[2022-03-30 01:10] gobenji opened #406 "No error message on socket creation failure."
If `ping` has neither CAP_NET_RAW nor ICMP socket creation ability (most likely because it is incorrectly installed), it used to print an error message:
[code]
But it doesn't anymore:
[code]
This regression was introduced by commit 79d713eab618 ("ping: Remove 'unsupported IPv6' warning on disabled IPv6")

[2022-04-06 06:51] jsegitz commented on #401
I still stand by this. The move from setuid root to capablities is a good thing. I agree that what you're proposing is something to consider, but that requires additional code, not just a permissions change. I don't see any drawback going to capablities from the existing situation.

Well, I know those distributions and it's a bad choice IMO that affects the whole system, so this argument holds tru

[2022-04-08 11:52] JulienPalard opened #407 "Ping different error messages but I don't know why"
Yes I know I have an empty string in my arguments and this can't work, I'm just surprised by the different error messages, see:

[code]

vs

[code]

It probably have to do with IPv6 as I ping python.org using IPv4 and afpy.org using IPv6.

[2022-04-08 20:48] JulienPalard commented on #407
OK don't mind me, I've read the code:

- ping4_run consumes argv to get hops, and fails while trying to `gethostbyname` the empty string.
- ping6_run don't try to consume hops: if `argv > 1` it prints the usage right away.

It's even documented in the manpage:

[2022-04-08 20:48] #407 closed

[2022-05-01 17:19] firasuke opened #408 "When's the following release date?"
Hi there,

When will a new version be released, and what obsolete tools will be removed from it.

Thanks.

[2022-06-14 20:14] pevik commented on #408
https://github.com/iputils/iputils/milestone/4
No idea when things are done, hopefully over summer (till beginning of September).

[2022-06-14 20:14] #408 closed

[2022-06-14 20:55] pevik commented on #339
@tashanamatl I guess it's the same issue as https://github.com/iputils/iputils/issues/398? I.e. fixed in 5.17 and stable kernels? (https://github.com/iputils/iputils/pull/405#issuecomment-1146359974)

[2022-06-14 22:32] tashanamatl commented on #339
I'm not sure, it looks like this issue is  just IPv6 but the issue I was seeing was only IPv4. I actually think #391 might be related.

[2022-06-15 09:59] pevik opened #410 "ping: cleanup data types"
https://github.com/iputils/iputils/pull/394 fixed `-m` parameter (mark) to be unsigned int instead of plain int and added `strtoul_or_err()`. That was a good start, there should be more tree wide cleanup:
* check expected data types in kernel and use fixed data types (e.g. `uint32_t`)
* compile in CI also for 32bit and write test: `ping -m INT_MAX+1`
* remove `strtol_or_err()` if not needed (likel

[2022-06-17 16:03] pevik opened #411 "ping: print used socket type on verbose mode"
`ping` should print whether it uses RAW socket or ICMP datagram socket.
It could be on `-v` or even always (but that would change expected output).

[2022-06-17 20:07] #398 closed

[2022-06-17 20:07] pevik commented on #398
@gobenji Thanks a lot for your time!

[2022-06-17 20:17] pevik opened #412 "Check -p HEX input"
Attempt done in https://github.com/iputils/iputils/issues/411: https://github.com/iputils/iputils/compare/1bd163e2c3ea8ab3c8f5a916883e67d0351b0894..c377c2291dda140587c349fd569061dcb6c9d060:

[code]

Looking at `fill()` function, `if (strlen(outpack_fill) > 16` is probably a correct check:

https://github.com/iputils/iputils/blob/6becbb3e1a34f957303ec7340b354c120ee59db0/ping/ping_common.c#L198-L237

[2022-06-22 08:53] socketpair commented on #190
Fixed in version s20190709

[2022-07-14 03:38] ryannathans opened #414 "ping utility attempts to do blocking look up for the reverse DNS for EVERY ICMP packet if it fails"
I ran `ping -6 aussiebroadband.com.au -i 0.2` and noticed that the output was definitely not every 200ms, it was more like 1 or 2 every few seconds, with random bursts.

So I fired up wireshark and (filtered to DNS only)
![image](https://user-images.githubusercontent.com/1307375/178892333-76205cb0-6fc9-4e49-b41b-49d8e4cf346a.png)

It looks like name resolution is failing and for every single ICMP

[2022-07-14 21:57] jmaimon opened #415 "arping receives potentially vlan encapsulated packets without any indication of such"
This for example results in incorrect reporting of duplicate address detected in DAD mode, should the interface receive tagged traffic and at the same time arping was run with -D mode a host on another vlan happens to reply or announce its ARP and happens to have the targeted IP.

Apparently some more socket work is needed to ensure that a received packet was not originally 802.1q encapsulated.

[2022-07-16 10:01] pevik commented on #415
@jmaimon Thanks for your bug report. Would you mind to provide way to reproduce the bug? Ideally via using network namespaces (e.g. https://github.com/iputils/iputils/issues/300, https://github.com/iputils/iputils/pull/391).

[2022-07-17 18:51] jmaimon commented on #415
Its fairly straightforward. In fact I have already experimentally patched to produce mostly correct behavior.

I have a box with ens192 which has many vlan subinterfaces. ARP replies ARE received with -I ens192 that either come from the subinterface (with FROM->sll_ifindex different than ctl->device.ifindex) or from any other vlan present on the network. This is because ens192 port on the network

[2022-07-17 18:57] jmaimon commented on #415
This is an experimental patch. There may be some useful nuggets in there, but mostly it should serve to illustrate what I am trying to detect and correct. In particular, netlink_devinfo_query to obtain a vlan tag associated with an interface doesnt work properly at all.

[2022-07-18 05:03] jmaimon commented on #415
fixed up a bit
[arping-vlan-tag.patch.txt](https://github.com/iputils/iputils/files/9129524/arping-vlan-tag.patch.txt)

[2022-07-21 20:07] jmaimon commented on #415
Here is a set of patches, available and described here

http://www.jmaimon.com/misc/stuff/iputils/

[2022-07-21 20:07] #415 closed

[2022-08-25 16:18] modyngs commented on #247
@kerolasa @jknoos @lac-0073
Hi,

I have tried arping using apt install but the version was too old (2019) and it didn't work properly on ubuntu 20.04!
So i wanted to know how can i build it from source?

P.S. I could'nt find the way how to build iputils-arping!

Thanks
Best regards

[2022-08-26 06:35] pevik commented on #247
@modyngs `./configure && meson build`
Build dependencies are listed in https://github.com/iputils/iputils/blob/master/ci/debian.sh, it's just enough one compiler (`gcc` _or_ `clang`).

[2022-08-26 07:50] pevik commented on #247
@modyngs FYI I put some installation info in https://github.com/iputils/iputils#installation

[2022-08-26 08:27] modyngs commented on #247
@pevik
Thanks for the reply

i was wondering if there is any prerequisite ( dependencies ) before taking into the installation process?

Thanks
Best regards

[2022-08-26 08:29] modyngs commented on #247
@pevik
Thanks for the replay

are the dependencies common through all the releases?
I'm using focal but the dependencies are for xenial

[2022-08-28 15:53] rnhmjoj opened #421 "ping: do a reverse lookup for numeric addresses"
It [seems](https://github.com/iputils/iputils/commit/f6bc8f6f01498527307e8c9580c1588adbd0c818) that if you specify a "literal" IP address ping won't do a reverse name lookup. I think this would be good to have in general and it's particularly nice for IPv6: if you have set up a reverse zone for the link local you can then do
[code]
and get a nice scan of your network.

It's enough to remove this c

[2022-08-29 20:25] pevik commented on #421
@rnhmjoj unfortunately nobody can quickly find this. Given many regressions I tend to be careful :).

Does it mean that you need to call `getnameinfo()` on `name`?
https://github.com/iputils/iputils/blob/1ab5fafee6261369d962eb27e2fe08c8418bd74e/ping/ping.c#L1650-L1651

Could please also post snippet of your dns server configuration which could be used for testing? Also could you check how ping fro

[2022-08-29 20:53] rnhmjoj commented on #421
Uhm, a safer alternative could be to add the opposite of `-n`, to force the lookup.

Sure, I'm using bind with this zone definition
[code]

and the content should look something like this:
[code]
(tip: to reverse the addresses you can use `rev`)

I don't think busybox ping supports doing reverse lookups, fping does but strangely
I can't get it to work at all on my computer.

[2022-08-29 21:40] pevik commented on #421
As you correctly found it was added by original author  YOSHIFUJI Hideaki (who only knows in deep ICMP protocols and kernel networking internal) in https://github.com/iputils/iputils/commit/f6bc8f6f01498527307e8c9580c1588adbd0c818 (fix `memchr()` in https://github.com/iputils/iputils/commit/6754cb676730d5f63e6af737d6d4d1a707dab7c9).

Since 2007 ping refuses reverse lookup  on numeric address. I ha

[2022-09-01 01:04] xyziven opened #422 "clockdiff in docker container shows "clockdiff: nice: Permission denied""
The base docker image is alpine, the iputils package was installed through the command "apt add iputils"

\# clockdiff -o destination
clockdiff: nice: Permission denied

[2022-09-06 11:28] Vogtinator commented on #422
There appear to be two different issues:

[code]

That's probably because the process in the container has a nice level of 0, so would require `CAP_SYS_NICE` to set it to -16.

[code]

That's because of `CAP_NET_RAW` missing. What I don't understand is that this happens only when running it in an interactive shell, but not with `podman exec`.

[2022-09-06 13:08] xyziven commented on #422
It appears some system calls in docker  are blocked by default.
https://docs.docker.com/engine/security/seccomp/

[2022-09-07 17:29] pevik commented on #422
Yes, but none of `socket` and `nice` are listed there. But obviously creating any `SOCK_RAW` socket is forbidden by default (also `arping` fails with permission).

Trying to run podman` with `--security-opt seccomp=unconfined` does not help:

[code]

[code]
@xyziven can you try it with `docker`? But probably it will not work either, not sure what else needs to be changed to allow creating `SOCK_RA

[2022-09-08 16:07] xyziven commented on #422
Replying with your previous question regarding how I ran the container.
The containers is brought up by docker-compose.
Actually I started the server "metersphere" which is in this repo: https://github.com/metersphere/metersphere

version: "2.1"
services:
  ms-server:
    image: ${MS_IMAGE_PREFIX}/metersphere:${MS_IMAGE_TAG}
    container_name: ms-server
    environment:
        _<... environments

[2022-09-14 01:32] linzhanglong opened #423 "aarch64 ping coredump"
aarch64:   global_rts in main() stack, -t option may send SIGALRM  after the end of main.

[code]

[2022-09-16 07:27] pevik commented on #423
Thanks for reporting it. Any idea what exactly is wrong on `global_rts->exiting` in `sigexit()`?
And how to reproduce it? I was trying to set various values for `-t` on aarch64, but nothing happen.

I'm investigating, if it's the same problem as failure found by LTP test run on aarch64:
https://openqa.opensuse.org/tests/2664916#step/if4-mtu-change_ifconfig/8
[code]

But ping in that test does not

[2022-09-16 10:25] pevik commented on #423
Trying to run some code inspired by LTP test:

[code]

On error `ERESTARTSYS` is followed to `SIGALRM` and `EINTR`, which ends up exiting `1` due `write error` when closing `stdout` (no errno specified):

https://github.com/iputils/iputils/blob/1ab5fafee6261369d962eb27e2fe08c8418bd74e/iputils_common.c#L58-L69

I'll need to debug `int close_stream(FILE *stream)` to see what's wrong

https://github.

[2022-09-16 11:27] pevik opened #424 "ping: EINTR on aarch64 causes exit 1"
Originally put in https://github.com/iputils/iputils/issues/423#issuecomment-1249197841, but it looks to be a separate issue.

LTP test run on aarch64 found a random failures in `int close_stream(FILE *stream)`:
https://openqa.opensuse.org/tests/2664916#step/if4-mtu-change_ifconfig/8

/opt/ltp/testcases/bin/tst_test.sh: line 156: 25324 Aborted                 (core dumped) tst_rod "$@"
if-mtu-chan

[2022-09-16 12:22] pevik commented on #423
I moved LTP issue into separate ticket https://github.com/iputils/iputils/issues/424.

[2022-09-18 09:28] gobenji commented on #424
From experimentation, it looks like write() -> EINTR results in ferror() being set and remaining set. That explains why close_stream() returns an error in the "# ERR" case (prev_fail is set).

How about setting SA_RESTART when doing sigaction(SIGALRM, ...). It avoids EINTR for write(). Maybe it would also be appropriate for the other signals configured in setup().

[2022-09-18 09:33] gobenji commented on #423
Is it really '-t'? SIGALRM is enabled as a result of '-c' or '-w', no?

@linzhanglong Can you please upload the coredump and a pointer to the origin of the related ping binary? It might be helpful to find more insight.

[2022-09-19 01:24] linzhanglong commented on #423
aarch64：   ping -c 10 127.0.0.1 -f -W 2

[2022-09-19 02:55] gobenji commented on #424
On second thought I'm afraid that would prevent the quick termination by a signal of a `ping` that is blocked on some IO. So setting SA_RESTART is not an adequate solution.

[2022-09-19 07:10] gobenji commented on #423
Thank you for the extra details.

That is the main issue.

A similar problem can be reproduced using this patch which leads to sigexit() being run after main returns:
[code]
and running `valgrind ./ping/ping -c2 localhost`:
[code]

How about the following fix:
[code]

[2022-09-20 02:57] Tangzhaojun commented on #423
I've found that x86 doesn't have this problem, and I'm curious what the difference would be.

[2022-09-20 09:32] pevik commented on #424
Yes, you're right `.sa_flags = SA_RESTART` could blocks. I wonder if just whitelisting `EINTR` would be better.

[2022-09-20 11:48] pevik commented on #423
@gobenji thanks a lot for having to look into this and #424.

What exactly is wrong on accessing `global_rts->exiting` in signal handler?

[2022-09-20 14:34] hramrach commented on #423
It's on main() stack, and if main() has exited that's not a great idea.

[2022-09-20 18:55] metan-ucw commented on #423
Well looking at the code either we declare the `struct ping_rts rst` as a static, which will make sure that it will outlive `main()` or we disarm the timer.

[2022-09-20 19:26] metan-ucw commented on #424
If you look at the ERR trace closely you can see that piece of the output is actually missing, hence the non-zero exit status is actually correct. When this issue happens random part of the output is missing, which is unexpectedly hard to spot.

So I would say that we either have to live with `SA_RESTART` or incomplete output, unless we manage to rewrite the code in a saner way.

[2022-09-20 19:26] pevik commented on #424
I was blind, as @metan-ucw pointed out there is really missing output, thus whitelisting `EINTR` is obviously wrong idea.

[2022-09-20 20:29] pevik commented on #423
Although find the problem with the timer would be probably more correct, making struct as static looks way easier.

[2022-09-20 20:56] pevik commented on #424
@gobenji Actually `SA_RESTART` works in ping code, I was able to reproduce segfault before, but now it does not segfault and don't block.

[2022-09-23 06:21] pevik commented on #423
@linzhanglong Could you please test https://github.com/iputils/iputils/pull/425?

[2022-09-29 20:49] pevik commented on #415
I'm sorry I haven't had time for this yet.

[2022-09-30 13:32] linzhanglong commented on #423
Hello,  it  works  ok  and  no  coredump  in arrch64.

[2022-09-30 16:09] #423 closed

[2022-09-30 16:09] #424 closed

[2022-10-16 21:12] pevik commented on #339
@tashanamatl could you please share more info about your NIC `vlan1000`. e.g `ip link`, I'm not able to reproduce similar case:

[code]

Ideally steps to reproduce would be great.

[2022-10-17 00:23] tashanamatl commented on #339
Hi @pevik,
This issue was found on s20190709 so it's possible that changes since that release have fixed the issue.
The problem was that when an interface was specified and the address attempted to ping was unreachable then no errors would be received. It looks like you were pinging an address that is reachable as you're getting a response.

[2022-10-17 11:47] pevik commented on #339
@tashanamatl would you mind to test it on latest master? Because I'm not able to reproduce it.

[2022-10-26 10:59] pevik opened #430 "ping: Refuse to use options which are for different IP version"
[code]
The only check with quit is for `-4` and `-6`:

[code]

 There should be check and warning that option is going to be ignored or even `exit(2)` if option is used with improper IP version, e.g. now it quietly ignores that:

[code]

[2022-10-28 18:46] 6eh01der commented on #422
As [themoses](https://github.com/themoses) mentioned in #326 `build_aux/setcap-setuid.sh` contains only cap_net_raw+p. So maybe we just need to change it as `cap_net_raw,cap_sys_nice+ep` ? Something like [336cf88](https://github.com/6eh01der/iputils/commit/336cf881dc091853645c9b02d9bdd6bb897867d5)

[2022-11-04 09:07] pdostal commented on #422
I've tried few commands with Podman:

1) Running the container normally as root
[code]

2) Running the container as root with extra capabilities
[code]

3) Running the container as normal user
[code]

[2022-11-04 20:18] pevik commented on #422
@pdostal Thanks for teaching me podman :).
@6eh01der Yep, both `cap_net_raw` and `cap_sys_nice`, going to merge your fix.

@xyziven Would you please share your real name and email, so that I can add your `Reported-by` tag?
(https://www.kernel.org/doc/html/latest/process/submitting-patches.html#using-reported-by-tested-by-reviewed-by-suggested-by-and-fixes)
No problem if you don't want to share, ju

[2022-11-04 20:34] pevik commented on #422
@xyziven Commit prepared, waiting for your real name and email to add it to git commit.

[2022-11-04 21:31] 6eh01der commented on #422
The first who mentioned this issue (not enough capabilities) was [themesos](https://github.com/themoses) [here](https://github.com/iputils/iputils/issues/326).

[2022-11-08 08:56] themoses commented on #326
@pevik I sent you a mail containing the details. Thanks for pinging me

[2022-11-08 13:40] #422 closed

[2022-11-08 13:41] pevik commented on #422
@xyziven In the end merged without your credentials. It should be fixed, if not, please let us know.

[2022-11-08 13:42] pevik commented on #326
@LurenAA It should be fixed, if not, please let us know.

[2022-11-09 09:07] pevik commented on #411
Fixed in https://github.com/iputils/iputils/commit/a6a905be594488b51a9b1fb3488a839ada8b6aa3 (https://github.com/iputils/iputils/pull/431)

[2022-11-09 09:07] #411 closed

[2022-11-11 15:12] pevik commented on #398
Just for a record, https://github.com/iputils/iputils/commit/92ce8ef2139353da3bf55fe2280bd4abd2155c9f (part of https://github.com/iputils/iputils/pull/396) causes `-I` not working on unfixed kernels. But we added warning in https://github.com/iputils/iputils/commit/c4b8b44a0403f52efc1c76adca9ee2181688ea9c, thus users will know that using `%` notation fixes the problem.

[2022-11-22 15:39] pevik opened #436 "Changelog for 11/2022"
Prepare changelog for 11/2022

[2022-11-22 15:40] pevik commented on #436
@yurchor Could you please notify translations that new release will be released next week?

[2022-11-24 16:32] zviratko opened #439 "ping6 (and possibly others) does not support decimal representation of an IP address"
The following should ping Google.com, but it doesn't

$ ping6 55827987829242797944873063636453564430
ping6: 55827987829242797944873063636453564430: Name or service not known

this is a regression from the ipv4 version:

$ ping 2398823566
PING 2398823566 (142.251.36.142) 56(84) bytes of data.
64 bytes from 142.251.36.142: icmp_seq=1 ttl=116 time=9.17 ms

[2022-11-24 17:46] pevik commented on #439
Thanks for your report. I'm just about to release new iputils version, thus this will have to wait till next version.
I wonder if this ever worked (likely not).

[2022-11-24 17:50] pevik commented on #439
NOTE for myself: `55827987829242797944873063636453564430` => `2a00:1450:4014:80a:0:0:0:200e`

[2022-11-25 23:04] #436 closed

[2022-11-26 01:03] MJochim commented on #421
I justed wanted to weigh in with a small comment that these commits did not change anything related to this issue. The behavior was already present in the very first commit of this repo (3337034). I don’t know how much further back it dates.

As you can see here:

https://github.com/iputils/iputils/blob/33370345c7d8c217b51c13b0e2864b64b53d5f96/ping6.c#L296-L309

If [`inet_pton (3)`](ele) returns 1

[2022-11-26 01:31] MJochim commented on #421
I absolutely share @rnhmjoj’s wish for a reverse lookup, but I can see that a breaking change may be too much here. Maybe an “opposite of `-n`” flag would be a good compromise. (Although personally, I would like to see it as the default behavior.)

As for the reason behind the current behavior, I can only speculate, but I can add my two cents:

I assume that the original author wanted to avoid a –

[2022-11-26 01:56] MJochim commented on #421
And I found the release note of this feature. Apparently it is 22 years old (2000-09-28):

https://github.com/iputils/iputils/blob/2b44aa617510b4db409ad25b87845042d89a25d1/Documentation/RELNOTES.old#L873-L874

Maybe @twaugh remembers the real reason why he proposed this. (We could try to email him, I don’t think this mention will work.)

[2022-11-26 02:29] MJochim commented on #421
Last message from me: I also found two ten-year-old issues on Debian’s bug tracker of the `iputils-ping` package (reported by @vinc17fr):

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=650479 basically asks to change this behavior or document it.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=650478 describes a fault condition that’s basically the same as the one I described, with the prim

[2022-11-28 10:04] Ricky-Tigg opened #442 "'git shortlog' |Document the command for queries made outside a repository"
Hello. A relevant initiative currently informs along with each [release](https://github.com/iputils/iputils/releases), various informations via `git shortlog` in respect to credit. Nevertheless the syntax involved appears to solely apply to queries made while being within a repository. Though a more practical scenario is a query from outside a repository. Then according commands would better match

[2022-11-28 10:59] twaugh commented on #421
I don't remember my reasoning for that I'm afraid. My current opinion is entirely different, ie. that the behaviour shouldn't depend on whether the destination is given as a hostname or an IP address.

[2022-11-28 21:51] pevik commented on #421
I tend to be conservative to preserve old behavior, therefore I'd agree with suggestion to add a new option for opposite behavior of `-n`. (e.g. `-N`).

+1

+1

This will be considered by some people as bug, they will not know `-n`.

+1, IMHO this should not be as a default.

IMHO ping should work by default "normally".

 Also these reasons stated by [MJochim](https://github.com/MJochim) are reall

[2022-11-28 22:28] MJochim commented on #421
As for other tools: `arp` and `netstat` default to doing reverse lookups, which you can disable with `-n`. But their newer counterparts, `ip neigh` and `ss`, default to not doing reverse lookups. You can enable them with `-r[esolve]`.

[2022-11-30 20:53] pevik commented on #442
To be honest, I didn't get what exactly you want and why? Why to change `git shortlog` which is just info for changelog? Feel free to be more specific.