[2014-04-19 00:13] okias opened #1 "SGML to XML man page conversion"
current format doesn't seems much friendly these days, so I'd consider conversion.

xmltoman seems to be better build-able and supported these days than openjade & docbook-sgml-utils.

[2014-04-19 18:36] okias opened #2 "ccc-analyzer hints"
[code]

[2014-05-08 23:37] okias opened #5 "ping: support IPV6 directly"
integrate ping6 functionality into ping.

parameters -4 and -6 could force IP version for domain names, IP address is unique enough to distinguish

Bug: https://bugzilla.redhat.com/show_bug.cgi?id=617934

Proposed steps:
1) make ping6 functions unique, so they won't collide with ping
2) add "-6" option to ping command, which use ping6 codepaths
3) allow ping detect IP version and then decide, add

[2014-05-18 01:58] okias opened #6 "remove -g from default CFLAGS"
it's useful only for debuging, is it needed by default?

Some results for gcc 4.8.2
Default (CFLAGS="-g -O3"):
149K ping
160K ping6

Without -g (CFLAGS="-O3"):
47K ping
51K ping6

Without -g and with -lto (CFLAGS="-O3 -lto"):
44K ping
49K ping6

[2014-07-05 18:09] luckboy opened #8 "Error of ping compilation for musl"
I tried compile iputils-s20140519 and compiler displayed error:
ing.c: In function ‘send_probe’:
ping.c:697:10: warning: initialization makes integer from pointer without a cast [enabled by default]
ping.c:697:10: warning: (near initialization for ‘m.__pad1’) [enabled by default]
ping.c:697:10: error: initializer element is not computable at load time
ping.c:697:10: error: (near initialization for

[2015-05-04 04:01] vapier opened #14 "please document fork status"
please update the top level README.md to document the status of this repo wrt upstream.  unless you happen to come across the announce buried in the netdev archives [1], it's confusing to people that this might be official.  especially since you've got the "iputils" username and not just a project named "iputils" under your own username.

this repo is also out of sync with the upstream git repo [2

[2015-05-12 10:09] xosevp opened #15 "sync with iputils-YH"
http://www.linux-ipv6.org/gitweb/gitweb.cgi?p=gitroot/iputils.git brings three new patches since latest sync:

- ping,ping6 doc: More description on CAP_NET_RAW usage.
- iputils ping/ping6: add (non-raw) ICMP socket support
- 4 iputils ping/ping6: Add a function to check if a packet is ours

-thanks-

[2015-05-13 07:44] nmav opened #18 "when libgcrypt is used no explicit initialization of the library is done"
libgcrypt requires explicit initialization prior to using the library:
https://www.gnupg.org/documentation/manuals/gcrypt/Initializing-the-library.html#Initializing-the-library

iputils doesn't do that, and while the hashing code works now, it may not in the future. For that I've submitted a patch (PR #17) to use nettle (the library used by gnutls) instead.

[2015-05-28 23:27] okias commented on #15
Hey,

at this moment  http://www.linux-ipv6.org/gitweb/gitweb.cgi?p=gitroot/iputils.git  gives me error 503.

If you want, you can try merge them, I think they'll have to be changed little bit to fit on our codebase.

In case you'll be not interested in merging them and sending pull request, I'll do it.

Thank you for report :)

[2015-05-28 23:28] #8 closed

[2015-05-28 23:34] okias commented on #14
Thank you. I'll pull remaining commits ASAP (after error 503 disappear from [2]).

About -fork-. Yoshfuji still didn't tried contact me, so I'd like to keep this at is (after merging few new commits it should be in parity with his iputils with additional fixes on top - as usual).

Also we're close to make progress about merging ping and ping6 together, which should be big step forward.

[2015-05-29 00:06] okias commented on #15
Done.

[2015-05-29 00:06] #15 closed

[2015-05-29 00:07] #14 closed

[2015-05-29 09:13] xosevp opened #20 "There are new patches at netdev ml"
from Mike Frysinger, https://marc.info/?l=linux-netdev&w=2&r=1&s=iputils&q=b
[PATCH iputils] tftpd: fix syslog setup
[PATCH iputils] ping6: allow disabling of openssl support
[PATCH iputils] ping: fix -i number parsing in locales

and maybe others older.

-thanks-

[2015-05-29 11:36] krichter722 opened #21 "Add instructions how to install into a prefix to INSTALL"
or add a `configure` script which should provide an intuitive way to achieve this

[2015-06-11 21:42] #5 closed

[2015-06-11 21:44] okias commented on #20
If you miss some patch, please send him as pull request :)

Some of these should be already incorporate in code (maybe different commit name), if something missing, let me know

[2015-06-14 20:39] pavlix commented on #6
In my opinion, the default `CFLAGS` are useful only for debugging and therefore I would prefer `CFLAGS="-ggdb"` over `CLFAGS="-O3"`. Especially when iputils lack a configure script.

[2015-06-15 10:30] xosevp commented on #20
On 06/11/2015 11:44 PM, David Heidelberg wrote:

CC: Mike Frysinger <vapier@gentoo.org>

These three from Mike Frysinger, https://marc.info/?l=linux-netdev&w=2&r=1&s=iputils&q=b
[PATCH iputils] tftpd: fix syslog setup
[PATCH iputils] ping6: allow disabling of openssl support
[PATCH iputils] ping: fix -i number parsing in locales

[2015-06-18 08:33] pavlix commented on #21
While it would be nice to have some docs for it, the DESTDIR is a ubiquitous way to specify the root directory for makefiles. It might be useful to use autotools for the project as it has other advantages as well.

[2015-06-18 08:35] pavlix commented on #20
Were those patches added already or is anyone going to make the pull request?

[2015-06-18 08:38] pavlix opened #23 "Should we split niquery functions?"
In my opinion the niquery set of functions is pretty much self-contained and it would be best to put it in niquery.h and niquery.c and *use* them from ping/ping6 code.

[2015-06-22 10:43] sravan1 opened #26 "tracepath doesnt show ip of host in output anymore post 20071127 version"
Is this expected ? or a problem

[2015-06-22 11:09] sravan1 commented on #26
tracepath -n <nameserver> fails to list ip of hostname

[2015-06-25 10:56] okias commented on #26
Can you give us example of working and broken version?

[2015-06-25 13:12] sravan1 commented on #26
Say ip of host machine is 10.21.1.1
and name server is 9.0.10.1

With iputils-20071127-17
[sra@xxxxx ~]$ tracepath -n 9.0.10.1
 1:  10.21.1.1       0.072ms pmtu 1500
 1:  9.13.189.170       0.549ms
 1:  9.13.189.170       0.322ms
 2:  9.38.3.133         0.515ms
 3:  9.53.157.167       0.520ms
 4:  9.53.157.13        1.080ms
 5:  9.41.12.153        1.302ms
 6:  9.41.12.14         1.016ms
 7:  9.41.

[2015-07-03 11:29] nmav commented on #18
(default is already nettle so that issue is no longer valid)

[2015-07-03 11:29] #18 closed

[2015-07-14 03:51] thiagolckurovski opened #27 "Bashism inside Doc Makefile"
doc/Makefile uses pushd, a bash builtin, and doesn't compile directly under Ubuntu hosts (that use dash as their sh). Setting the shell to bash (SHELL := /bin/bash) or eliminating pushd/popd from the makefile would fix this.

[2015-09-18 15:27] infragilis opened #29 "trailing dot required"
discovered this issue with rhel 6.6  stock, no update, or with update (no other in our env has this issue / rhel 7/ubuntu 14.4) then got the latest version of iputils from here, compiled and see the exact same behavior. If i place the somehost in /etc/hosts, all works fine

[root@ping-rh iputils]# ./ping -I eth0 somehost   (local name, only avail in dnsmasq)
ping: somehost: Name or service not kno

[2015-09-24 07:41] jsynacek opened #30 "remove "ping6" from the man pages"
Since ping6 doesn't exist anymore, I suggest removing every mention about it from the man pages. Maybe also add a small "historical" note saying that ping6 has been merged into ping.

What do you think? I can submit a pull request if there are no objections.

[2015-09-24 07:50] jsynacek commented on #30
And while we're at it, I can see that commit ebad35f also adds support for -4 and -6, but man pages didn't change.

[2015-09-24 08:40] okias commented on #30
Yeah, 100% no objection. Go ahead and send pull request. Thank you! :)

[2015-09-24 08:56] jsynacek commented on #30
https://github.com/iputils/iputils/pull/31

[2015-10-04 11:55] lonaowna commented on #30
ping6 should also be removed from README.md

[2015-10-23 14:32] lonaowna opened #32 "ping fails when IPv6 is disabled"
When `ping` is ran without the `-4` and `-6` flags, the `create_socket` function is ran for both protocols. This gives the following error on machines which have disabled IPv6 in the kernel:
[code]

The program should not fail when an IPv6 socket cannot be opened, if an IPv4 socket is already available.

[Arch Linux bug report](https://bugs.archlinux.org/task/46297)

[2015-10-24 02:56] Techwolf commented on #32
When I first install my current OS, I disable ipv6 for performance reasons, no ISP support, and to avoid bugs when network has no ipv6 connection.

[2015-10-25 18:45] somasis opened #33 "tracepath and ping fail to compile with musl-libc and linux-headers 4.2.0"
Ran into this while cross compiling for musl. Will check to see if it works fine natively once I can.

[code]

[2015-10-29 11:52] rewolff opened #34 "Wrong host reported."
Sometimes I start a ping and come back days later to find it oddly reporting return packets from the source host itself.
[code]
I'm suspecting that the
[code]
carries over to when the host comes back.

Oh. The ping times reported at first seem to indicate that the packets actually DO travel over the link to the remote host and back.

[2015-11-03 01:57] somasis commented on #33
I can confirm I still hit this when natively compiling.

[2015-11-03 20:33] #33 closed

[2015-11-12 08:26] andreaskern opened #36 "adding long options"
I would like to add long options for better memorability and readability.

Can I just use getopt_long for this?

[2015-11-14 23:03] okias commented on #32
Can you verify, that from this pull request [1], patch "ping: handle single protocol systems" solve problem?

[1] https://github.com/iputils/iputils/pull/28

[2015-11-14 23:05] #6 closed

[2015-11-15 01:15] #27 closed

[2015-11-15 12:00] lonaowna commented on #32
I've tested it, and #28 completely fixes the problem!

[2015-11-15 12:04] okias commented on #32
Fixed in git :)

[2015-11-15 12:04] #32 closed

[2015-11-19 17:46] julianofischer opened #38 "Translation to brazilian portuguese"
I would like to contribute translanting the man pages to brazilian portuguese.
Please, could you gently tell me how could I do it?

Thank you.

[2015-12-14 22:32] itsuugo commented on #34
It's easy to reproduce using 2 hosts (4.4.4.21 and 4.4.4.78 per example) in the same l2 segment. I can't reproduce it if the hosts are in different subnets so the suspect should be certain.

Shutdown one server and start to ping from the other. You start to see a lot `destination unreachable`

[code]

Then, start the server and when the connectivity is recovered you can see that the ICMP src addre

[2015-12-18 14:34] revellion opened #40 "-M pmtudisc_opt is broken in 1c59920"
I'm probing some network with the -M do (do not fragment) flag for pmtu set with ping.

I ran the ping from one host with an older iputils from before the ping/ping6 merge.

And one on a host that i have 1c59920 on. (Latest iputils in ArchLinux testing repository)

It does seem that the newer iputils doesn't respect the -M flag at all.

When i check with tcpdump i see that it does put fragments ou

[2016-02-15 15:40] okias commented on #38
Hello, currently building man pages is kinda tricky and ugly. Right now we prefer to convert whole man pages to something modern.

After we dead with this, we'll appreciate translation. I'll keep this bug open for now and we'll contact you, when it will be ready :)

[2016-02-22 02:26] nmeyerhans opened #43 "Document or correct "mdev" in summary output"
Forwarded from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=477569

Quoting the Debian bug report:

[2016-03-30 11:36] pavlix commented on #1
FYI, building from SGML works for me on gentoo with one small change in the Makefile.

https://github.com/okias/ixit/blob/master/net-misc/iputils/iputils-99999999.ebuild

    diff --git a/doc/Makefile b/doc/Makefile
    index 5136c70..b461664 100644
    --- a/doc/Makefile
    +++ b/doc/Makefile
    @@ -47,8 +47,8 @@ $(MANFILES): index.db
     	mv $@ ..; \
     	$(CLEAN_TMPDIR)

    -fix_sgml2man:

[2016-03-30 11:53] pavlix commented on #29
Have you tried with `getent ahosts` instead of `ping`? I don't think `ping` itself enforces any policy on single-segment FQDN names.

[2016-05-10 22:59] okias commented on #40
@pavlix Could you look at it? If you can spot regression?

[2016-05-16 00:50] vmule commented on #34
I'm not able to reproduce it:

[2016-05-16 12:23] martinbark opened #51 "switch iputils to Meson build system"
@okias,

Would you be interested in either a cmake or autotools build system if i sent a pull request?

The reason i ask is the the two pull requests i made (#42 and #50) are both about linking against the correct libraries. A better solution might be to have a configure stage to check which libraries are needed to link against.

What do you think?

BTW, thanks for maintaining iputils.

[2016-05-16 20:03] okias commented on #51
Well, that would be great!

Generally I prefer CMake, but I'm open to any better solution than current state :)

[2016-05-17 06:16] rewolff commented on #34
Only the third computer that I tried has the bug...
has the bug: ping utility, iputils-s20121221  // ubuntu 14.04
Does not have the bug: ping utility, iputils-s20121221 // ubuntu 15.10
does not have the bug: ping utility, iputils-s20121221  // ubuntu 16.04

It seems that "the version of ping" is not the influence....
I just tried again, and the 14.04 machine reproduced the bug again, and teh 15.10

[2016-05-17 07:58] martinbark commented on #51
OK then I'm happy to work on adding a CMake build system for you.

[2016-05-17 18:36] okias commented on #34
@rewolff after ping and ping6 merge we use these days completly different codebase, can you test with our (new) ping?

@pavlix changed these lines in commit 7ddd66a5e9a6d42359ae56282e26daed63421ce5

[2016-05-17 18:48] okias commented on #34
Also I created brief bugreport, about following debian steps in adopting "our" iputils :)

https://bugs.launchpad.net/ubuntu/+source/iputils/+bug/1582851

[2016-05-17 19:17] rewolff commented on #34
OK. Tested! I cloned the git repo, installed the build-deps for the PACKAGE in my ubuntu dist (16.04) and built ping. Then without installing, I did sudo ./ping rpi and the replies were reported from the correct host.

So... Yes I think it is fixed in the current version!
(it was a pretty stupid bug to begin with actually... if I understand the code correctly......)

[2016-05-17 22:13] okias commented on #34
@rewolff thanks for testing, feel free point this bug on ubuntu launchpad.

[2016-05-17 22:13] #34 closed

[2016-06-04 13:22] sodz opened #54 "Cannot ping IPv4 addresses when SOCK_DGRAM is not supported"
Pinging IPv4 addresses fails when the kernel is too old to support SOCK_DGRAM ICMP socket (actually OpenVZ 2.6.32-042stab113.11).
[code]
However, it is okay to ping IPv6 addresses:
[code]

Apparently it is deliberately instructed in the code not to retry for a raw socket when the errno is EAFNOSUPPORT, which is the return value for IPv4 sockets with SOCK_DGRAM.

I don't understand why or when that

[2016-06-12 23:34] okias commented on #54
@pavlix could you check it?

[2016-07-16 16:02] bd46 opened #55 "[PATCH] broken "-I <ifname>" option"
In Debian/testing, "ping -I..." from package 3:20150815-2 is not working.
Following patch fixes it:

--- iputils-master/ping.c.orig  2016-04-05 19:44:37.000000000 +0300
+++ iputils-master/ping.c       2016-04-15 18:00:08.000000000 +0300
@@ -570,7 +570,7 @@
                        strncpy(ifr.ifr_name, device, IFNAMSIZ-1);

                        enable_capability_raw();
-                       rc

[2016-07-18 08:21] jsynacek commented on #55
What does "not working" mean? Do the packets go through another interface? Also, could you please reformat the patch using the correct markup?

[2016-07-18 08:29] jsynacek commented on #55
Oh, I see now. Basically s/probe_fd/sock->fd/. And I can confirm it works as expected. Without the patch, the -I option is just not honored.

[2016-07-18 08:41] jsynacek commented on #55
Btw, this should probably be fixed for IPv6 as well.

[2016-08-02 08:32] jsynacek opened #57 "ping6 changed exit code"
[code]
This used to be 2. Also, this is also inconsistent with ping4 now, which still correctly returns 2.

[2016-08-02 09:01] jsynacek commented on #57
I have bisected this change in behavior to commit f68eec0eafadc845117fb7daf99bbc221d2eac44.

[2016-08-04 09:26] jsynacek commented on #57
Btw, this bug was introduced in f68eec0eafadc845117fb7daf99bbc221d2eac44.

[2016-08-04 10:08] #57 closed

[2016-08-05 22:12] xse commented on #54
same issue here, archlinux stuck with a 2.6.32-pvu kernel (proxmox)

[2016-08-12 14:12] pavlix commented on #54
I folks. Thanks for the bug report. I submitted the patch that causes this. The patch fixes a problem with IPv4 only kernels (e.g. using ipv6.disable=1 kernel command line) where EPROTONOSUPPORT was returned for IPv6. Therefore when we have a fix ready, we also have to check it on a (recent) kernel with IPv6 disabled.

[2016-08-12 14:17] pavlix commented on #54
Can anyone please explain the difference between EAFNOSUPPORT and EPROTONOSUPPORT? Those are apparently two distinct error codes.

    /usr/include/asm-generic/errno.h:#define	EAFNOSUPPORT	97	/* Address family not supported by protocol */
    /usr/include/asm-generic/errno.h:#define	EPROTONOSUPPORT	93	/* Protocol not supported */

[2016-08-12 19:33] pavlix commented on #51
On the other hand I generally prefer autotools but that doesn't mean much.

[2016-08-12 19:35] pavlix commented on #43
So what change are you proposing here?

[2016-08-12 19:37] pavlix commented on #29
@okias I suggest closing this bug due to lack of information. As far as I know ping uses `getaddrinfo()` and doesn't do any specific preprocessing.

[2016-08-12 19:46] pavlix commented on #26
Were both tested on the same kernel? This difference should be investigated and IMO could be explained using strace.

[2016-08-12 19:47] pavlix commented on #21
@okias It would be nice to accept this patch and get the bug closed.

[2016-08-12 19:48] pavlix commented on #20
@okias

[2016-08-12 20:16] pavlix commented on #2
The unused values seem to be pretty easy. But the *garbage* messages seem to be nonsense. Is there any documentation for those?

    diff --git a/clockdiff.c b/clockdiff.c
    index 4473b93..8c6ff04 100644
    --- a/clockdiff.c
    +++ b/clockdiff.c
    @@ -133,7 +133,7 @@ measure(struct sockaddr_in * addr)
     	long delta1, delta2;
     	struct timeval tv1, tout;
     	unsigned char packet[PACKE

[2016-08-12 20:17] pavlix commented on #2
Some of them might be further simplified if we were able to test the changes.

[2016-08-12 20:22] pavlix opened #61 "what is the purpose of traceroute6 and what shall we do with it?"
We're removing all IPv6 specific software that can be merged into originally IPv4 but now generic variants. But traceroute6 doesn't fit this scenario because there is no traceroute in the package. I would be happy if someone could explain that so that I can proceed with the necessary changes.

[2016-08-12 20:27] pavlix commented on #1
The above gets solved by a recent pull request...

https://github.com/iputils/iputils/pull/60

[2016-08-12 20:39] xosevp commented on #20
For unknown reasons some of them were not included in YOSHIFUJI-upstream:  https://sourceforge.net/p/iputils/code/ci/HEAD/tree/

[2016-08-17 03:06] infragilis commented on #29
yes, please close .. found out that if you add fqdn to /etc/sysconfig/network on centos/RH in stead of alias, all this BS happens .. DO NOT USE fqdn in rhel/centos /etc/sysconfig/network  :)

Thanks guys

[2016-08-19 20:03] pavlix commented on #55
Like this?

 diff --git a/ping.c b/ping.c
 index 4455091..b8140bc 100644
 --- a/ping.c
 +++ b/ping.c
 @@ -569,7 +569,7 @@ int ping4_run(int argc, char **argv, struct addrinfo *ai, socket_st *sock)
  			strncpy(ifr.ifr_name, device, IFNAMSIZ-1);

  			enable_capability_raw();
 -			rc = setsockopt(probe_fd, SOL_SOCKET, SO_BINDTODEVICE, device, strlen(device)+1);
 +			rc = setsockopt(sock->fd, SOL_SO

[2016-08-19 20:06] pavlix commented on #55
Like this?

 diff --git a/ping.c b/ping.c
 index 4455091..b8140bc 100644
 --- a/ping.c
 +++ b/ping.c
 @@ -569,7 +569,7 @@ int ping4_run(int argc, char **argv, struct addrinfo *ai, socket_st *sock)
  			strncpy(ifr.ifr_name, device, IFNAMSIZ-1);

  			enable_capability_raw();
 -			rc = setsockopt(probe_fd, SOL_SOCKET, SO_BINDTODEVICE, device, strlen(device)+1);
 +			rc = setsockopt(sock->fd, SOL_SO

[2016-08-19 20:09] pavlix commented on #40
@revellion Pinging IPv4 or IPv6?

[2016-08-19 21:14] okias commented on #36
Do you have some specific ideas what would be good to have?

Generally, I'm for adding them.

[2016-08-19 21:18] #36 closed

[2016-08-19 21:22] pavlix commented on #23
Closing for now.

[2016-08-19 21:22] #23 closed

[2016-08-19 21:28] okias commented on #20
by brief look it seems we have incorporated these changes.

If there still persist some bug or some patch is missing, please open bug related to specific issue/patch.

Thank you

[2016-08-19 21:28] #20 closed

[2016-08-19 21:33] okias commented on #2
Agree, push your patch. Thank you!

[2016-08-19 21:41] #29 closed

[2016-08-19 21:44] pavlix commented on #2
I'll close it via commit message...

[2016-08-19 22:00] #2 closed

[2016-08-19 22:11] #21 closed

[2016-08-19 22:18] #30 closed

[2016-08-19 22:25] pavlix commented on #51
We talked about it with @okias and I'm going to switch iputils to autotools. In the mean time any patches in that direction are welcome.

[2016-08-20 09:04] bd46 commented on #55
On Fri, Aug 19, 2016 at 01:06:24PM -0700, pavlix wrote:

 Yes.
--
 Eugene Berdnikov

[2016-08-23 10:17] #54 closed

[2016-09-29 01:13] n3ph commented on #55
#56 fixes both - Interface and IP Address binding and works here as expected.

[2016-09-29 08:03] #55 closed

[2016-10-01 02:09] viisauksena commented on #43
for consistency it should be clarifying documentation, so output stays untouched

[2016-11-04 20:17] n3ph commented on #40
Friendly bump. Debian Stretch needs a new release...

[2016-11-10 05:12] nmeyerhans opened #68 "traceroute6: sendto: Invalid argument"
Forwarded from Debian bug https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=843264

traceroute6 does not work at all:

tglase@tglase:~ $ sudo traceroute6 -n www.teckids.org
traceroute to  (2a02:a00:1022:9846::74) from 2a01:4f8:150:946c::42:3, 30 hops max, 24 byte packets
sendto: Invalid argument
 1 traceroute: wrote  24 chars, ret=-1
 *sendto: Invalid argument
traceroute: wrote  24 chars, ret=-1
^

[2016-11-10 05:26] nmeyerhans commented on #68
The bug was introduced in 37953bfbe4bd1b4c2be26d837dcfa2934d5a4e16. We initialize the "port" field our destination sockaddr_in6 structure at traceroute6.c:447:
	to->sin6_port = htons(port);
But later, on line 464, we overwrite that entire structure with a result from `getaddrinfo()`:
	memcpy(to, result->ai_addr, sizeof *to);

result->ai_addr contains '0' in the port field, when we finally call sen

[2016-11-15 23:01] #68 closed

[2016-12-20 15:03] posch opened #70 "ping -Q184 fails with "Invalid tclass""
Worked fine with ping from iputils-s20121221, does not work with ping from iputils-s20160308.

[2016-12-20 17:03] okias commented on #70
Quick fix for you should be converting decimal number to HEX and it should work fine.

DEC numbers worked only for ping ipv4, so probably in merge process was decimal support accidentally lost.

This will be fixed in next release.

Thank you for bug report :)

[2017-01-06 21:51] hanklank opened #72 "Make iputils localizable"
From what I understood, iputils isn't localizable today. Suggestion is to do like coreutils, use gettext and then hand over the translation work to https://translationproject.org/html/welcome.html

[2017-01-11 06:28] robsmith11 opened #73 "Add support for IPPROTO_ICMP"
I'm running a system with restricted user capabilities, so I am unable to use ping:
[code]
Would it be possible to add support for the new socket type that does not require special user capabilities as described in the link below?
https://lwn.net/Articles/420799/

[2017-01-14 19:43] pavlix commented on #73
1) I wouldn't call socket protocols `IPPROTO_ICMP` and `IPPROTO_ICMPV6` new as they've been around for quite some time.

2) We do support them and when refactoring the respective part of the code I also verified it works as long as you configure your kernel to allow it. See the comments in the source code (via the following link) regarding kernel configuration.

https://github.com/iputils/iputils/

[2017-01-14 19:43] #73 closed

[2017-01-14 19:44] pavlix commented on #73
Feel free to reach me on IRC Freenode (e.g. in #vpsfree or #gentoo) for more details.

[2017-01-14 19:45] pavlix commented on #72
@hanklank  Are you going to participate on that change in any way?

[2017-01-14 20:25] hanklank commented on #72
@pavlix  Sorry, I don't have the skills for that.

[2017-01-15 05:05] robsmith11 commented on #73
Thanks for the link pavlix.  For anyone else trying to get it to work, it seems that most distros disable the ping socket by default, but it's easy to enable for all users as shown below:
[code]

[2017-01-25 00:40] pavlix commented on #72
@hanklank Fair enough.

@okias Is there any motivation to make this happen in the community?

[2017-02-16 11:36] vcaputo opened #74 "main_loop() requests POLLERR but ignores it when returned"
I believe I've encountered a kernel bug in linux 4.10-rc8 which caused this pathological case to occur:

[code]

I've already reported it to lkml, but this caused `ping` to spin and burn CPU when arguably it should have exited with an error.  Perhaps the assumption is that a subsequent sendmsg would return error when POLLERR caused poll to return, but that's not happening and sendmsg and recvmsg a

[2017-02-17 04:19] soheilhy commented on #74
I think it's best to read error queue when there is a `POLLERR` along side with an `EGAIN` from the socket. This is a clear indication of having a packet on the error queue, while `sk->sk_err` is not set in the kernel.

[2017-03-01 10:19] pavlix commented on #74
I don't have any clear opinion on the above change. What is the result of the kernel bug submission, by the way? It's not referenced here.

[2017-03-01 19:31] vcaputo commented on #74
The LKML discussion was kind of inconclusive WRT there being a kernel bug, as I have not observed ping spinning since and don't have a reproducer.  The ping implementation does however appear to have a problem with consuming some errors that trigger `POLLERR`, leaving it in a spinning state.

You may find the brief LKML discussion here: https://www.spinics.net/lists/kernel/msg2446361.html

[2017-03-03 12:58] pavlix commented on #74
You are right that a reproducer would help a lot with both the kernel and the userspace. The code flow is not entirely clear in this case and I cannot see all possible consequences of the change. I think I will need to find time to look at the code more thoroughly and make some tests as well.

[2017-03-03 23:17] natexornate opened #81 "traceroute6: tracing to an IPv6 address is broken"
In #68 traceroute6 was completely broken for tracing to a hostname. The fix fixed hostname tracing, but broke tracing to an IP address. Here's output from the current master:

traceroute to 2607:f8b0:4006:80d::2004 (2607:f8b0:4006:80d::2004) from 2604:a880:0:1010::1855:a001, 30 hops max, 24 byte packets
sendto: Invalid argument
 1 traceroute: wrote 2607:f8b0:4006:80d::2004 24 chars, ret=-1
 *sendt

[2017-04-16 01:38] natexornate commented on #81
Fix was merged!

[2017-04-16 01:38] #81 closed

[2017-05-08 21:31] gelidisk commented on #74
I can reproduce this consistently: If I roam between access points on a wireless network while pinging example.com, ping (from iputils 20161105.1f2bb12-2 on x86_64 Arch Linux, kernel 4.10.13) jumps to 100% CPU usage with an strace log like this:

[code]

[2017-05-10 06:20] jsynacek commented on #40
The same has been reported on RHEL7. It **is** a regression

[2017-05-10 09:52] kolorafa opened #85 "ping 100% cpu"
It's the third time that i did left `ping -O 8.8.8.8` running for few days and i get 100% cpu usage from it.

![](https://download.dlk.pl/screenshots/2017-05-10-11-38-18-vv1B9GWNuv02suvI.png)

i did run strace on ping, and 5s of strace is 20MB of log
https://www.dropbox.com/s/93bl3lkhowopco0/ping_strace.log?dl=1

Arch Linux
ping utility, iputils-s20161105

Is there something i can do to help debug

[2017-05-17 08:06] jsynacek commented on #85
I smell overflows. It would be nice to get a backtrace when this happens. If that happens again, please attach gdb to the process (gdb -p <ping pid>) and run "bt full".

[2017-05-31 07:10] Bog999 opened #88 "Bug in ipv6 ping -I"
In ping6_run() there is an if statement which is supposed to set the IPV6_PKTINFO and SO_BINDTODEVICE options, but only the first setsockopt will be executed because there is && instead of || (ping6_common.c line 798)

[2017-05-31 15:10] vvidic commented on #68
And now the port is 0 when you send to and IPv6 address directly, so better move port setup after the whole if block.

[code]

[code]

[2017-05-31 15:13] vvidic commented on #68
Here is a fix that works:
[code]

[2017-05-31 15:17] vvidic commented on #68
Seems this is fixed already, we just need to pull it into the Debian package.

[2017-06-02 13:52] soheilhy commented on #74
This has been reported and is consistently reproducible. Please see:
https://www.mail-archive.com/netdev@vger.kernel.org/msg171251.html

Pull request #75 is confirmed to fix it properly.

[2017-06-02 13:57] soheilhy commented on #85
What's your kernel version? If it's 4.10+ it smells like: https://github.com/iputils/iputils/issues/74

[2017-06-02 16:28] kolorafa commented on #85
Now i'm on 4.10.13. But i could be on 4.10.x when that happend.
After updates it didn't happen again so probably fixed.

[2017-06-02 16:28] #85 closed

[2017-06-02 16:52] wdebruij commented on #74
Kernel patch http://patchwork.ozlabs.org/patch/770504/ will work around the issue.

It remains racy to call read() following a poll() that returns POLLERR and base the decision to read from the error queue on the return value of read.

sk_err can be set directly or as a result of an ICMP error being queued on the error queue.

Most robust is to just try recv MSG_ERRQUEUE whenever POLLERR is return

[2017-06-02 17:15] soheilhy commented on #85
No, I had a partial fix it in 4.10.13 which fix this issue in *some* cases but not always.

[2017-06-11 06:22] meeuw opened #90 "ping 100% cpu"
I'm using `ping6` to ping from a specific ip address `-I` to my router and after some time ping uses 100% CPU (measured in `top`).

Linux kernel: `4.10.16-200.fc25.x86_64`
`iputils-20161105-1.fc25.x86_64`.

`strace` gives a continous loop of:
[code]

The output from ping doesn't report any problems (only a changing TTL):
[code]

Related to closed issue #85

[2017-06-16 13:11] meeuw commented on #90
[code]

I'm now using linux `4.11.4-200.fc25.x86_64`

[2017-06-19 05:32] meeuw commented on #90
Hmm this seems to be fixed in `4.11.5-200.fc25.x86_64`

[2017-06-19 05:32] #90 closed

[2017-06-21 19:41] msva opened #91 "Move from libidn to libidn2 (or add possibility to select between them)"
Hi there!

It would be nice if you consider to move from libidn to libidn2:
https://www.gnu.org/software/libidn/#libidn2

[2017-06-29 12:01] woodvillage opened #92 "a question about tracepath"
How to identify the packet received?
Is there possibility that the recvd packet is the reply of last hop? (because of time delay or sth.)
I did some research of "tracepath.c", but still no idea now.
Anyone can help? thank you very much!

[2017-07-01 22:51] xftroxgpx commented on #32
**tl;dr:** to have ping work when ran as a non-root user, this must be so:
[code]

------

Hey just wanted to leave a note here in case anyone stumbles upon this(from searches like I did) somewhat related case where ping from root works but from local user doesn't.
I did a `rsync -a /oldroot/ /newroot` but I should've done `rsync -X -a /oldroot/ /newroot` (-X is --xattrs                preserve ex

[2017-07-13 11:40] #92 closed

[2017-07-15 15:43] #40 closed

[2017-07-16 08:59] okias commented on #51
Well, as time passes, we got Meson build system, which seems like successor of autotools.

So new way leads to Meson :)

[2017-07-16 21:55] okias commented on #51
I created _experimental_ https://github.com/iputils/iputils/tree/meson branch. You can test build, improvements welcome! :) It works very well, now we need cover all corner cases.

[2017-07-16 21:59] okias commented on #91
it will be possible to use libidn2 in future, but it will be build time choice.

Would be also good, if you pointed to some advantages over using libidn

[2017-07-17 08:25] okias commented on #72
@pavlix I don't think so, even locales makes issues, because ping is used in many scripts.

@hanklank At this moment, I don't see any gains. Ping is small simple utility and English language is widely used in IT field..

If someone propose some way, to enable it at build-time and send pull request, I'll probably accept it.

[2017-07-17 09:09] okias commented on #70
@posch, feel free to retest branch https://github.com/iputils/iputils/commits/tos_fix

@pavlix can you recheck? Also I planning drop hextoui function now used only for "-F"

[2017-07-17 14:11] okias commented on #26
I didn't found since initial import in 2006 (git log) any change. It seems to be exactly same.

Are you sure it was ping from iputils suite? Anyway, this could be good feature to have..

[2017-07-20 17:17] iblancasa opened #93 "License"
Where is the license?

Thank you :+1:

[2017-07-20 17:22] okias commented on #93
In the c files

[2017-07-20 18:13] iblancasa commented on #93
Ok, thanks.

I think would be a good idea to have a LICENSE file. It would be less confuse

[2017-07-20 18:15] okias commented on #93
Yes, I agree, feel free to send pull request, just beware, every utility from iputils suite has different license

[2017-07-30 00:01] Envy3689 opened #94 "Ping packetloss% upgrade"
Hello, Really new to github sorry for putting this here if it doesn't belong there.

Using a ping command I realised the % for packetloss upgrade was not really accurate. Actually if you make like 30 000 pings and received 29 950 of them, since u did not hit the 1%, the output missleads you and tell you that you have 0% packet loss.

I'd love to see a slight improvement for this with a symbol (>/=

[2017-07-30 21:39] okias commented on #94
Well, maybe we could use number with floating point, but not sure about compatibility with scripts.

Maybe we could do this "smart" enough, to show float only when it's in range 0-1 and 99-100.

What do you think @pavlix ?
This shouldn't broke any existing scripts and in case when they rely on 0 or 100 value and it's not 0 or 100 they probably has been showing invalid value anyway..

[2017-07-30 21:42] okias commented on #94
[code]
Verified - it's bug.

[2017-07-30 22:10] okias commented on #94
[code]
We have shiny fix, @Envy3689 feel free to test https://github.com/iputils/iputils/tree/accuracy_fix branch

[2017-07-30 22:44] Envy3689 commented on #94
Looks awesome thank you :)

[2017-07-31 16:49] #70 closed

[2017-07-31 19:51] okias commented on #1
Conversion had begun, it seems we'll be able use xsltproc (part of libxslt library) same way as systemd use.

[2017-08-01 10:10] okias commented on #27
We'll get rid of pushd/popd soon together with SGML -> XML move. #1

[2017-08-05 09:23] okias commented on #74
Do we need this fix? Can you briefly describe it for me? And also some test scenario would be nice. :)

[2017-08-07 11:21] #94 closed

[2017-08-07 13:53] okias commented on #93
Pushed license informations, hope it's OK now :)

[2017-08-07 14:10] okias commented on #61
At least by quick look into debian bug tracker, it seems this utility has still users [1].

Maybe at some moment when there will be replacement with full functionality or simple TODO, how to switch from traceroute6 to some alternative.

Closing for now. Feel free to reopen in case of some progress.

[1] https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=863824

[2017-08-07 14:10] #61 closed

[2017-08-07 14:14] okias commented on #38
Good news, since be0657da8842e90db446b10fbb9335d9033c54f2 we have docs in XML and we're able process them with xsltproc, which opens possibilities to translations.

If you considering to do some translations, feel free to go ahead! :)

[2017-08-07 14:14] #1 closed

[2017-08-07 14:15] okias commented on #88
@Bog999 can you provide some test-case?

Thank you

[2017-08-07 16:51] okias commented on #43
Does this docs (man) correction seems OK with you guys?

[2017-08-07 19:46] julianofischer commented on #38
Very nice, @okias.
Thanks.

[2017-08-10 14:10] okias opened #96 "make iputils Rusty!"
Since iputils codebase is pretty old, using many formating styles and there is really small amount people, which are able to understand code, I'd like open discussion about slowly replacing codebase with Rust based code.

Goals:
- simplify code
- make it more understanble to newcomers
- Rust itself make it much more robust, more secure
- maybe even some performance gains, but that's only small bon

[2017-08-18 22:20] okias commented on #91
Ongoing work here: https://github.com/iputils/iputils/pull/97

[2017-08-18 22:40] #43 closed

[2017-08-19 15:28] hanklank commented on #72
@okias Thanks for the reply, We have some free time for doing open source stuff at work. I will certainly look into it when time allows, but don't know when, (and I'm super rusty at C),  so if someone else is reading this and thinking about it, just go ahead.

[2017-08-20 20:33] okias commented on #72
@hanklank I'd recommend you to check https://github.com/mikeecb/ring project (which maybe at some point will be used in iputils), and try make it part of it

[2017-08-24 19:47] nmav commented on #91
Note that there is no reason to keep compatibility with libidn. libidn implements an old standard (IDNA2003), while libidn2 implements the current standard (IDNA2008) in internationalized names.

[2017-09-05 16:51] nmeyerhans opened #98 "tracepath documentation still references a tracepath6 binary"
Forwarded from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=869202

The [tracepath documentation](https://github.com/iputils/iputils/blob/master/doc/tracepath.xml) still contains multiple references to a tracepath6 binary, which we no longer build or install.

From the original report:

[code]

[2017-09-05 18:17] okias commented on #98
at least for ping, distribution sometimes link ping as ping6. I think it's not necessary for tracepath, so feel free to push fix :) since we have XML now, it should be piece of cake :)

[2017-09-05 18:23] nmeyerhans commented on #98
Yes, we ship a ping6 link in Debian currently, but we don't do that for tracepath6.

I'll send a PR to update the XML...

[2017-09-14 13:22] pevik opened #99 "Broken ping to local interfaces with IPv6"
This bug was introduced in #57.

    $ ip addr |grep 'inet6'
        inet6 fe80::fc54:ff:fe2d:cc21/64 scope link

    $ ./ping -6 fe80::fc54:ff:fe2d:cc21
    connect: Invalid argument

[2017-10-05 21:54] adambirds opened #102 "CentOS 7 - ping address family not supported by protocol"
I get the following error on CentOS 7 when trying to ping:

ping: socket: Address family not supported by protocol

Performing the following commands to downgrade to a previous version fixes it:

yum downgrade http://vault.centos.org/7.2.1511/os/x86_64/Packages/iputils-20121221-7.el7.x86_64.rpm
add "exclude=iputils" to "[base]" section of /etc/yum.repos.d/CentOS-Base.repo to prevent the broken ver

[2017-10-08 20:01] okias commented on #102
Hello Adam,

could you be more specific, which type of address you trying to ping? Also could you share your network settings?

[2017-10-11 08:24] jsynacek commented on #96
My humble opinion below. Note that I mainly write about ping, as it is arguably the most used program of the iputils suite.

Yes, this is a great reason and I like it. That's the only good reason to rewrite iputils, especially ping.

Why? Newcomers to what? It doesn't make any sense.

It doesn't actually matter if it's Rust or C. The ping code was quite robust IMO before it turned into spaghetti m

[2017-10-11 08:39] jsynacek opened #104 "ping -I device_name device_ip_address (self) does not work"
It's a rather cosmetic issue, but still...
[code]
Note that using the device name when pinging the IP address of the same device results in ping not working, whereas using the device IP address instead of its name does work.

This is a result of https://github.com/iputils/iputils/pull/56. I didn't really find a problem with the code itself. The described problem seems to happen because of the `set

[2017-10-12 20:51] brettwooldridge opened #105 "IPv6 SOCK_DGRAM/IPPROTO_ICMP question"
I'm sorry for a question *slighly* unrelated (but still related) to iputils...

I have a program which is creating user-space ICMP sockets using the pattern (on IPv4) ``socket(AF_INET, SOCK_DGRAM, IPPROTO_ICMP)``.  In order for this to work (on CentOS), I must first enable the capability by ``sysctl -w net.ipv4.ping_group_range = "0 9999"``.  *Even root* (on CentOS at least) cannot create such a u

[2017-10-14 22:53] adambirds commented on #102
I was trying to ping an IPv4 address.

[code]

My IP is not the one listed at the bottom so just added a fake one in its place.

[2017-10-15 07:40] Bog999 commented on #88
connect eth1 and eth2 to two networks (or to the same network). There should be a host with the address 2001::2/64 to perform the test on.

ip -6 addr add 2001::1/64 dev eth1
ip -6 addr add 2001::222/64 dev eth2

"ping 2001::2" - Works as expected
One of these tests will fail because ping ignores the -I flag - The packets will go out of the wrong interface.
ping 2001::2 -I eth1 - Expected: Ping go

[2017-10-22 23:06] Al-Caveman opened #109 "Colorize `ping` output, and maybe other commands"
I think we are missing a lot. Check this out http://denilson.sa.nom.br/prettyping/

Would be great if `ping` has nice coloring. Maybe add `--color=(always|auto|off)`.

[2017-10-25 12:18] vmallika opened #110 "ping sometime exists before receiving last packet with -A option"
ping sometime exists before receiving last packet with -A option.
Even if -W option is supplied with bigger number, it terminates.

In the __schedule_exit it looks like timer is set when N packets are transmitted, but only (N-1) packets are received.

Timer is set to "2 x max-round-trip-time".
Here round-trip time will be less than a milliseconds. i.e 0sec and 0 usec and eventually setting timer w

[2017-10-30 13:26] bluepowder commented on #102
This has also been reported here: https://bugs.centos.org/view.php?id=12407

[2017-10-31 08:58] #99 closed

[2017-10-31 09:20] gpb76 opened #112 "ping6 crash while getifaddrs return entries with if name NULL"
ping6 segfault 0 while getifaddrs return entries with ifa->ifa_name == NULL.
https://sourceware.org/bugzilla/show_bug.cgi?id=21812 --> this bug hit, causing ping6 to crash

crashed here ==> if (!strncmp(ifa->ifa_name, device, sizeof(device) - 1)

[2017-11-01 09:22] pevik commented on #99
NOTE: it used to be possible in the past: added in f68eec0 ("ping: perform dual-stack ping by default") and removed again in e25568f ("correctly initialize first hop").

[2017-11-01 10:19] pevik commented on #112
It looks like a corner case. It would be nice to have a way how to reproduce it.

[2017-11-01 10:43] pevik commented on #91
@okias It seems it's done now.

[2017-11-01 10:51] #91 closed

[2017-11-02 04:01] gpb76 commented on #112
I don't see any easy way to reproduce it.  the system has feature of adding /removing the interfaces continuously and seen once.

[2017-11-03 12:18] pevik commented on #88
Confirmed

[2017-11-03 16:23] pevik commented on #88
@okias @pavlix I fixed this issue in pull request, but the question it is actually better than the previous behavior, when IP is accessible, but not from the iface we specified.

[2017-11-03 17:02] Bog999 commented on #88
I believe that this is the functionality for IPv4

[2017-12-03 23:03] prometheanfire opened #117 "failure on musl when idn is enabled"
Musl built with this patch, git master.

https://paste.pound-python.org/show/fL41zvIQn8jvybYXkfpm/

If built with idn (or idn2, both tested) enabled all lookups won't happen.  Here's a strace.

    strace -s 4096 -o /tmp/ping.strace.log /bin/ping -c 1 www.köln.de

https://paste.pound-python.org/show/qdiPCezgEoizMp1y0d3G/

even when not trying an idn I get failures

    # ping google.com
    ping:

[2017-12-03 23:06] okias commented on #117
https://github.com/iputils/iputils/pull/111 there is already unfinished pull request for this fix.

[2017-12-03 23:08] prometheanfire commented on #117
yep, he's updating the PR iirc, fixes the build, but not the runtime issues.

[2017-12-03 23:10] okias commented on #117
if you can, please send pull request, it does build test etc. :)

I'll merge change as it pass build test.

[2017-12-03 23:18] prometheanfire commented on #117
ok, now we just need runtime tests to work (ping totally fails with idn, whether or not pinging an idn address).

[2018-02-23 11:49] tomop-tg commented on #72
Hi.

Please see #124 .

[2018-03-10 15:01] kerolasa commented on #96
I think switching from one language to another is different project. Assuming iputils-rust is better I'm sure distributions will switch using it rather than C implementation.

Meanwhile this project seems to be having trouble getting pull requests merged (or rejected), and issues closed. @okias do you want / need maintainer help? For example https://github.com/iputils/iputils/pull/75  should be me

[2018-03-14 22:31] #74 closed

[2018-03-14 22:32] okias commented on #96
@kerolasa some maintainer help would be appreciated. I'm working full time, so I don't have much spare time.

Feel free to write me, if you're interested.

David

[2018-04-18 03:38] amitsaha opened #125 "Question: why do we need `probe_fd` in ping.c?"
I was going through `ping.c` to understand its working. Is there any reason to use a different (new socket) `probe_fd`? Why can't we use the `sock->fd` which is what we eventually use to send the ICMP packets over. Basically:

[code]

Obviously there is a good reason for using a different socket. Wondering what that is?

Thanks.

[2018-05-06 20:10] #88 closed

[2018-05-12 08:10] pingz opened #127 "checksum always success in IPv4 ping"
If checksum in ICMP echo reply packet is not correct, ping will still count it as success, not as corrupt as intended and nothing in output to tell a differ instead of displaying a `BAD CHECKSUM!` like below (IP just an example):

`8 bytes from 203.0.113.4: icmp_seq=1 ttl=84 (BAD CHECKSUM!)`

The PR #121 already had been submit as the attempt to fix this issue.

PS: also as tested, a bad checksum

[2018-05-15 08:49] okias commented on #127
#121  merged, closing

[2018-05-15 08:49] #127 closed

[2018-05-15 21:11] Rosanna4 opened #128 "New release"
Last release was over 1,5 year ago. There were [64 commits](https://github.com/iputils/iputils/compare/s20161105...master) since. Can you make a new release so users who follow them will benefit from all of this great work? Thank you.

[2018-05-16 04:56] pevik commented on #128
Thanks for asking for it. I was thinking about opening the ticket as well some time ago.

[2018-05-16 04:57] pevik commented on #128
@okias FYI

[2018-05-17 21:12] bahamat opened #129 "Continuing issues with SOCK_DGRAM"
This is related to #54 and #32.

I'm getting the following

[code]

With strace:

[code]

This is on arch linux in Docker.

[code]

[2018-05-17 21:58] pevik commented on #129
@bahamat there have been quite a lot of fixes since 1f2bb12 (November 2016) in `ping*.c` and `ping*.h`.
Can you try it on master? In my case it's ok (but not tested in Docker)

[code]

[2018-05-24 04:32] nmeyerhans opened #130 "ping fails to work with puny encoded domains with LC_ALL=C"
This is forwarded from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=898978

I've verified the behavior as of db372e378e4cb6fbf8d3e244a5b3e2a30d6c2130 but have not yet investigated further.

[2018-05-24 10:02] pevik commented on #130
@nmeyerhans Fixed.
@pavlix @okias Can you please review it?

[2018-05-24 10:21] pevik commented on #130
@okias @pavlix  I include  `<locale.h>` in `ping.c`, while it's included conditionally also in `ping.h`. Maybe you prefer it only in `ping.h` (move out of the condition).

[2018-05-24 14:48] nmeyerhans commented on #130
I can confirm that the proposed fix in #131 resolves the issue.

[2018-05-27 11:28] e-minguez opened #132 "[RFE] Add -o flag to ping (like BSD ping) to exit after a successful reply"
It seems quite useful https://twitter.com/Andrew___Morris/status/1000500584842170368

BSD seems to support it https://www.freebsd.org/cgi/man.cgi?ping(8)

[2018-05-27 15:47] pevik commented on #132
+1

[2018-05-27 16:06] okias commented on #130
just move locale.h outside ifndef in ping.h, otherwise fine :)

[2018-05-27 16:07] okias commented on #132
sounds like useful feature, I'm open to merging implementation

[2018-05-27 16:09] okias commented on #128
definitely agree, only thing is I'm kinda busy and I wanted to review proper meson support in #120 pull request.

[2018-05-27 16:15] pevik commented on #130
@okias Done. Warnings in clang builds in ping aren't caused by this change (it'd be nice to have it fixed, but next time).

[2018-05-27 16:40] #130 closed

[2018-05-29 07:38] jsynacek commented on #132
The same can be accomplished by using `-c 1 -w <timeout>`, can it not?

[2018-05-29 07:44] okias commented on #132
@jsynacek well, I think you can omit `-w <timeout>` and you'll get exact same functionality, but haven't looked into BSD implementation, only man page

[2018-05-29 12:21] jsynacek commented on #132
In my opinion, no, because you can set it to something hilariously large, which then practically means "infinity".

[2018-06-03 14:44] #102 closed

[2018-06-08 06:00] initrider opened #133 "Why double "ping: socket: Permission denied, attempting raw socket..." occurs in verbose mode"
I've installed [this](https://www.archlinux.org/packages/core/x86_64/iputils) `iputils` package on my Arch Linux, which using [Cabatibles](https://wiki.archlinux.org/index.php/Capabilities) instead of SUID to run ping from. The ping works from **root and from normal user** correctly, but if I run ping with -v option on **both** these users, ping will print that message before pinging. See:
`ping g

[2018-06-22 15:29] #133 closed

[2018-06-24 09:39] pevik commented on #133
Seeing you closed the ticket. I wonder whether you solved your problem?

[2018-06-26 07:31] jsynacek commented on #128
I suggest postponing the meson support and do a release just for the fixes. I would like a release as well.

[2018-06-29 18:06] okias commented on #128
@jsynacek  right right, I almost forgot why I created this github iputils repository.. to avoid individual patching in distros..

So, release is available here: https://github.com/iputils/iputils/releases/tag/s20180629

[2018-06-29 18:06] #128 closed

[2018-06-29 18:07] pevik commented on #128
@okias Thanks a lot!

[2018-06-29 18:40] pevik commented on #128
@okias do we have checksum or sig files for source tarballs?

[2018-06-29 19:00] okias commented on #128
@pevik , nope only signed tag..

[2018-06-30 10:06] pevik commented on #128
@okias how does signed tag helps to verify downloaded tarball? Am I missing something?

*.asc file would help
https://wiki.debian.org/Creating%20signed%20GitHub%20releases

[2018-06-30 10:13] okias commented on #128
@pevik done thx

[2018-06-30 10:33] pevik commented on #128
@okias Thanks a lot!

[2018-07-12 23:17] mortya opened #135 "ping does not respect LOCALDOMAIN"
Most commands on a Linux box respect the environment variable LOCALDOMAIN by way of the standard host resolving libraries.  LOCALDOMAIN lets one set up a user-level DNS/resolving search path.  The ping command does not respect LOCALDOMAIN.  This should be fixed.

The LOCALDOMAIN environment variable is documented in resolv.conf.

[2018-07-17 17:00] pevik opened #137 "tracepath address copying is broken"
Commit e669c86 (tracepath: fix heap-buffer-overflow [asan]) broke copying address in tracepath. Resolution works, but it's slower at the beginning due wrong address.
Bug found by LTP test https://github.com/linux-test-project/ltp/blob/master/testcases/network/tcp_cmds/tracepath/tracepath01.sh
I'm sending a PR to fix it.

[2018-07-19 11:17] #137 closed

[2018-08-02 03:24] abrasive opened #141 "Time rounding breaks time display"
Hi,

the rounding correction merged in commit 5f5a34c1b4d418ea68c27c00d3a0c173dd5560d6 causes erroneous output when the fractional part rounds to 1.
For example, the value 4.996ms should be displayed as 5.00ms, but is displayed as 4.100ms:
[code]

[2018-08-03 12:12] dhxgit commented on #141
Should be fixed with PR #142

[2018-08-10 14:48] Teutone commented on #129
I came across this same error in debian 9.5 instances on Triton Data Center (SmartOS). If I can be of any help, please tell me how!

[2018-08-11 13:10] pevik commented on #129
@Teutone can you please test it with latest master build?

@Teutone @bahamat I guess specifying `-4` does not help.
Can you please report kernel version (`uname -a`) and kernel parameters (`cat /proc/cmdline`)?

Paste somewhere your kernel config (`/boot/config-$(uname -r)`) could also help debugging?

Could you please test my development branch, where I enabled fallback to raw protocol also for I

[2018-08-16 12:28] Teutone commented on #129
Just tried latest master build - not working.
Specifying -4 does not make a difference sadly.

But great news: With your development branch, things work as expected!
Just compiled and tried it on a debian 9.5 container.

Here are the outputs of

`uname -a`
`Linux hostname 4.10 BrandZ virtual linux x86_64 GNU/Linux`

`cat /proc/cmdline` is empty as is `/boot/` in this specific context (triton conta

[2018-10-04 12:23] lyqaiym opened #148 "tracepath.c host 'i.xueersi.com' and ttl 22 timeout"
but 'ping -c 1 -t 22 i.xueersi.com'
PING s5wa6168cj732uol.alicloudlayer.com (218.11.0.214) 56(84) bytes of data.
64 bytes from 218.11.0.214: icmp_seq=1 ttl=128 time=21.6 ms

[2018-10-15 18:30] kerolasa commented on #51
Meson build work is done & merged.

[2018-10-15 18:30] #51 closed

[2018-10-15 20:30] mortya commented on #135
I tested on Debian 8.11, CentOS 7.5.1804, and Ubuntu 17.10.  All work for LOCALDOMAIN with "regular" commands such as curl, wget, nc, and getent.  nslookup, host, and dig do not work, because those are commands that are specifically intended to debug DNS resolving and therefore have their own resolver libraries.

For example, here is Debian.  (Note that we're getting 404s from the google webserver

[2018-10-15 21:01] #129 closed

[2018-10-18 22:43] kerolasa commented on #135
I found my issue. If systemd-resolved.service is running it breaks LOCALDOMAIN.

Second observation, if I ping as root LOCALDOMAIN setting works. Problem seems to be related to getaddrinfo() hints that are messed up by create_socket(&sock6) call. I will need to dig deeper into this sometime later; hopefully soon.

[2018-10-18 22:43] #141 closed

[2018-10-18 23:40] kerolasa commented on #135
Correction. There's nothing wrong with create_socket() or hints. While compiling multiple times, trying various things I lost track. After running my tests I have started to think adding any cabability to any binary breaks LOCALDOMAIN lookup. For example:

[code]

[2018-10-19 00:32] nmeyerhans commented on #135
This is by design. libc has a set of variables that it removes from the environment before executing programs with elevated privileges. See https://manpages.debian.org/stretch/manpages/ld.so.8.en.html#Secure-execution_mode and https://sources.debian.org/src/glibc/2.27-6/sysdeps/generic/unsecvars.h/ for details.

[2018-10-19 18:32] kerolasa commented on #135
Thank you @nmeyerhans secure-execution mode seems to the cause why LOCALDOMAIN environment variable is removed. That making ping to go around this security mechanism does not sound feasible.

[2018-10-19 18:32] #135 closed

[2018-10-19 19:17] kerolasa commented on #98
The tracepath6 fix was done in commit 52370fa17af1f007af1b589e951b5cfc628a6df6

[2018-10-19 19:17] #98 closed

[2018-10-19 19:38] kerolasa commented on #105
Despite the name net.ipv4.ping_group_range controls both IPv4 and IPv6 sockets. This has been the case since kernel version 3.11[1]. Second option is to use CAP_NET_RAW capability[2], that is the what ping does. Alternatively one could run binaries as root, that is usually done by using setuid bit, but this cannot be considered as good practice. See also  Sturmflut's blog post[3].

[1] https://git

[2018-10-19 19:38] #105 closed

[2018-10-19 19:54] mortya commented on #135
That makes sense.  Thanks!

[2018-10-19 21:01] kerolasa commented on #112
@gpb76 if you are still around it would be nice to get pull request I just created tested where you have the issue.

[2018-10-19 21:15] kerolasa commented on #132
ping already has too many options. Functionality mentioned in twitter message can be implemented with a simple shell oneliner, that can be converted to a script if needed.

[code]

[2018-10-19 21:31] kerolasa commented on #109
I don't think ping needs colors. If something adding structured output would make ping better. Anyone interested adding libjson-c to this project? And while on it tracepath should also support structured output.

[2018-10-20 09:28] kerolasa commented on #117
Mostly reproduced. idn name resolution does not work.
[code]
But my musl build worked fine when pinging IP or none-idn name.

[2018-10-20 10:03] kerolasa commented on #117
musl libc site seems to be down (2018-10-20T10:01+00:00). Never mind, googling around gave me impression musl does not have support for IDN, so 'Name does not resolve' is pretty much as good as this gets right now.

[2018-10-24 20:56] kerolasa commented on #112
Lets hope commit d52fa39545bfa8dd6656a5bfc6cf119c1d57381e makes code robust enough that this issue will not happen in future.

[2018-10-24 20:56] #112 closed

[2018-10-24 21:51] pevik opened #155 "Git history & merge with git instead of github UI"
Hi,

sorry to trouble you with administrative task.
Looking at git history being full of merges (sometimes even changes in merge, which is IMHO bad) and complicate tree I'd propose instead of simple merging with git button to do it with git command:
1) clone one's branch locally (git remote add URL login; git fetch login)
2) rebase it against master (git rebase master)
3) push it (git push origin)

[2018-10-24 22:49] kerolasa commented on #104
I guess cancelling socket option when it does not work is an option. See commit 4082ba9e780320e3c6e31a21c7d7ad164c229b5b.

[2018-11-11 09:46] wickedsp1d3r opened #157 "Make: I/O error (Attempt to load network entity)"
With the latest version I have issues with `make`.
I do not have `docbook-xml` and/or `docbook-xsl` installed.
Could I pass `make` without them?
With `iputils-s20151218` I could.

Output:
[code]

[2018-11-11 10:36] kerolasa commented on #104
Merged: cc44f4c5c2e72f7aa833658a6978d924ff9e059d

[2018-11-11 17:12] kerolasa commented on #157
Both ./configure and Makefile are wrappers to meson build, and they exist to give people who are new to meson easy starting point how to do most common things. What could do is

[code]

But perhaps even better if I will make meson to automatically disable man page builds when xslproc is not found.

[2018-11-19 00:42] kloczek opened #158 "rdisc.c compilation fails"
[11/19] gcc -Irdisc@exe -I. -I.. -fdiagnostics-color=always -pipe -D_FILE_OFFSET_BITS=64 -D_GNU_SOURCE -O3 -g -fno-strict-aliasing -Wstrict-prototypes -Wall -DCAPABILITIES -DUSE_IDN -DUSE_OPENSSL -O2 -g -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fexceptions -fstack-protector-strong -grecord-gcc-switches -specs=/usr/lib/rpm/redhat/redhat-hardened-cc1 -specs=/us

[2018-11-19 14:45] pevik commented on #96
Rust is fancy and modern, but it lack support for many archs:
https://lwn.net/Articles/771355/
So please, if anyone plans to work on Rust implementation, create separate project for it.

[2018-11-19 20:49] kerolasa commented on #158
Is your git up to date? Line that is being complained about has is 720 in commit 5410cde3015c4eb065916892e930a66bdc243e14. My hunch is that you miss commit 027f92312434ccde7c6eb9070283cbd00d6cc5ce. Based on line number I'd say your branch is somewhere in between: 4775f3be4fa45387ee122ce39a30917dc639d299..120602e27be8f3acb0cf695952f81ca684543893 there is be plenty of change to catch up. Lets start

[2018-11-19 21:38] pevik commented on #158
I'd give it some time to test new meson build.

[2018-11-19 21:58] #148 closed

[2018-11-27 00:09] Smithx10 commented on #129
I am trying to build ip utils, and am having issues with...

[code]

I can't figure out what C Library or package cap is in.

[2018-11-27 09:42] okias commented on #129
@Smithx10 try libcap

[2018-11-27 18:22] Smithx10 commented on #129
@okias,

I did,  I'm trying to build it on CentOS-7,  and ensured that libcap was installed.

Any ideas?  its failing on the ld -lcap

[2018-12-17 22:49] kerolasa commented on #72
Thanks to @tomop-tg localization support is done.

aeec6a0a5247a2526306479f57f987bf6c09f3d8
1c9f77ac19f1ec645d81e4feab2fb7f5e2bba86d

[2018-12-17 22:49] #72 closed

[2018-12-19 10:30] kerolasa opened #162 "new defaults BUILD_RARPD=false USE_IDN=true"
Does anyone have objections to drop rarpd from default build?  Even the manual page is telling: This facility is deeply obsoleted by BOOTP and later DHCP protocols. However, some clients really still need this to boot.

And since build defaults are discussed how about enabling IDN translations by default. Sure enough there is only Japanese translation, but it's unrealistic to think something might

[2018-12-19 20:36] pevik commented on #162
@kerolasa Agree with both.

[2018-12-20 20:58] kerolasa commented on #162
Maybe traceroute6 should be disabled as well, much like tracepath manual page is hinting: tracepath -6 is good replacement for traceroute6.

[2019-01-18 11:00] polynomialspace commented on #132
A naive attempt at this can be found at 58948a2fd9663d1b00a85b68b21038c465ff95d6.
I was looking to extend it to allow setting a count (rather than exiting after only one successful reply), but that's probably going for a bit too much considering the comment on ping already being too featureful.

[2019-02-17 04:23] peterwillcn opened #165 "What's the difference http://www.skbuff.net/iputils"
What's the difference ？
https://github.com/openwrt/openwrt/pull/1804
http://www.skbuff.net/iputils

[2019-02-17 05:16] multiSnow opened #166 "add traceroute for ipv4"
Since `ping` and `tracepath` support both ipv4 and ipv6, it would be convenince to make `traceroute` also support ipv4, so that we don't need to install another 'networking tools suit' and carefully solve conflictions.
Thanks.

[2019-02-17 10:21] okias commented on #165
Hello Peter,

difference is original maintainer did not accepting patches, so I offered him long time ago this repository including all infrastructure (travis-ci etc.). Sadly, my message got no responce from his side and since then this repository of iputils is upstream for most distributions.

Of course, if previous maintainer is willing to work on this project and accept patches, I have no probl

[2019-03-09 10:42] kerolasa commented on #166
The iputils traceroute6 is deprecated, and not built by default. Quite frankly I don't see much point in polishing iputils traceroute6 to do same was what authoritative traceroute project[1] does better.

The authoritative traceroute projec is maintained by Dmitry Butskoy with most recent release 2016-03-08. I guess one possibility is to merge iputils and traceroute projects (with commit histories

[2019-03-11 11:06] pevik commented on #166
I also don't see much point of having duplicate (and in our case half done) traceroute implementation (but some people are using it https://packages.debian.org/sid/inetutils-traceroute vs. https://packages.debian.org/sid/traceroute). But not sure if Dmitry Butskoy agreed about moving his implementation to iputils (traceroute does not even have public version control system).

[2019-03-15 14:54] multiSnow commented on #166
Thanks for response.
I would try the original traceroute.

[2019-03-15 14:54] #166 closed

[2019-03-16 22:10] okias commented on #117
[ https://wiki.musl-libc.org/functional-differences-from-glibc.html ]

[2019-03-24 22:10] dtzWill opened #168 "s20190324 fails to build w/musl"
Release reintroduces problem fixed in #35 -- looks like someone alpha-sorted the headers which broke compilation with musl (4f0cfdb215c47e04f6b0f73306f8e902cb836b17).

`<sys/time.h>` needs to be included before `<linux/errqueue.h>`, as it is in `ping.h` for example.

This patch seems to fix the issue, for example: https://github.com/dtzWill/nixpkgs/blob/edc52397993195f6705dce01c411120d33e53e95/pkg

[2019-03-24 22:20] pevik commented on #168
@dtzWill Thanks for report, @kerolasa could you merge it?

[2019-03-24 22:35] pevik opened #169 "Docker based travis CI for better testing builds with different distros (including MUSL)"
Our travis CI is based on `gcc` and `clang` builds, downloading `ninja` and installing `meson` from `pip. This IMHO inappropriate as we provide basic networking utils, so we should care a bit about
linux distros. I propose moving into docker base builds to test iputils under current distros. That does not stop us using different compilers. As an example can be travis configuration from LTP (https:

[2019-03-25 20:10] kerolasa commented on #168
Thank you for regression report. I added a commit that differs a little bit, c9aca1b53324bcd1b5a2de5c645813f80eccd016. What comes to hitting issues there are two things that could be done. All projects, including iputils, need to run tests that catch regressions like this as reported by @pevik in https://github.com/iputils/iputils/issues/169. Secondly, it would be great to get fix to linux/errqueu

[2019-03-25 20:10] #168 closed

[2019-03-25 20:51] kerolasa commented on #169
I agree more testing and especially automatic testing would be great.

That said I have no glue why my archlinux musl (see versions below) did not have the same problem as reported in #168. When I look kernel header linux/errqueue.h it does not do include sys/time.h so I don't know what to think about that. Would this issue been caught by testing or not, that's anyone's guess. But with as little t

[2019-03-27 11:00] ponypot opened #171 "Use-after-free in ping.c"
Hello,

It seems that the ping command suffers from a use-after-free that leads to an information leak when using the "hops" functionality.

As shown on the following picture (ping.c), when a ping command contains several hostnames, the information of each hops (but not the final hostname) is retrieved inside "result" structure using "getaddrinfo()".
The hostname of those hosts are copied in "hnam

[2019-03-31 12:20] kerolasa commented on #171
Thank you for pointing that out @ponypot I see sem-gh sent fix in https://github.com/iputils/iputils/pull/174 that addresses the issue.

[2019-03-31 12:20] #171 closed

[2019-03-31 22:52] Whissi opened #175 "setcap/setuid should be optional"
Commit 46d08f2080ad61b1d2fb2e5817fa04e5ca0db76b introduced a `setcap` or `setuid` call when installing iputils. This clashes with our (Gentoo) sandbox because build system is trying to modify files outside of `DESTDIR`:
[code]
Because we control things like that on our own, could you please hide that 'feature' behind an option which we can disable?

[2019-04-01 18:44] kerolasa commented on #175
https://github.com/kerolasa/iputils/commit/d45a8c8034c076948cea2f37dee5f7930a50f8f0 implements `meson configure builddir -DNO_SETCAP_OR_SUID=true` but would that work for you? Even better if you could give that a try and inform if this is sufficient.

[2019-04-01 22:07] Whissi commented on #175
Works for us.

[2019-04-01 22:08] Whissi commented on #175
You mail also want to have a look at the following suggestion:
[code]

[2019-04-02 00:52] Arfrever commented on #175
+1 for respecting ${DESTDIR}.

[2019-04-02 17:30] kerolasa commented on #175
That ${DESTDIR} fix is good idea, added to upstream in commit 784a67cb339cc43db86a676de00b51cb4101d1d6 with d45a8c8034c076948cea2f37dee5f7930a50f8f0 that I mentioned earlier. Thank you @Whissi for participation, and cheers Arfrever for patch.

[2019-04-02 17:30] #175 closed

[2019-04-09 03:16] Serik0 commented on #102
Problem is still actual - no update was issued for iputils package, still cannot ping anything.

[2019-04-09 07:09] pevik commented on #102
So the report from the site is:

@adambirds @Serik0 OpenVZ on ancient 2.6 kernel isn't really a common setup :(. Which OpenVZ and CentOS version do you use? (with proper setup it's hard to fix the problem).

[2019-04-14 12:37] scop opened #176 "ping -N help should output to stdout, exit with 0"
`ping -N help` should produce its output to stdout and exit with status 0. Currently outputs to stderr and exits with 2 which is ok when the handler is invoked on usage error, but `-N help` is not an error so these should indicate success (stdout, 0 as mentioned).

[2019-04-15 20:21] kerolasa commented on #176
Thank you @scop for bug report. Printing and exit value are fixed in commit 1d628d132d26c37185a2b480f0b0285579bb0a1b.

[2019-04-15 20:21] #176 closed

[2019-05-05 11:56] svagner commented on #125
Hi! I have the same question. Could someone explain why we have  here separate socket?

[2019-05-05 21:51] pevik commented on #125
Hm, that code origin from the code imported by YOSHIFUJI Hideaki from ftp://ftp.inr.ac.ru/ip-routing/iputils-ss020927.tar.gz (see 33370345c7).

I guess it's because different protocol: the "working" socket `sock->fd` use `IPPROTO_ICMP` (value `1`) or `IPPROTO_ICMPV6` (value `58`), but `probe_fd` socket use `0` (`IPPROTO_IP`).

I'm not really familiar with socket protocols, see also [protocols(5)](

[2019-05-16 12:02] okias opened #179 "tag missing for 20190515 release"
[code]
just tag it correctly and it's perfect :+1:  Thank you

[2019-05-16 13:43] pevik commented on #179
Agree. + it'd be nice if tag was signed, as okias did for [s20180629](https://github.com/iputils/iputils/releases/tag/s20180629).

See info:
https://help.github.com/en/articles/signing-commits
https://git-scm.com/book/en/v2/Git-Tools-Signing-Your-Work
https://github.com/ensime/ensime-server/issues/174

[2019-05-16 19:06] kerolasa commented on #179
Well, I can see the tag here https://github.com/iputils/iputils/tags and it was pushed to origin, and signed. What I forgot was pushing master branch. Done now.

    iputils $ git show s20190515 --show-signature
    tag s20190515
    Tagger: Sami Kerola <kerolasa@iki.fi>
    Date:   Wed May 15 21:14:10 2019 +0100

    iputils-s20190515
    -----BEGIN PGP SIGNATURE-----

    iQIzBAABCAAdFiEEJZmbQH+

[2019-05-17 11:02] pevik commented on #179
Then you should upload `iputils-s20190515.tar.gz.asc` for people to be able to verify signing.
s20180629 is the only release with this file uploaded, see https://github.com/iputils/iputils/releases/tag/s20180629

[2019-05-17 16:32] kerolasa commented on #179
Signatures are created & uploadded.

    for i in iputils-s20190* ; do gpg -s -a --detach-sign $i ; done

[2019-05-24 13:06] pevik commented on #179
@kerolasa More things about files: signed (GPG) files are `iputils-s20190515.{tar.gz,zip}.asc` but files are without `iputils-`: `s20190515.{tar.gz,zip}`. It'd be nice to if they're the same as for verification they must be the same:

[code]

[2019-05-25 09:00] kerolasa commented on #179
When I download with firefox I get iputils-s20190515.tar.gz iputils-s20190515.zip although link does not have that prefix. Notice that .asc file for s20180629 also had iputils- prefix.

[2019-06-04 08:22] pevik opened #182 "ping -a (audible) bells even on failed IPv6 ping"
hen pinging an IPv6 address, ping will bell (with -a) even when it fails.

Originally reported for openSUSE package by Luiz Angelo Daros de Luca in https://bugzilla.opensuse.org/show_bug.cgi?id=1135118
[code]
It should only bell when ping returns correctly. IPv4 ping works correctly.

It's a regression from 4471ac6 ("ping: Remove workaround for bug in IP_RECVERR on raw sockets"), I've prepared a f

[2019-06-04 08:23] pevik commented on #182
@kerolasa Can you please review and merge it?

[2019-06-04 12:37] pevik commented on #117
It'd be nice to implement error message in our meson build configuration to treat this. Or at least document this problem.

[2019-06-08 20:17] pevik commented on #165
@okias @kerolasa I guess we can close this.

[2019-06-09 13:13] #182 closed

[2019-06-09 13:55] kerolasa commented on #179
Please reopen if there is something more to add to this. Notice that due to procedural mishaps I added instructions to avoid repeating mistakes in future.

https://github.com/iputils/iputils/blob/master/Documentation/README.maintainer#L35-L61

[2019-06-09 13:55] #179 closed

[2019-06-09 13:56] #165 closed

[2019-06-09 13:58] kerolasa commented on #158
There are couple releases[1] since this issue was opened. I am fairly confident the problem was solved, so I will close this report - but just in case that assessment was not right let us know and we'll get back to finding out how to help.

[1] https://github.com/iputils/iputils/releases

[2019-06-09 13:58] #158 closed

[2019-06-09 15:36] kerolasa commented on #117
musl does not make it easy to notice it is in use[1][2]. And when looking into musl git[3] I see various IDN header requirements in place, so it is not obvious to me how to detect if IDN is or isn't implemented. Documentation snippet from @okias to gives me impression IDN support will be added later, transparently, so that downstream code does not need to do anything.

Just for record I am strictl

[2019-06-09 20:16] pevik commented on #182
@kerolasa Thanks for all 3 merges today :).

[2019-06-20 23:49] ChaiTRex opened #189 "ping -f can hide some dropped packets"
The `man` page of `ping` is incorrect. From the documentation for `ping -f`:

The technically correct statement "...for ever[y] ECHO_REPLY received a backspace is printed" leads to an incorrect implication: that the ECHO_REPLY received corresponds one-to-one with an ECHO_REQUEST that was sent, which is the basis of the following incorrect statement: "This provides a rapid display of how many packe

[2019-06-25 13:40] MarcusRoeckrath opened #190 "arping: Wrong exit code 1 on successfull run"
Tests made using:
arping -V
arping from iputils s20190515

Although a run was successfull, arping returns an exit exit code of 1:

arping -f -c 1 -I eth0   192.168.1.1 ; echo $?
ARPING 192.168.1.1 from 192.168.1.3 eth0
Unicast reply from 192.168.1.1 [11:22:33:44:55:66]  0.688ms
Sent 1 probes (1 broadcast(s))
Received 1 response(s)
1

arping  -c 1 -I eth0   192.168.1.1 ; echo $?
ARPING 192.168.1.1

[2019-06-25 14:33] yankee14 commented on #133
What was causing this issue for you? I'm having the same issue in Armbian.

[2019-07-01 15:17] ffontaine opened #191 "New release 07/2019?"
Could you tag a new release?
It would be nice as we could remove all our patches from buildroot.

Thanks,

Fabrice

[2019-07-01 18:42] kerolasa commented on #191
Perhaps after couple recently opened bugs are sorted. But I am in middle of long days in work until a project is delivered so I will not do anything in open source front until August.

[2019-07-03 11:30] pevik commented on #191
I guess release can wait until August. Or could @okias make a release? I guess, iputils needs more maintainers :(.

[2019-07-03 11:35] okias commented on #191
Please send remainder on the weekend. I'll try my best.

[2019-07-04 08:00] austin-barrington opened #192 "Question: How do you calculate RTT?"
Hey, I am just going over how you are calculating RTT for an ICMP ping but it gets really confusing and all over the place (could also be my lack of understanding).

Could someone give me a description to help me understand how it is calculated?

ps. I didn't want to create an issue but I didn't know where else to ask...

[2019-07-04 21:31] pevik commented on #191
@okias gentle reminder for a release :) (I'll be offline during weekend)

[2019-07-05 07:19] nmeyerhans opened #193 "ping claims to take zero time when used with preload"
Forwarded from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=611976 This report has been open for a long time, but the behavior is still present in master. The original report:

The 'time' value displays zero milliseconds for preloaded pings and
slightly short times for normal pings. I would expect the time taken
from when the first ping was preloaded into the outbound queue; of the
order of 3

[2019-07-05 14:36] amouat opened #194 "Does the effective bit need to be set?"
On this line: https://github.com/iputils/iputils/blob/master/build-aux/setcap-setuid.sh#L20, the effective bit is set as well as adding `cap_net_raw` to the permitted set. However, the utilities (or at least ping) are capabilities aware, in that they explicitly add and remove capabilities and set the effective bit in code.

Testing the ping binary with `setcap 'cap_net_raw+p'` only, it seems to wo

[2019-07-05 17:00] nmeyerhans opened #195 "Ping reports DUP responses when pinging multicast destinations"
Forwarded from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=498429

[2019-07-05 19:49] kerolasa commented on #194
Thank you @amouat for pointing out permission bit could be removed, commit 368c345ff9a648ea28ece9725522f5363b869823 addresses the issue.

[2019-07-05 19:49] #194 closed

[2019-07-05 20:07] kerolasa commented on #190
Thank you for bug report @MarcusRoeckrath. This turned out to be pretty embarrassing bug from my part. Fixed in commit 84ca65ca980315c73f929fed8b6f16bbd698c3a0.

[2019-07-05 20:07] #190 closed

[2019-07-05 20:12] kerolasa commented on #189
Would you like to send a change that would make ping to report something more useful.

[2019-07-05 21:02] kerolasa commented on #193
I did experimental change that lead me to suspect preload and timings are probably broken more than one way. In short individual icmp_seq lines have timings allover the place (sometimes ~15 ms, other times 250ms) while the line mentioned to be zero is always in 0.50ms region.

[code]
Fixing this bug seems to require deep dive into timing measurements in ping. That reminds me about issues 192. Cons

[2019-07-06 09:57] amouat commented on #194
No problem, but @tamalsaha pointed out that the `echo` line was changed, but not the code :)

https://github.com/iputils/iputils/pull/196 addresses this.

[2019-07-07 17:44] nmeyerhans opened #197 "build fails when setcap is not installed"
See https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=931491 for background.

If setcap is not installed, the build fails with the following in the log:

Program /usr/sbin/setcap found: NO
Program /sbin/setcap found: NO
Element not a string: ['build-aux/setcap-setuid.sh', '/usr/bin', 'ping', 'setuid', None]

The error is due to the `None` value in the last parameter, which is the return value of `

[2019-07-07 17:49] nmeyerhans commented on #197
Never mind, this was already fixed in 473be6467f995865244e7e68b2fa587a4ee79551. I was working from the s20190515 release which doesn't include this commit.

[2019-07-07 17:49] #197 closed

[2019-07-08 16:40] nmeyerhans opened #198 "ping -I doesn't properly handle 'lo' source interface"
Forwarded from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=438727

This behavior was reported ages ago, but is still present in master. From the original report:

specified by using the option -I followed by the ip address or interface
name.
But the interface name lo (as listed in the output of ifconfig) is not
correctly transformed to the ip address attached to the loopback
interface. Inste

[2019-07-08 16:49] pevik commented on #198
Thanks for a report, I'll try to look into it.

[2019-07-09 00:30] pevik commented on #198
Not sure if I'm testing with the same scenario as you. In my case `192.168.0.109` is address of my `eth0` device. `tcpdump` for `lo` is working (i.e. showing correct address `192.168.0.109`):

[code]

Can you please specify your setup so we can reproduce it? Are you sure it hasn't been fixed?

BTW `-I device` is (deliberately) treated different way than `-I address`. You get warning if you use `-I

[2019-07-09 01:50] pevik commented on #191
I've sent 2 PR, but they should probably go for next release. I'll release iputils without sometimes this week.

[2019-07-09 02:45] nmeyerhans commented on #198
The behavior you're observing is precisely the behavior that the original reporter of the issue found to be incorrect (or at least unexpected/confusing). The expected that the source IP address would be the same given either `-I lo` or `-I 127.0.0.1`. That is, in neither of those cases would a source IP address from `eth0` be used. The observed behavior is that a source address was chosen from `et

[2019-07-09 07:27] pevik commented on #198
IMHO YOSHIFUJI Hideaki (author of ping) should chosen different flag than `-I` for binding to device. But too late now. This comes from import of iputils into github from ftp://ftp.inr.ac.ru/ip-routing/iputils-ss020927.tar.gz (33370345c7d8c217b51c13b0e2864b64b53d5f96).

Original behavior is quite old, comes from 63579a1b5bf61f0e03dd4e815386170d684797f7 (s20121205, the original author) + fix in 961

[2019-07-09 17:41] nmeyerhans commented on #198
Yeah, if you don't want to change the behavior, I think it's probably sufficient to update the description of the `-I` flag in the man page. It would be good to note that `-I DEVICE` does not override the kernel's default source address selection behavior. I can try to write something meaningful and send a PR if you'd like.

:+1:

[2019-07-09 21:23] pevik commented on #175
NOTE: this needed further fix 473be64.

[2019-07-09 22:40] pevik commented on #191
Released: https://github.com/iputils/iputils/releases/tag/s20190709

[2019-07-09 22:40] #191 closed

[2019-07-10 13:07] pevik opened #203 "Disable setcap and setuid for arping (prevent ARP Poisoning)"
Disable setcap and setuid for arping as it can be used for ARP Poisoning
https://en.wikipedia.org/wiki/ARP_spoofing

[2019-07-10 13:19] pevik commented on #203
@nmeyerhans setuid is also enabled for Debian
https://salsa.debian.org/debian/iputils/blob/master/debian/iputils-arping.postinst

[2019-07-11 02:15] nmeyerhans commented on #203
Yes, we do install arping in Debian such that unprivileged users can run it. This has been the case since the beginning of time. Since arping isn't installed by default, and Debian provides an easy mechanism by which an admin can change the permissions of a file like the arping binary in such a way that the change is preserved across package upgrades, this hasn't been considered a major concern. I

[2019-07-13 08:12] ValZapod opened #205 "Code cleanup"
https://github.com/iputils/iputils/blob/129ad44a1a58b940cb0c1075010f5d16a750eda6/ping.c#L666
What is this? It is not do while.

https://github.com/iputils/iputils/blob/129ad44a1a58b940cb0c1075010f5d16a750eda6/ping6_common.c#L476-L479

Find a typo in a second. 476 and 479 are the same.

https://github.com/iputils/iputils/blob/129ad44a1a58b940cb0c1075010f5d16a750eda6/ninfod/ninfod_core.c#L525-L530

[2019-07-13 10:26] ValZapod commented on #205
Ah, yes, please allso add docbook-xsl-ns gcrypt20-dev and ninja-built packets to travis...

[2019-07-14 15:52] kerolasa commented on #195
I just added a commit to my repository (see above). I think that will do what is needed, getting the change tested would be great.

[2019-07-14 16:06] kerolasa commented on #198
Yes, reverting cc44f4c seems to be the most reasonable thing to do. And it would be really good to get a note to manual page telling what one can expect when defining interface and pinging local addresses.

[2019-07-14 17:00] kerolasa commented on #205
Many of the proposed changes were done in b572ac3b41715446714d6e2a8c5b77a160bc470b.

If you want gcrypt20-dev, ninja, or travis changes please contribute.

[2019-07-14 17:00] #205 closed

[2019-07-14 17:09] ValZapod commented on #205
@kerolasa And the first was solved in 9e08707. So that one was the worst)) What about memcmp()? Are those of any value? Or it is kernel magic?

[2019-07-14 17:24] ValZapod commented on #205
@kerolasa Unfortunately, you fogot to also rename this two places:

https://github.com/iputils/iputils/blob/b572ac3b41715446714d6e2a8c5b77a160bc470b/ninfod/ninfod_core.c#L129

https://github.com/iputils/iputils/blob/b572ac3b41715446714d6e2a8c5b77a160bc470b/ninfod/ninfod_core.c#L141

[2019-07-14 17:48] ValZapod commented on #198
I suppose "solved" with https://github.com/iputils/iputils/commit/9e08707d743b29e853df81bd7def1729e3afe55d.

[2019-07-14 18:14] kerolasa commented on #205
I do not see anything wrong in use of memcpy(). If you disagree send a pull request.

And yes, the C++ comment are terrible. Removal done in aed8db0345479db50e2530f1d41ef8c9bc275541.

[2019-07-14 18:28] kerolasa commented on #205
@ValZapod Do not hijack bug discussion threads.

[2019-07-14 18:36] ValZapod commented on #205
@kerolasa I thought it would be nice to test it for you. 😪😪 Anyway, I thought that microseconds are not supported by ping or are they?

[2019-07-14 18:40] ValZapod commented on #189
@kerolasa At least change ever[y]😂😂😂
https://github.com/iputils/iputils/blob/9e08707d743b29e853df81bd7def1729e3afe55d/doc/ping.xml#L222

[2019-07-14 18:46] ValZapod commented on #193
@kerolasa On fast device you indeed only have 0ms. But on my tablet I can have from time to time this output.
[code]

[2019-07-14 18:50] ValZapod commented on #192
@austin-barrington Here you are https://stackoverflow.com/questions/36976782/how-the-ping-implementation-calculating-the-round-trip-time

But if seriously here is an implementation in C++ https://github.com/ymirsky/burstPing
Maybe it'll be good to have it in our ping. Nanoseconds... Not picoseconds but good enough))

[2019-07-16 05:35] pevik commented on #203
This has been fixed by 054670a.

[2019-07-16 05:35] #203 closed

[2019-07-17 07:00] ValZapod commented on #193
@kerolasa 1) not  %ld.%ldms but  %ld.%03ldms 2) Obviously you will have to delete + 500 (it was created by that infamous commit https://github.com/iputils/iputils/commit/5f5a34c1b4d418ea68c27c00d3a0c173dd5560d6, so if you do not need to round with + 500 you should delete it. Actually about that commit... Are you sure that +500 +50 and +5 are not already done somewhere else in the code?

I just thi

[2019-07-18 20:50] pevik commented on #198
It'd require more changes than just simple reverting cc44f4c.
Although the result is then the same (100% packet loss) warning and sendmsg error shows that code goes quite different way. I'd have to dig more into the issue, help or patches is welcomed.

[code]

(error is from [ping_common.c:476](https://github.com/iputils/iputils/blob/master/ping_common.c#L476)`)

[2019-07-22 06:34] kerolasa commented on #195
First idea did not work, so I pushed this change slightly differently, see commit 918b876a5eb1e8bffe1a56c5697064c6dc80a141 that should address the issue. Notice that the updated change is based on testing results after I got my ISP[1] to turn on IPv6 so that I can see how the code behaves.

[1] thanks Zen internet.

[2019-07-22 06:34] #195 closed

[2019-07-31 19:48] teldra opened #209 "arping: wrong exitcode"
$ arping -V
arping from iputils s20190709

When using -D, exitcode is everytime the same.

Here are some tests: https://github.com/void-linux/void-packages/issues/13304#issuecomment-516958354

[2019-07-31 20:37] kerolasa commented on #209
Commit 18f14be80466ddc8fb17a400be82764a779c8dcd fixed this regression, thank you for reporting @teldra

[2019-07-31 20:37] #209 closed

[2019-08-08 04:48] ValZapod commented on #193
@kerolasa Ping))

No))

No, this is always a bad decision.

See prev. comment, this patch of yours is veeery wrong.

@nmeyerhans Any comments... Please also comment on

Because I really do not like commit 5f5a34c and then fixit commit https://github.com/iputils/iputils/commit/07c3c413967ec6708b64a00bae4a7cde8ef36f40 which BTW still not in debian testing((( Though the problem is rather bad.

[2019-08-08 10:54] kerolasa commented on #193
@ValZapod send a pull request if you to change something.

[2019-08-08 12:53] ValZapod commented on #193
@kerolasa Okay, what you do not understand in this code? Do you understand that (a) triptime is in milliseconds, (b) there are 4 variants of rounding for >= 100 000 milliseconds >= 10 000 milliseconds >= 1 000 milliseconds and >= 0 milliseconds, (c)  +500, +50, +5 are used for right (mathematically) rounding, (d) you must use  %ld.%03ldms "03" is because you need 0s after dot, because without it i

[2019-08-08 13:25] pevik commented on #193
@ValZapod you're more than welcome to do cleanup or even ping rewrite (which is needed, after various people added since project was taken in 2013 from original project after YOSHIFUJI Hideaki disappeared; IMHO ping needed some cleanup even before while being in the original project).

[2019-08-08 16:40] nmeyerhans commented on #193
I don't specifically have any comments on the code as it exists today; I don't understand it well enough to critique it. However, I tend to agree that a rewrite is probably not necessary for this specific case. We're going to need pretty much the same math either way, and that's the part that seems to be causing problems.

IMO the right thing to do right now would be to factor the timing calculati

[2019-08-08 17:04] ValZapod commented on #193
I know. https://packages.debian.org/search?keywords=iputils-ping Do you understand that there is such thing as debian patches! I want this change in Buster! Not is unstable or testing...

I already gave a patch

[2019-08-09 05:21] pevik commented on #193
@ValZapod I'm also planning to have a look at the fix, but busy atm. Please understand that people maintain open source project in their free time (which is sometimes very limited).
Generally, long term plan is 1) enhance ping testing 2) rewrite it. As code is a bit complex and we don't want to introduce bugs.

[2019-08-09 08:30] ValZapod commented on #193
Okay, I played with it a little.

[code]

I have Wireshark running in parallel, and this is the result: as we can see we have DNS A and AAAA (ipv6) query (in parallel), then DNS PTR query of ipv6 address. And only then we have 3 icmpv6. And then again PTR resolution. All of this is 0.177 seconds. While time prints 0.191 s
![Безымянный](https://user-images.githubusercontent.com/31514790/62765367-a8

[2019-08-27 12:08] ghormoon opened #210 "unify ping -s packet size checks"
currently, if user does not think about IP packet size limit at all and guesses random numbers to use with ping -s, he might get two different errors:

[code]
seems it's handledseparately at two parts of ping.c:

[code]
where MAXPACKET is defined in pin.h as 128000 - is there any reason for this big number?

and

[code]

i suggest unifying the output to show the limit properly, so if user inputs s

[2019-08-28 16:46] nmeyerhans opened #211 "iputils-arping: -w (deadline) broken"
Forwarded from https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=935946

arping -w doesn't work anymore. Instead of exiting when the deadline is
reached, it just hangs.

[code]

git bisect suggests that this behavior was introduced with 67e070d08dcbec990e1178360f82b3e2ca4f6d5f

[2019-08-28 18:29] kerolasa commented on #211
Bisected to 67e070d08dcbec990e1178360f82b3e2ca4f6d5f, that is my commit. I'll try get this sorted sometime soon.

[2019-08-28 19:16] kerolasa commented on #211
It would be nice to hear if f6e2622549770eca8e55d1817de40e650a3c9aab fixes to you, and even better if that does not cause more problems.

[2019-08-28 20:03] kerolasa commented on #210
These size limitations feel like premature optimisation. I think it would be better to let user to define any size and let sendmsg() or struct sock_extended_err to inform if payload does not fit to package.

[2019-08-29 20:36] kerolasa commented on #211
Thank you for bug report and testing @nmeyerhans. Lets hope I did not add new regression(s). Meanwhile I consider this case closed.

[2019-08-29 20:36] #211 closed

[2019-08-29 20:46] kerolasa commented on #210
Ping is changed not to be too clever what is, can, or could be allowed package size, see commit a647e2cdbd9772bdaed61bf053b6c92c323b6061.

While working with this I did notice errors vary by telling mtu exceeded or sendmsg() cannot handle packet of that size. When pinging IPv4 / IPv6 addresses size limits appeared to vary somewhat, and localhost appears to allow rather big packages. Now when artif

[2019-08-29 20:46] #210 closed

[2019-09-26 16:27] pruddy-vyatta commented on #198
take a look at the patch for the -Z option to use the src address of an interface I have here and see if it suits.

https://github.com/iputils/iputils/compare/master...pruddy-vyatta:push-ping-x-patch?expand=1

[2019-10-10 16:02] #132 closed

[2019-10-17 18:45] zenczykowski commented on #125
It's a well known socket programming trick to use a UDP socket() connect() getsockname() close() to do a route lookup (this generates no network traffic).

The kernel did not support per-protocol specific routing.  (however that's no longer the case)
So you could simply use a udp socket.
Now we should be using an icmp socket...

This should probably be changed now.  But it's probably not entirely

[2019-10-23 23:08] es20490446e opened #220 "Ping slow on solving domain names"
Do you know why this big difference in times if the domain name is resolved by ping itself, versus getent externally?

[code]
[code]

[2019-10-23 23:11] es20490446e opened #221 "Linking <skbuff.net/iputils> here"
Perhaps puting a notice on the [old website](http://www.skbuff.net/iputils/) that the new version is the one here?

And perhaps also [on SourceForge](https://sourceforge.net/p/iputils/code/ci/HEAD/tree/).

[2019-10-23 23:16] okias commented on #221
Sadly, previous maintainer not responded to my emails, mailing list post etc., so we don't have access to old website and repository.

[2019-10-24 02:28] es20490446e commented on #221
Whoops! 🤯

[2019-10-24 02:28] #221 closed

[2019-10-24 06:24] pevik commented on #221
BTW I wonder what happend to Yoshifuji Hideaki. He stopped also to contribute to Linux kernel.

[2019-10-24 13:37] es20490446e commented on #221
Well, he's 45. So probably he got a serious job 🤣

[2019-10-29 19:00] kerolasa commented on #220
Could you check your IPv6 setup is not causing timeouts.

[2019-10-29 20:08] es20490446e commented on #220
Yes, that was the problem.

[2019-10-29 20:08] #220 closed

[2019-10-29 20:22] tailot opened #222 "Return value of ping"
Hi, Ping (with param -c) currently seems to return an error (status 1) if the host does not respond. I attach an example screen.

Regards
Vincenzo Tilotta
![a (2)](https://user-images.githubusercontent.com/40148896/67805863-1706c680-fa92-11e9-8e9e-41b8b64c3b79.png)

[2019-10-30 18:40] kerolasa commented on #222
Do you have opinion what should it return and why.

[2019-10-30 19:20] tailot commented on #222
@kerolasa In POSIX, programs that successfully end must return the value 0, otherwise return the value 1 to 127. In the last case, ping doesn’t seem to have any big problems.

[2019-10-30 19:38] nmeyerhans commented on #222
@tailot Since you've invoked POSIX... POSIX doesn't specify the existence of ping at all, let alone define its error states. Thus, what constitutes an error is up to the authors. Given that ping is a tool for testing the reachability of a remote host, it is perfectly reasonably to define the unreachability of a host as an error condition. IMO, if anything about ping should be changed, it's that th

[2019-10-30 20:00] tailot commented on #222
I agree with you. My man is different from yours is not present the section "EXIT STATUS". I request the package manager to update.

[2019-10-30 20:00] #222 closed

[2019-11-21 13:04] dopheideb opened #232 "ping: Rounding still not consistent after #123 and #141"
The rounding logic of ping is still slightly flawed. Example:
triptime = 9995 leads to time=10.00 ms (4 digits precision, wrong)
triptime = 10000 leads to time=10.0 ms (3 digits precision, right)
Ping should know that 9_995 and 99_950 are the boundary for switching to less/more precision, not 10_000 and 100_000. triptime=9995 should also result in time=10.0 ms.

Related issues:
https://github.com/

[2019-11-21 19:01] kerolasa commented on #232
Notice that I proposed couple days to move away from millisecond measurements in an integer to a struct timespec based measurements, see https://github.com/iputils/iputils/pull/229 for details.

There is still rounding going on in that version https://github.com/kerolasa/iputils/blob/ping-timespec/ping/ping_common.c#L109-L123 and the rounding is not mathematically correct. Good fix would be to mov

[2019-11-26 14:12] pevik opened #234 "Release procedure"
It'd be nice to formalize release procedure
continue discussion from https://github.com/iputils/iputils/pull/231#issuecomment-558218096:
_How about starting the release by announcing incoming release using bug ticket that tells when the release will happen, and stays open for a bit afterwards to capture fallout. The rc releases are a bit problematic. They do not tend to get more testers than the u

[2019-11-26 14:17] pevik commented on #234
Agree with the ticket (I'm used from other project to communicate via mailing lists, github issues are good equivalent). Maybe we could even use github milestones. Although ticket with listed required tickets to be solved would be enough for me.

What I wanted by RC is to inform the community (at least distro packagers) to do basic testing.
We don't have to add archives, but I'd prefer to have tag

[2019-11-26 14:47] nmeyerhans commented on #234
I'm happy to upload RC (or other non-release snapshots) to Debian unstable and OpenWRT.

IMO, because feature development isn't that fast, time-based releases aren't that helpful. What I might suggest is something of a compromise. As-needed releases, but with a goal of not having a feature or bugfix unreleased for more than 4 months (arbitrarily chosen; feel free to adjust). That way you ensure th

[2019-11-26 16:18] pevik commented on #234
Agree on combined *as-needed* releases, no longer than 4 months.
Changelog vs. release notes: are release notes I did for latest release enough? https://github.com/iputils/iputils/releases/tag/s20190709
I think it should be written by maintainers (we need to understand code which we merge and it's impact).

[2019-11-27 14:52] nmeyerhans commented on #234
Yes, the release notes for the 20190709 snapshot are basically what I have in mind. Would like to see them in a format that can be included with the installation. It Debian, it is standard to have upstream changelogs available in /usr/share/doc/<pkg>/changelog. Having a consistent location for upstream changelogs is immensely helpful when chasing regressions.

It may work to simply maintain a chan

[2019-11-27 19:34] kerolasa commented on #234
Aiming to release in 4 month intervals sounds good to me. If release are needed more often then they need to be done.

Maximum frequency should be once per day. If a release is found to be so bad that another is needed immediately tell in release notes no-one should use it and try again later. If we really mess up a release so bad that another release is needed immediately then rushing is wrong re

[2019-11-28 08:55] pevik commented on #234
@nmeyerhans understand a reason (I'm also a Debian user, I know Debian policy), but I'd prefer to have release notes just online and let distros to copy paste the content.

[2019-11-28 12:59] lmb opened #236 "ping: -W behaviour with trailing "garbage" changed"
As of https://github.com/iputils/iputils/commit/918e824dc13a39e4d68fcd82fd2d248c9fba6bbd the following returns an error:

[code]

Old ping silently ignored the "s" suffix. Since the units are seconds anyways the script that did this worked fine.

Arguably the current behaviour is better, since `ping -W 1m` looks like it would linger for a minute, when the maximum is really 1 second.

Maybe the fix

[2019-11-28 15:54] nmeyerhans commented on #234
The problem with that is that it distributes something that should be centralized. I *can* do what you describe, for the Debian packages, but it only benefits Debian users. That's not the only user community that will appreciate offline access to the changelog.

Also, AFAIK, there is no way to get the raw markdown source for the github release notes. That means I, and anybody else interested in ma

[2019-11-28 18:58] kerolasa commented on #234
Does anyone know if there is some system to publish across distributions change logs? Integrating change log with Anitya[1] in my mind would be ideal. But quickly looking I don't see support for that. If structured text that can be reused across distributions is found then I do not have objections to start maintaining them. Unpleasant thing is that no--one, including me, likes this sort of tedious

[2019-11-28 19:09] kerolasa commented on #236
I see few options.

1. Current behaviour is declared correct. The old one was undocumented fluke.
2. Old behaviour was strange but correct, and needs to work again.
    * Though, perhaps this time as documented behaviour.
3. Old behaviour should warn but work.
    * Maybe including deprecation note in the warning with long enough period, such as: defining trash is allowed but will stop working in

[2019-11-29 07:35] pevik commented on #236
@nmeyerhans any opinion on it?

I would be for 1 or 3, but without specifying when it will be removed (it will be removed in the future).
And I guess there is also 5) Current behaviour is declared correct. But improve error message (print `bad linger time, use integer`). I wonder why people invented to put `s`, when it wasn't needed.
Ad 4.: is there any benefit to have something more than seconds?

[2019-11-29 07:41] pevik commented on #234
@nmeyerhans I'm not against chagelog, I just wish if it wasn't part of git, but part of tarball. The extreme of this is glibc way (maintaining changelog for each commit). The downside of it adding changelog into git is growing git size with things not needed. Would it work for you?

This the same as whole project using github. I'd be much happier if project used mailing list and normal web pages.

[2019-11-29 07:46] pevik commented on #234
@kerolasa I've noticed Buildroot distro uses https://release-monitoring.org project (https://release-monitoring.org/distro/Buildroot/?page=16), but IMHO it's goal is different (they target to end users, not projects), so I'm not surprise they don't help us with it.

[2019-11-29 10:24] lmb commented on #236
@pevik I just used '-W 5s' since that made sense to me, and ping didn't complain.

Supporting units would let you side-step the FreeBSD incompatibility a little bit as well. `-W 5s` is pretty clear in that regard.

[2019-11-30 22:00] nmeyerhans opened #239 "ping icmpv6 nodeinfo queries use non-random nonce"
While working on openwrt/packages#10633, I observed some unexpected behavior regarding nonce generation for ICMPv6 node info queries in some scenarios.

If ping is built with `USE_CRYPTO=kernel`, but the kernel does not have support for the md5 algorithm, then we never actually write anything to the buffer allocated for random data, and instead leave it initialized to all zero values. When this ha

[2019-12-01 16:21] kerolasa commented on #239
Great catch @nmeyerhans. I wrote change that will cause execution to stop if / when kernel AF_ALG socket does not work as expected.

But I'm not sure if that is great. Maybe we should copy md5 source code to iputils and get rid of dependency to library or kernel api altogether.  That is what util-linux does, https://github.com/karelzak/util-linux/blob/master/lib/md5.c

[2019-12-02 01:47] nmeyerhans commented on #239
When building for a general purpose Linux distro, the openssl dependency isn't a big deal, since it's probably installed already. On the other hand, we have such a limited and specific need for any crypto code, that importing just the md5 routines might make sense. I'll be curious to see what this does to the size of the ping binary.

[2019-12-02 02:47] pevik commented on #239
Yep, I wouldn't mind to import md5 code either, if binary size does not dramatically increase.

[2019-12-02 20:06] kerolasa commented on #239
Lets measure the size change. After compiling & stripping binary I saw 4096 bytes size difference from 77352 to 81448 bytes. If acceptable earlier 'common: fail execution when USE_CRYPTO=kernel does' change will be removed before merge.

https://github.com/kerolasa/iputils/commit/7cf7bb7a1dc9fe3e55309f2e45c04c2c877367a2

[2019-12-03 18:54] kerolasa commented on #236
I merged commit 562e0d570d93cfcfdebab1215a2f04efa64a24f8 that is option 3. This change will be reverted in year or two from now.

[2019-12-03 18:54] #236 closed

[2019-12-04 06:19] pevik commented on #236
@kerolasa Thanks for fixing it.

[2019-12-04 06:34] pevik commented on #239
Size looks ok for me (~5% increase).
Change not related to this commit: you changed `travis/ubuntu.sh` to be copy of `travis/debian.sh` and `travis/centos.sh` copy of `travis/fedora.sh`. They both are supposed to be a symlinks.

[2019-12-04 20:00] kerolasa commented on #239
Oops. My bad with symlinks, thank you for catching that @pevik. Commit 214ed83afcce7f08406b17144040891eb40113cf is hopefully final version. If I don't hear anything I will merge that as-is sometime weekend.

[2019-12-07 17:17] kerolasa commented on #239
https://github.com/iputils/iputils/pull/241 is merged that addresses this issue.

[2019-12-07 17:17] #239 closed

[2019-12-07 17:23] kerolasa commented on #234
@pevik just to let you know, I don't have any pending changes to iputils right now so feel free to move forward with the release. The https://github.com/iputils/iputils/pull/229 is perhaps best to leave out from next release.

[2019-12-08 10:40] pevik commented on #234
@kerolasa thx for info. Agree #229 should be left out. Before releasing I'd like to finish release procedure changes.

Looking at some IMHO good projects:
* [buildroot](https://buildroot.org/news.html) has [CHANGES](https://git.busybox.net/buildroot/tree/CHANGES) file, containing all the changes, but it's rather brief and without any markup being used (both IMHO good) and it's [online].(https://gi

[2019-12-09 07:21] pevik commented on #26
@sravan1 can we close the ticket? Is it really problem of `tracepath` from iputils project?

[2019-12-09 07:22] pevik commented on #96
@okias can we close this ticket?

[2019-12-09 07:22] pevik commented on #169
Merged as e3fd528.

[2019-12-09 07:22] #169 closed

[2019-12-09 07:24] #38 closed

[2019-12-09 11:01] #96 closed

[2019-12-17 13:01] sebastianpszczolka opened #242 "Memory Eat"
We try version from 2016 to 2019 but every versions of ping used from Yocto (https://git.yoctoproject.org/cgit.cgi/poky/plain/meta/recipes-extended/iputils/) have memory leak.
When make ping and wait it eats 1 Mbyte  RAM per hour. It is no process memory but kernel memory as **smem** shows:

firmware/hardware                 0                   0                   0
kernel image

[2019-12-17 18:30] kerolasa commented on #242
Can you compile from git source and run ping using valgrind to give more hints what exactly is leaking.

    valgrind --leak-check=full --show-leak-kinds=all ./builddir/ping/ping 127.0.0.1

When I do the above I can see getaddrinfo() leak that is 24 bytes, and the last I looked it seemed like glibc issue. Other than that I don't see any leaks, so I'm not sure what might be going on with Yocto.

[2019-12-17 18:41] sebastianpszczolka commented on #242
root@imx6ull14x14evk:~# valgrind --leak-check=full --show-leak-kinds=all ./ping.iputils 127.0.0.1 -c 100 -i 0.1 -s 2048
==7223== Memcheck, a memory error detector
==7223== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==7223== Using Valgrind-3.14.0 and LibVEX; rerun with -h for copyright info
==7223== Command: ./ping.iputils 127.0.0.1 -c 100 -i 0.1 -s 2048
==7223==
PING 127.0.0.1

[2019-12-18 19:48] kerolasa commented on #242
That valgrind does not look too bad. When I think about this issue report it feels like the problem would be somewhere main_loop() in ping_common.c file, or functions it calls. Unfortunately that as far I get simply by thinking about this. There isn't much allocations in that code segment.

Perhaps it could work that all free() calls are commented out from the code and rerun with valgrind to see w

[2019-12-24 12:06] ValZapod commented on #232
@dopheideb Really! You understand that 10.0 and 10.00 and even 10.0000000 is all the same, right?

Why??? As we were taught in school and then in analitic chemistry classes, you usually put 0 when you round after decimal point everywhere you had 9 before. So 9.995 --> is 10.00 because 10.0 will not show all 9 -> 0 transforms.

@kerolasa About your latest genious pull request. Please be sure it wil

[2019-12-25 08:03] pevik opened #243 "Implement tests to cover basic functionality"
Write posix shell test framework to cover basic functionality. For start I'd cover `ping` or `arping`, which are IMHO mostly used.

[2019-12-25 09:05] kerolasa commented on #243
I am not sure what is meant with shell test framework. Taking what meson has to offer is likely the fitting way to add tests to this project.

https://mesonbuild.com/Unit-tests.html

[2019-12-26 16:50] dopheideb commented on #232
@ValZapod

I get your point. Not sharing your point though. Since my issue is with user experience and not this matter, I'd better not argue with you on this one; it would diverge us from the main track: user experience.

This/my issue has to do with user experience and not (much) with actual maths. So the following is in fact not about significant digits.

From a user perspective, I am served wit

[2019-12-27 03:16] ValZapod commented on #232
No, this will be 9.99...

What about 9.190? It will be 9.20... Again a trailing zero. It is normal.
Do I need to give you a link to book on statistics?

should occur when you have 1000, 10000, etc. Not on 9995, etc! It is just wrong! Nobody does that! (Well, this is called counts see https://youtu.be/4trKPj9UPZ4)

Again! 9.995 is two decimal digits after dot and thus it is 10.00 and 10000 is 1 dec

[2019-12-28 14:35] fjaell opened #246 "libcap 2.29 breaks build of iputils"
with libcap 2.29 installed I get the following:

[24/28] Compiling C object 'ninfod/0cb6efe@@ninfod@exe/ninfod.c.o'.
FAILED: ninfod/0cb6efe@@ninfod@exe/ninfod.c.o

cc -Ininfod/0cb6efe@@ninfod@exe -Ininfod -I../ninfod -Ininfod/.. -I../ninfod/.. -I. -fdiagnostics-color=always -pipe -D_FILE_OFFSET_BITS=64 -Wall -Winvalid-pch -Wextra -Wpedantic -std=c99 -g -include config.h -include git-version.h '-DG

[2019-12-28 17:19] kerolasa commented on #246
I changed the problematic variable name in 18f9a84e0e702841d6cc4d5f593de4fbd1348e83 and I am pretty sure this will fix the issue. It would be nice to hear if that worked for you @fjaell.

[2019-12-28 17:49] fjaell commented on #246
Yep, that works. Thanks for the quick fix!

[2019-12-28 20:24] #246 closed

[2020-01-02 09:52] dopheideb commented on #232
@ValZapod

You are right. I meant 9.9987. That will be rounded currently to 10.00. I am sorry to have given you the impression that I am a complete idiot, my bad. If you will check my patch, you will see I got it right there: triptime=9995 does lead to "time=10.00 ms", which I believe to be incorrect with respect to user experience. (I still agree that "time=10.00 ms" is correct in terms of roundi

[2020-01-02 10:08] ValZapod commented on #232
iputils is very near kernel level thing. You cannot change a bahaviour if you just think it is bad user experience WHICH IT IS NOT[*]. See Linus comment on this: https://lkml.org/lkml/2012/12/23/75 This is the same, as it is used in many scripts, etc...
*It is good behaviour because when you see 10.00 you know that it less than 9.9999... (and 9.9..... == 10, do you know that, remember 1/3 is 0.333

[2020-01-02 17:20] jknoos opened #247 "arping's exit code for unsolicited ARP mode is non-zero"
**Version:**
[code]

**Steps to reproduce:**
[code]

**Expected result:**
Since the man page states -U enables `Unsolicited ARP mode to update neighbours' ARP caches. No replies are expected`, an exit code of 0 is expected even when there are no replies (in the absence of other internal errors).

**Actual result:**
Exit code is non-zero:

[code]

[2020-01-02 18:51] kerolasa commented on #234
I don't have preference. @pevik feel free to choose some way to release, and it could be nice to get release done before spring.

[2020-01-02 19:38] kerolasa commented on #247
I just pushed commit to my repository that probably fixes the issue. Reviews are welcome. I'll have another look of this during weekend, and if the change still looks ok and does what I think should be correct merge is likely to happen.

[2020-01-06 21:09] threexc commented on #104
Hello,

I am encountering an issue similar to this using release s20190709, but with IPv6. I've confirmed that the packets are actually appearing on the loopback interface with tcpdump, and that specifying the device as e.g. ping -6 fe80::92e2:baff:fe08:3738%eth0 works, but ping -6 -I eth0 fe80::92e2:baff:fe08:3738 does not. Both ping options work for me on s20180629. I've also tried writing a pat

[2020-01-20 08:33] yizhao1 commented on #104
Hi,

I found it doesn't work when net.ipv4.ping_group_range sysctl is enabled. Since systemd 243, the ping_group_range sysctl is enabled:

root@qemux86-64:~# cat /usr/lib/sysctl.d/50-default.conf | grep "ping_group_range"
-net.ipv4.ping_group_range = 0 2147483647
root@qemux86-64:~#
root@qemux86-64:~# cat /proc/sys/net/ipv4/ping_group_range
0       2147483647
root@qemux86-64:~#

Then the ping progr

[2020-01-20 14:52] pevik commented on #104
BTW kernel in v5.2 got related fix [19e4e768064a ipv4: Fix raw socket lookup for local traffic](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=19e4e768064a87b073a4b4c138b55db70e0cfb9f).

[2020-01-26 12:17] ValZapod commented on #104
@pevik Yes, I have kernel 5.4.8-1 (latest testing),

`ping -I eth0 192.168.1.69`
indeed works.
As well as `ping -6 -I eth0 fe80::0`

You can close it, I think.

[2020-01-26 12:27] ValZapod commented on #232
@kerolasa So, I think we indeed will should not play with this. There was a BUG in the kernel, because of it part of functionality in ping did not work. Just wow. Crazy. https://github.com/torvalds/linux/commit/19e4e768064a87b073a4b4c138b55db70e0cfb9f

[2020-01-26 12:34] ValZapod commented on #104
@pevik And also this commit https://github.com/torvalds/linux/commit/38c73529de13e1e10914de7030b659a2f8b01c3b

[2020-01-26 19:44] pevik commented on #104
@ValZapod thanks! Yep, fix became a regression, how usual in kernel development.
I plan to have a look into the issue, if there is a way to fix ping with kernel without fix.

[2020-01-27 06:42] ValZapod commented on #104
@pevik It is not really a regression

and as it happened between revision candidates of the same version... It does really metter.

[2020-01-27 20:56] ValZapod commented on #104
We have a big probem. In 5.5 kernel we can now have multiple names of a one interface AND its length is now not maximum 16, it is now maximum 256! Are we ready for that?

[2020-01-27 21:57] pevik commented on #104
I don't see [these changes](https://kernelnewbies.org/Linux_5.5#Networking) as a problem:
* size 256 length is definitely not a problem (`char *p, *addr = strdup(optarg);` handling `-I` in https://github.com/iputils/iputils/blob/master/ping/ping.c#L388). BTW: I'd expect something like `getconf ARG_MAX`, which is 2097152 on my system, would fail, but in the reality is a bit more than half:

[code]

[2020-01-27 22:09] ValZapod commented on #104
@pevik I am not a kernel programmer. Did you try 5.5 kernel? ;)

[2020-01-28 18:26] RPigott opened #252 "ping -6 fails for hosts with link local addresses"
Sorry if this is a duplicate, but I didn't see anything like it. I did see #100, but I'm not sure under what circumstance it is intended to allow scope-less link local ping to work.

I see this behavior in the `ping` from the Arch repos and in a build from master.

The issue I see is the following:
[code]

I tracked down why this happens [here](https://bbs.archlinux.org/viewtopic.php?pid=1884995).

[2020-01-30 01:01] ValZapod commented on #252
You understand you need to use %iface, right?😝

[2020-01-30 02:41] RPigott commented on #252
@ValZapod Yes. That's called a scope ID. Please read my description again and the linked post.

The %iface syntax is for numeric addresses only, otherwise the scope ID should be determined by name resolution. It _is_ determined correctly by getaddrinfo in the dual stack case. This bug is about the ping6 case.

[2020-01-30 02:45] ValZapod commented on #252
BTW, you look like a clever guy, do you know how to made AAAA before A as it should by standard Eye Balls? I do not use systemd resolver or anything. Just resolv.conf

[2020-01-30 04:06] RPigott commented on #252
@ValZapod Are you referring to [Happy Eyeballs](https://tools.ietf.org/html/rfc8305#section-3)? I don't think this is possible within the libc resolver.

Either way, it's unrelated to this bug report. I suppose you should open a feature request for ping to implement it, if you want.

[2020-02-05 14:42] sebastianpszczolka commented on #242
I have more time and make some research on memory eat.
I found that leak is in **skbuff_head_cache** slab

 Active / Total Caches (% used)     : 1079 / 247967.5%)
 Active / Total Size (% used)       : 13447.99K / 8.977.12K (95.0%)
 Minimum / Average / Maximum Object : 0.859.010.28K 636.26K (94.7
  OBJS ACTIVE  USE OBJ SIZE  SLABS OBJ/SLAB CACHE SIZE NAME
 17416  17345  99%    0.14K    622       28

[2020-02-08 14:14] kerolasa commented on #247
I merged the commit that should fix the issue. Please inform if that does not help, or has some regression I did not realise.

[2020-02-08 14:14] #247 closed

[2020-02-08 14:20] kerolasa commented on #252
Fix by @RPigott  was merged, so I think this issue can be closed. Please inform if I got that wrong, and thanks again Ronan.

[2020-02-08 14:20] #252 closed

[2020-02-08 14:23] kerolasa commented on #232
There was recent 5b6c19404dbe462e803fc954a7cd6765d1234eb5 that fiddled with output precision.  think that makes the output what you need. And that said I'm not over the top interested of doing these fixes while iputils should get release done so that I could move on getting https://github.com/iputils/iputils/pull/229 back on track that will nearly completely re-implement everything related to ping

[2020-02-08 14:31] ValZapod commented on #232
@kerolasa Well, I said here why https://github.com/iputils/iputils/commit/5b6c19404dbe462e803fc954a7cd6765d1234eb5 would be wrong, IMHO.

[2020-03-07 09:52] lac-0073 opened #259 "arping -w xx does not take effect"
1. **When the peer is reachable**
**Version: 20180629，-w take effect**
[root@localhost ~]# arping 9.82.246.187  -w 5 -I eth0
ARPING 9.82.246.187 from 9.82.227.144 eth0
Unicast reply from 9.82.246.187 [52:54:00:FE:A7:59]  2.012ms
Unicast reply from 9.82.246.187 [52:54:00:FE:A7:59]  2.949ms
Unicast reply from 9.82.246.187 [52:54:00:FE:A7:59]  1.109ms
Unicast reply from 9.82.246.187 [52:54:00:FE:A7:5

[2020-03-07 10:23] lac-0073 opened #260 "arping -w xx always work on -i 1"
**Version: 20190709**
-w(ctl->timeout)  should compare with total_expires * -i (ctl->interval)
but now -w(ctl->timeout)  just compare with total_expires

[2020-03-07 21:23] kerolasa commented on #242
While running in one terminal

    $ ./builddir/ping/ping  -i 0.2 127.0.0.1

I ran the following.

    for i in {1..10}; do sudo slabtop --once | grep skbuff_head_cache; sleep 10 ; done
      3296   3113  94%    0.25K    206       16       824K skbuff_head_cache
      3296   3125  94%    0.25K    206       16       824K skbuff_head_cache
      3280   3173  96%    0.25K    205       16       820K s

[2020-03-07 21:45] kerolasa commented on #259
Breakage originates to 1df5350bdc952b14901fde356b17b78c2bcd4cff

[2020-03-07 22:10] kerolasa commented on #259
I think https://github.com/iputils/iputils/pull/261 will address all the issues. It would be nice to hear feedback if that works for you @lac-0073 before I merge.

[2020-03-07 22:11] kerolasa commented on #260
I think https://github.com/iputils/iputils/pull/261 will obsolete this bug, right?

[2020-03-08 17:56] sebastianpszczolka commented on #242
I use kernel 4.19.35 with IMX6 SOC
I will do more tests and let you know.
Thanks for help

[2020-03-09 02:40] lac-0073 commented on #259
yes ,I confirmed it was resolved on  [#261](https://github.com/iputils/iputils/pull/261/commits/f7d6c011dfa0e17ccf8f6bc53e127ba06fa2273a) ， you are awesome.

[2020-03-09 02:41] lac-0073 commented on #260
yes

[2020-03-09 02:41] #260 closed

[2020-03-09 17:08] kerolasa commented on #259
Thank you for confirmation, fixing commit is e594ca52afde89746b7d79c875fe9d6aea1850ac.

[2020-03-09 17:08] #259 closed

[2020-03-14 12:59] MikeHigginbottom commented on #243
I'd like to take this issue. Not sure that Meson's unit test support will be enough on its own though. It seems to assume you have some kind of test framework already in place (e.g. CUnit) in which the test executables are written. Meson would then call out to these exes as part of the build process. Would a combination of the two be appropriate?

[2020-03-14 19:12] pevik commented on #243
@MikeHigginbottom sure, go ahead :). Unfortunately I'm too busy atm to work on it.

BTW my original idea was to have functional testing (e.g. all options work as expected; because that's what affect users). IMHO code is quite small (and it's not a library) therefore I don't see a priority for unit testing. But maybe I'm wrong.

For functional testing I planned to start with `ping` and `arping`. I

[2020-03-26 20:14] ValZapod commented on #232
@kerolasa Well, I said here why https://github.com/iputils/iputils/commit/5b6c19404dbe462e803fc954a7cd6765d1234eb5 would be wrong, IMHO. I THINK WE SHOULD REVERT IT.

[2020-03-27 08:19] wijnen commented on #232
I stumbled upon this report and I notice that there is a misunderstanding here. I'd like to explain both sides of this argument in the hopes of you understanding each other, so that you can discuss whether or not you agree with the point the other person is trying to make.

@dopheideb is talking about user experience. This is related to the principle of least surprise. In the output they quote, th

[2020-03-27 08:28] ValZapod commented on #232
Well, we all are educated here, no?

Obviously, no. Least sagnificant digits are less precise than others (or it least it was like that, now as you may know, nanoseconds are used in linux kernel and picoseconds inside Minix in Intel chipsets). And I proposed the patch for this in https://github.com/iputils/iputils/issues/193#issuecomment-512129751

I perfectly understand him.

[2020-04-21 00:49] ValZapod commented on #104
Yes, it is indeed not a problem. Lets close it. Finally.
"way to fix ping with kernel without fix"
No point I think. As the commit message mentions https://github.com/torvalds/linux/commit/19e4e768064a87b073a4b4c138b55db70e0cfb9f

[code]
So if they say there is no way ;)

[2020-04-21 00:50] ValZapod commented on #198
Can be closed, was a bug in the kernel.
https://github.com/torvalds/linux/commit/38c73529de13e1e10914de7030b659a2f8b01c3b
https://github.com/torvalds/linux/commit/19e4e768064a87b073a4b4c138b55db70e0cfb9f

[2020-05-14 13:41] danbf opened #266 "seeing `nagios CRITICAL - Could not interpret output from ping command` on nagios running on debian"
seeing `nagios CRITICAL - Could not interpret output from ping command` on nagios running on debian.  fixed by adding `RUN chmod u+s /bin/ping` to the Dockerfile.  this was working in the past and suddenly broke.

nagios runs as a non-root user.

[2020-05-14 13:54] danbf commented on #266
failing vs non failing installs show the same version of `iputils-ping`

[code]

[2020-05-14 16:52] danbf commented on #266
ok, so i think this is a packaging issue.

what i think happened before is that somehow we didn’t build this often enough and that the installed iputils-ping matched what was going to get installed by the apt-get install so it never kicked off the install.  so we’ve just been lucky here so far.

i think so i think this might be a new edge case for in the container world, where in a container `setc

[2020-05-14 17:00] pevik commented on #266
@MofX could you have a look on it?

@danbf It really looks as a packaging issue, e.g. it should be reported to [Debian bug tracker](https://www.debian.org/Bugs/). But @MofX is Debian packager, so we might solve it here. Could you at least wrote some details (which Debian version you use, which packages you use etc. Not everybody is using Nagios and/or Docker, straightforward reproducer speedup fix

[2020-05-14 17:07] danbf commented on #266
i agree, and i reported it there once i dived deeper.

root@5fa2cf3589e1:/# setcap cap_net_raw+ep /bin/ping
root@5fa2cf3589e1:/# echo $?
0

root@5fa2cf3589e1:/# uname -a
Linux 5fa2cf3589e1 5.4.20-12.75.amzn2.x86_64 #1 SMP Thu Feb 27 20:41:59 UTC 2020 x86_64 GNU/Linux
root@5fa2cf3589e1:/# dpkg -s iputils-ping | grep Vers
Version: 3:20180629-2
root@5fa2cf3589e1:/# ls -l /bin/ping
-rwsr-xr-x 1 root r

[2020-05-14 17:11] danbf commented on #266
been talking to @nmeyerhans i think on it.

[2020-05-14 17:24] danbf commented on #266
i scratched my itch by explicitly adding a `RUN chmod u+s /bin/ping` in my Dockerfile after the `apt-get install iputils-ping` and while i admit my use case is rare it's interesting that `setcap cap_net_raw+ep /bin/ping` doesn't throw an error, but still doesn't function in containers not running under root.

[2020-05-14 18:21] nmeyerhans commented on #266
@danbf, It's probably not the case that `setcap` is lying about its ability to set the file capabilities. More likely the problem is that the capabilities are getting lost somewhere in the various filesystem operations that occur between creating and running the container. Neither the packaging system, nor the package itself, can anticipate whatever filesystem transformations may happen between th

[2020-05-14 20:46] danbf commented on #266
we first noticed this issue on an AWS ECS Fargate deployed nagios container.  it think the issue shows up because of using user namespace in docker there.

not sure if something else could be used instead of just https://salsa.debian.org/debian/iputils/-/blob/ffe8f119c93a37f2d7e1e9f9523b794893641966/debian/iputils-ping.postinst#L12 .  it doesn't seem like a `/sbin/getcap` or `setcap -v` will help

[2020-05-14 20:52] nmeyerhans commented on #266
The whole point of using capabilities is to get rid of a setuid binary on the system. So using both would completely defeat the purpose.

You'll note that the official Debian Docker images set the setuid bit on ping.  Presumably that's because, one way or another, they build on a filesystem that doesn't support capabilities, because I don't see any place in [their code](https://github.com/debuerre

[2020-05-14 21:02] danbf commented on #266
👍 and thanks for your time on this.  just a heads up that this weird edge case might come up.  especially among people running  monitor in a container like we do.

[2020-05-14 22:10] #266 closed

[2020-05-15 01:48] kevinzs2048 opened #267 "arping can not set timeout of numbers with decimal point"
\#arping -V
arping from iputils s20190709

\#arping -A -c 3 -w 4.5 -I br-ex 10.101.96.101
arping: invalid argument: '4.5'

[2020-05-15 05:26] MofX commented on #266
@pevik I guess you got something wrong here :) I am not a maintainer for debian.

[2020-05-15 07:03] pevik commented on #266
I'm sorry, I meant nmeyerhans :)

[2020-05-15 07:10] pevik commented on #267
This is caused by locales, it needs similar fix as d865d4c468965bbff1b9d6b912eee44ade52967d.

[2020-05-15 07:18] pevik commented on #267
No, I was wrong `-w` expects int. The same is for ping. And the bug title is wrong: `4.5` is not decimal.

[2020-05-15 07:27] kevin-zhaoshuai commented on #267
@pevik Thanks! But I saw from the version 2016 arping, user can set the -w with numbers with decimal, such as -w 2.5

[2020-05-15 08:04] pevik commented on #267
I'm sorry I was wrong (confused integer number with decimal number, my bad English).

But even then `-w` is handled with `int`
https://github.com/iputils/iputils/blob/s20160308/arping.c#L81
and thus converted in `atoi()`
https://github.com/iputils/iputils/blob/s20160308/arping.c#L1044
=> `4.5` was taken as `4`. Only later @kerolasa added check for int, which is IMHO correct, than pretending we han

[2020-05-17 10:36] amitcohen1 opened #268 "ping6 does not support -F flowlabel option"
I use Fedora31 and ping6 failed with the following error:
$ ping6 2001:db8:2::2 -F 0 -c 1 -q
ping6: flow labels are not supported

The same command, just without -F option works well.
$ ping6 2001:db8:2::2 -c 1 -q
--- 2001:db8:2::2 ping statistics ---
1 packets transmitted, 1 received, 0% packet loss, time 0ms
rtt min/avg/max/mdev = 0.116/0.116/0.116/0.000 ms
PING 2001:db8:2::2(2001:db8:2::2) 56 d

[2020-05-24 17:28] AMDmi3 opened #269 "Please use more common versioning scheme"
iputils historically uses versioning scheme `sYYYYMMDD`. This is pretty uncommon, not compatible with some packaging systems which do not allow random characters or cannot compare them properly, and have to mangle versions to `YYYYMMDD`:

https://repology.org/project/iputils/information

This is confusing for packagers and users, hinders automatic detection and reporting of latest version to keep

[2020-05-25 08:45] kerolasa commented on #269
I agree the version string is strange. It would be much better to follow https://semver.org/ but if we change the version string will downstream packaging software (deb, rpm, pacman, and so on) get confused what is the latest version?

It would be catastrophic to make version string such that next upgrade requires removal of all old packages from package repositories. Assuming smooth upgrades cann

[2020-05-25 08:47] kerolasa commented on #268
Hi @amitcohen1 I just made a pull request  https://github.com/iputils/iputils/pull/270 that should address the issue. Let see what other people who watch this project have to say about the change, as it has open question of why the headers are behaving so strange way.

[2020-05-25 14:22] AMDmi3 commented on #269
This would be great, but yes - it may cause inconveniences (not catastrophic ones though) for some parties. In fact, most packaging systems should have no problems with this as they use _epochs_ which are increased when normal package version needs to go down due to upstream schema change or update revert, so (epoch,version) always remains monotonic. In Repology, a rule would have to be added whic

[2020-05-25 17:25] nmeyerhans commented on #269
I agree that the current scheme is a bit weird. I'm ambivalent as to whether or not it should be changed, and to whether or not semver makes sense. IMO semver is more useful for libraries or tools with explicitly machine-parseable interfaces, which doesn't qualify here, although I recognize that parsing ping's output is very common.

I don't agree with the assertion that the current scheme is part

[2020-05-26 17:44] kerolasa commented on #268
The issue should be fixed, see 60c28a5865b7dcc41946bff7e8ed173bf712c0d1. Thank you for bug report @amitcohen1

[2020-05-26 17:44] #268 closed

[2020-05-27 06:47] amitcohen1 commented on #268
Thanks!

[2020-05-27 07:50] pevik opened #271 "[RFC] Consider dropping localization (i18n / gettext / .po files)"
Localization code is broken on some places in `ping`.
We set C locale (`setlocale(LC_ALL, "C");`) and then continue using `_()`:
https://github.com/iputils/iputils/blob/master/ping/ping_common.c#L202
https://github.com/iputils/iputils/blob/master/ping/ping_common.c#L889
(see discussion in https://github.com/iputils/iputils/pull/265#issuecomment-624510692).

Before fixing it, I wonder if we want to

[2020-05-27 07:52] pevik commented on #271
@jsynacek @nmeyerhans @vapier @pavlix @okias WDYT?

[2020-05-27 08:01] vapier commented on #271
i'm not a fan of forcing English everywhere.  if anything, the sorry state of things makes it sound like some effort should be put in to integrate with something like [TP](https://translationproject.org/).  i know such projects aren't a silver bullet, but i really hate to see giving up on l10n entirely.  it's just a vicious cycle if every project keeps waiting on everyone else first :(.

Gentoo al

[2020-05-27 08:09] pevik commented on #271
@tomop-tg @yurchor FYI

[2020-05-27 08:15] pevik commented on #271
IMHO if we keep it, it should be fixed issues with `C` locale and `_()`. I'd prefer to use https://weblate.org/. We have also been contacted by folks from https://gitlocalize.com.

Plus it'd help if somebody start to care about localization and drive the effort. (We need to look on outstanding bugs and make release + I have some plans for testing, which is IMHO more important, thus have no energy

[2020-05-27 08:17] yurchor commented on #271
Whatever developers want. It always better to have excellent application than having a moderate quality application with a few translations.

Just wanted to point that Ubuntu translates iputils downstream via Launchpad:

https://translations.launchpad.net/ubuntu/focal/+source/iputils/+pots/iputils

[2020-05-27 08:22] amitcohen1 commented on #268
Hi, trying to check the fix and it seems that the issue is still occurs.
I installed iputils from master using - "./configure && make && make install".
$ which arping
/usr/local/bin/arping

The same error is shown:
$ ping6 2001:db8:2::2 -F 0 -c 1 -q
ping6: flow labels are not supported

Did I miss something?

[2020-05-27 08:55] tomop-tg commented on #271
In Japan, some people have a negative reaction to English sentences. I hope this software works for those people as well.

[2020-05-27 11:10] pevik commented on #268
I tested it only on `::1`, works for me (and verify that without fix it's not working). Can you check that (+ check version)?
[code]

[2020-05-27 11:42] okias commented on #271
@tomop-tg question is, if there is someone from Japan, who is willing to contribute to iputils to make this solid.

As you wrote, there is most likely value for Japan users, but someone needs to care of it.

[2020-05-27 12:33] amitcohen1 commented on #268
Can I declare the default "ping6" to be ./builddir/ping/ping -6?
I want to use it as part of kernel tests without changing the tests.

[2020-05-27 13:10] pevik commented on #268
Either use `ping -6` or symlink ping to be `ping6` (equal functionality).

BTW are you using LTP network tests?
https://github.com/linux-test-project/ltp/tree/master/testcases/network

[2020-05-27 17:01] vapier commented on #271
@okias, @pevik said there are Japanese translations available already

it's unreasonable to ask translators to maintain the underlying infrastructure in the code though (i.e. how we call l10n APIs including gettext)

[2020-05-27 20:12] pevik commented on #271
OK, I see there is some requirement for translations.
I'll happily maintain translation code, but what would help me if somebody drive the translation effort. e.g. choose some webUI (weblate or any other which he likes) and take Ubuntu effort (the partial German translations).

[2020-06-02 06:00] amitcohen1 commented on #268
no, I'm running kernel selftests.
Now it works, thanks!

[2020-06-10 14:07] JiaoXianjun opened #273 "ping: bad timing interval: 0.5"
ping 192.168.13.1 -i 0.5

version:
ping -V
ping from iputils s20190709

[2020-06-10 19:58] #273 closed, assigned to nobody

[2020-06-11 02:49] lxyscls opened #274 "Is it compatiable with kernel 3.2.16?"
Hello, I want to compile ping with kernel header 3.2.16. But I found that there are too many redefines in linux/in6.h. It is so odd!

[2020-06-11 05:42] yurchor commented on #271
I can do this.

[2020-06-11 06:18] JiaoXianjun commented on #273
It is the default ping from ubuntu20 LTS:

ping from iputils s20190709

[2020-06-11 06:36] pevik commented on #271
Thank you! Could you please also check Launchpad and take the output from there? (last time I saw German translation). We could create wiki page and/or doc in source code to notify the others).
BTW sometimes during summer holiday I might find a bit more time to look on the tickets and suggest what should be fixed before release. It'd be nice to have release during summer.

[2020-06-11 06:44] yurchor commented on #271
E-m-m... What should be checked from LP? Ubuntu will translate your package independently anyway (it is enough to put a POT in the package to trigger this). It is traditionally up to the LP translation teams to backport translations upstream (if way want). See GNOME, GIMP, binutils, util-linux, coreutils, cryptsetup, etc. Ubuntu team will not do this.

[2020-06-11 07:17] pevik commented on #271
I just hoped we could get that German translation. It's here: https://translations.launchpad.net/ubuntu/focal/+source/iputils/+pots/iputils/de/+translate (link from https://translations.launchpad.net/ubuntu/focal/+source/iputils/+pots/iputils). I mean don't wait for anybody to contribute it, just take what has been already translated. They haven't contributed the result up now, why would they both

[2020-06-11 07:19] pevik commented on #271
BTW I looked into sources and haven't found that German POT.

[2020-06-11 07:20] yurchor commented on #271
And if I dare to ask what the option is preferable for iputils developers?

1. Hosted Weblate (I do not know if Michal still accepts free projects, there are too many of them these days).
2. GitLocalize (there are doubts that the project can survive in the long run).
3. Fedora's Weblate (the team is uncoordinated now). https://translate.fedoraproject.org/
4. Mageia's Transifex (non-FOSS, I'm a coo

[2020-06-11 07:21] yurchor commented on #271
They patch the sources with their (LP) translations.

[2020-06-12 15:02] kerolasa commented on #274
Could you attach linux/in6.h from your system so that I can have a look of it.

Also, Linux 3.2.16 is about eight years old. Keeping a project in state where it compiles without issues a little bit of historical burden is fine, but there is a limit how far in past support should reasonably reach out.

[2020-06-13 07:36] pevik commented on #274
Either try to old version or try to define, what is missing yourself and send a PR. If it's reasonable we could use it.

[2020-06-15 02:30] lxyscls commented on #274
@kerolasa
Our environment is an embedded system, so it is hard to upgrade kernel for many other dependencies. But it is odd that I can build it with 3.10.x, an even older kernel on CentOS 7.6.

Here is the in6.h from 3.2.16, which I have change it to in6.txt for the upload limitation of Github.
[in6.txt](https://github.com/iputils/iputils/files/4777735/in6.txt)

Thank you very much!

[2020-06-15 05:39] pevik commented on #274
Then post the build error. It might help just to add some definitions.

[2020-06-15 06:38] pevik commented on #242
I guess we can close this issue. Please reopen it if the problem persists.

[2020-06-15 06:38] #242 closed

[2020-06-15 07:35] lxyscls commented on #274
@pevik It is a little verbose.
[code]

[2020-06-15 21:59] pevik commented on #274
The support for these old systems was removed in 43afde2. Assuming you're use glibc or uclibc. You have 2 options: revert it for your build (add back `in6_flowlabel.h` and use it + maintain this patch) or patch your glibc with the fix [c9bd40daaee18cf1d9824e4a7ebaebe321e0a5a8](https://sourceware.org/git/?p=glibc.git;a=commit;h=c9bd40daaee18cf1d9824e4a7ebaebe321e0a5a8) (adapt `/usr/include/bits/in.

[2020-06-15 21:59] #274 closed

[2020-06-16 12:38] lac-0073 opened #276 "ping would be stuck if modify the current time to the previous time"
It would be stucked during ping if i modify the current time to the previous time ,and will not exit normally:

Login 2 windows at the same time
1st:
[root@localhost ~]#  ping  9.82.156.184  -c 20
PING 9.82.156.184 (9.82.156.184) 56(84) bytes of data.
64 bytes from 9.82.156.184: icmp_seq=1 ttl=64 time=0.420 ms
64 bytes from 9.82.156.184: icmp_seq=2 ttl=64 time=0.480 ms
64 bytes from 9.82.156.184:

[2020-06-21 08:21] yurchor commented on #271
Ping?

[2020-06-21 12:32] pevik commented on #271
@yurchor I'm sorry for late reply. I'd prefer Weblate. But generally whatever works for you and produces translations :).

[2020-06-21 13:11] yurchor commented on #271
@pevik Ok. Thanks. Here is our new translation page on Fedora's Weblate:

https://translate.fedoraproject.org/projects/iputils/iputils/

If you do not want to manage translations by yourself, you can add me to the project and I will take care of translations. I promise that I will not touch any byte of code except for the translations.

[2020-06-21 14:15] pevik commented on #271
@yurchor great, thanks! We could update german translation :) (https://translate.fedoraproject.org/download/iputils/iputils/?format=zip).

@okias, can you please add yurchor to the project?

[2020-06-21 14:21] #271 closed

[2020-06-23 15:28] itayave opened #279 "Loopback Ping6 traffic failed when using interface name in -I option"
When executing loopback traffic via ping6 and passing the interface name to "-I" option,
the traffic failed.
If I'm passing the IPv6 address instead of the interface name, the traffic passed.

I'm using Fedora32 with the default iputils - iputils-20190515-5.fc32.x86_64

The same flow passed on Fedora27 with iputils-20161105-7.fc27.x86_64

Reproduction steps:

`ping6 -I eth2 ::11:235:255:5` - Faile

[2020-07-02 13:48] nuno-silva commented on #259
If anyone needs to patch this on release 20190709, the commits to fix it are (in order):
18f14be80466ddc8fb17a400be82764a779c8dcd
1df5350bdc952b14901fde356b17b78c2bcd4cff
ec821e572a640bd79aecc3922cb9001f4b6b26f2
e594ca52afde89746b7d79c875fe9d6aea1850ac

More info: https://bugs.gentoo.org/730154

[2020-07-05 16:52] kerolasa commented on #276
This is not a great fix. It would be far better to use `clock_gettime(2)` CLOCK_MONOTONIC.

[2020-07-05 16:55] kerolasa commented on #279
Could you compile the latest version and check if it works.

[2020-07-06 07:01] lac-0073 commented on #276
I rewrote it like you said. could you please review it again? Thank you.  #278

[2020-07-25 03:10] paziugit opened #282 "ping: rtt calculation/rounding up"
ping displays rtt in 2 decimal digits only for nnnn.10ms - to reproduce use 'ping' with the default opts...

ping utility, iputils-s20180629
Linux deb10 4.19.0-9-amd64 #1 SMP Debian 4.19.118-2+deb10u1 (2020-06-07) x86_64 GNU/Linux

![rttping_0 10ms](https://user-images.githubusercontent.com/15711143/88447536-47ea1100-ce02-11ea-8388-1b2d370a3b95.png)

[2020-08-01 02:41] wtip commented on #234
What's the holdup for getting a new release out? A package I use that makes use of `arping` for VIP failover stopped working on Ubuntu 20.04 because of a bug that was fixed with this commit https://github.com/iputils/iputils/commit/68f12fc4a0dbef4ae4c404da24040d22c5a14339
It would be nice if I could file a ubuntu bugreport to get the package updated but you don't have an upstream release with this

[2020-08-01 04:43] pevik commented on #234
@kerolasa or me finding a time. I'm sorry we should have released long time ago. I wanted first to fix https://github.com/iputils/iputils/pull/256, but maybe we should release without it.

[2020-08-01 07:06] pevik commented on #234
Could you report it in Ubuntu? Package maintainer will backport it (quick fix for now) and post a link to bugreport here?

[2020-08-01 08:01] kerolasa commented on #234
https://github.com/iputils/iputils/pull/255#issuecomment-612859728

[2020-08-01 17:03] nmeyerhans commented on #234
IMO it would be reasonable to release without #255. If it was a regression from a previous release, then it'd be worth blocking, but since it's a new feature, leaving it out from a new release won't break anybody.

A new release will let me update iputils in Debian's unstable and testing branches, which will get built on a number of different architectures and tested in different use cases. That'l

[2020-08-01 19:38] pevik commented on #234
@nmeyerhans Agree. I'll try to prepare release ASAP. Hope next release will be earlier.

[2020-08-03 10:13] pevik commented on #271
@yurchor I'm working on new release. Should we add incomplete translations? French, Chinese, Portuguese? Or just fixes for Japanese?

[2020-08-03 10:17] #192 closed

[2020-08-03 10:57] yurchor commented on #271
@pevik Sure. Please add incomplete translations. I have asked Fedora teams to translate the package [1]. People want to see their translations. ;)

If you have some release date and a deadline I can ask for translations once more to have better coverage.

[1] https://lists.fedoraproject.org/archives/list/trans@lists.fedoraproject.org/thread/ULYD4WKBQWCYO2SNJ734VVU3IYRPCDT3/

[2020-08-03 11:10] pevik commented on #271
To be honest, I'd like to release this week (I'll ping you in the pull request). But as there will be some bug fixes afterwards, I'll expect some bugfix release in few weeks.

The only way to update translations is to download the archive https://translate.fedoraproject.org/download/iputils/?format=zip ?
(There is no git repository for these translations I could just use to merge that translations

[2020-08-03 11:14] yurchor commented on #271
Not the only one. But it seems we decided to do this way (see above).

Yep. Greedy IBM/Red Hat does not want to buy another hard disk for their server and we have a resource shortage (I'm not joking). ;)

[2020-08-03 11:19] pevik commented on #282
First, you use old iputils release. There is a ticket addressing it: https://github.com/iputils/iputils/issues/232.

[2020-08-03 12:29] pevik commented on #271
Thanks for info, I'll update that manually (unless @okias gives you permission to git repository so that you can manage it).

[2020-08-03 12:42] pevik commented on #234
@nmeyerhans I'm suggesting some changes in release procedure in https://github.com/iputils/iputils/pull/283, e.g. adding `CHANGES` file.

[2020-08-03 17:12] okias commented on #271
@pevik for now I think enough people has push permission into repository, but in case someone need to regularly uodate translations and it would become burden to accept PR, then I'll give them access 😄

[2020-08-04 23:38] nmeyerhans opened #284 "Build fails if gettext is disabled"
With build environment configured as follows:

    meson build \
      -Dprefix=/usr \
      -DBUILD_RARPD=false \
      -DBUILD_RDISC=false \
      -DBUILD_TFTPD=false \
      -DBUILD_NINFOD=false \
      -DBUILD_HTML_MANS=false \
      -DBUILD_TRACEROUTE6=true \
      -DNO_SETCAP_OR_SUID=true \
      -DUSE_CRYPTO=gcrypt \
      -DUSE_GETTEXT=false

The build fails with:

    /src/iputils:$ meson

[2020-08-04 23:56] nmeyerhans opened #285 "Structure of .po and .mo files makes packaging difficult"
It's fairly common for multiple binary packages to be build from the iputils source repository. Debian, Ubuntu, and OpenWRT all build packages like "iputils-ping", "iputils-tracepath", etc. I believe Fedora and CentOS/RHEL do as well, but have not confirmed this.

The current implementation of gettext places all localization strings in a single .mo file per locale, e.g. `/usr/share/locale/uk/LC_ME

[2020-08-05 11:42] pevik commented on #284
@nmeyerhans Thank you for testing! Could you please verify my fix https://github.com/iputils/iputils/pull/287?
I'm going also to add check for travis build (some of them fails without gettext, but not all, probably due installed pkg):
https://travis-ci.org/github/pevik/iputils/jobs/715121860

[2020-08-05 11:59] pevik commented on #284
OK, your fix will be also needed.

[2020-08-05 12:46] pevik commented on #285
I'm ok with this idea. @jsynacek will it be ok to do it before release? @yurchor If I manually split all *.po files will weblate handle it ok?

BTW how other distro split the package:
* openSUSE only rarpd (https://build.opensuse.org/package/view_file/network:utilities/iputils/iputils.spec?expand=1)
* Fedora only ninfod (https://src.fedoraproject.org/rpms/iputils/blob/HEAD/f/iputils.spec)

You can

[2020-08-05 13:05] pevik commented on #284
@nmeyerhans should be now fixed with your fix and also covered by travis build + more strict travis.

Verified that it does not fail for any distro: https://travis-ci.org/github/pevik/iputils/builds/715142082
Previously failed for some distros: https://travis-ci.org/github/pevik/iputils/builds/715141978

Thanks for your patch, feel free to reopen if problem persist.

[2020-08-05 13:42] pevik commented on #284
OK, I didn't remember that this was affected by d865d4c468965bbff1b9d6b912eee44ade52967d from https://github.com/iputils/iputils/pull/265.

Now with NLS (the default) using locale decimal delimiter (`,`) triggers warning (as expected):

[code]

But without NLS (non-default `-DUSE_GETTEXT=false`) using C locale delimiter (`.`) triggers warning (which is wrong):
[code]
It looks like my original solu

[2020-08-05 13:57] yurchor commented on #285
To be honest, I'm not a fun of this idea. Util-linux, coreutils, extfsprogs, gnupg are the similar collections of utils. They all have just one .po file. Binutils is huge so it is split. Both approaches can be used. I'm in the country now with very limited internet connection. So I cannot add more good arguments until the next Monday.

[2020-08-05 14:59] pevik commented on #285
@jsynacek any opinion on this?

[2020-08-05 15:57] pevik commented on #284
WIP: https://github.com/iputils/iputils/pull/288. I also need to fix man page as changed behavior wasn't documented.
@MofX FYI.

[2020-08-07 03:57] lac-0073 commented on #276
And I have verified this modification.

[2020-08-10 06:53] yurchor commented on #285
Ok. I have tested extraction for the separate project dirs and have no objections if the split will benefit the project on embeddables.

Please tell me if you want to split POT catalogs as well so I can rearrange Weblate catalogs accordingly.

[2020-08-10 06:56] pevik commented on #285
@nmeyerhans could you please prepare PR which split the po files and notify @yurchor?

[2020-08-10 16:14] pevik opened #290 "Reconsider introduced incompatibility in handling numbers in options"
Handling -i and -W parameter changed over the time, recently introducing
several *incompatible* changes:

### -i interval option
Until s20121114 ping used `.` (dot) as a decimal separator.

Then in 04d3f79 ("ping,ping6: Do not assume radix point is denoted by `.` (-i option).") released in s20121121 decided to use decimal point from locales (depended on `$LC_NUMERIC`). But even then it depend on `

[2020-08-10 16:16] pevik commented on #284
Continue tracking in #290.

[2020-08-10 16:16] #284 closed

[2020-08-10 16:22] pevik commented on #290
@kerolasa @nmeyerhans @MofX @jsynacek can you please review this?

[2020-08-10 16:23] pevik commented on #267
@kevinzs2048 feel free to comment on #290.

[2020-08-10 16:39] pevik commented on #269
Although I don't like `s` in the version, I'd prefer not introducing the change. Although first versions from Alexey Kuznetsov used different scheme (see http://ftp.icm.edu.pl/packages/linux-iproute/ip-routing/): `yymmdd`, this version isn't in our git repository.

The other maintainer YOSHIFUJI Hideaki (http://www.skbuff.net/iputils/) moved to the current scheme `syyyymmdd`, which is used in git.

[2020-08-14 12:16] pevik commented on #290
Gentle ping for a review.

[2020-08-16 09:54] kerolasa commented on #290
It would be best to restore dot as separator. And I would be much happier if whole of localization non-sense could be ripped out from the project. IDN has so far caused more harm and damage than anything good.

Reading user arguments with `strtod()` that will catch broken inputs is the way forward. Where downstream usage is expecting integer then then input needs to be truncated. Yes, truncated I

[2020-08-16 23:16] pevik commented on #290
That's exactly which commit https://github.com/pevik/iputils/commit/d44616a7a3abca8c33b9ebfdf4906e441b08c0ec does :).

Agree for localization, but still hesitate to remove the functionality which at least some users want. But IDN is IMHO a valid option, you certainly want to ping IDN domain.

The biggest concern for me is that `-i` which didn't accept wrong input before now accepts it and we warn

[2020-08-17 20:35] kerolasa commented on #290
The millisecond measurements need to go in future. Ping and other should be based on struct timespec, and if users want to use fractional inputs they must not be any sort of problem what so ever. But that work has been halted for half year waiting for a release, so how about getting something released even if it's not entirely right or correct. If absolutely correct software is a release condition

[2020-08-18 10:56] MofX commented on #290
My two cents to this discussion:

1. IDN is absolutely valid. IDN exists and IDN domains should be pingable. I wouldn't even make this optional. This actually led to me finding the different behavior of the decimal separator, because ubuntu had IDN disabled (just because no one thought about activating it. This was now changed after I filed a bug report. Another argument against a configurable fea

[2020-08-18 11:45] pevik commented on #290
Agree => next release.

[2020-08-18 15:32] pevik commented on #290
Agree that IDN is valid, and it should be by default on. But not sure if we should force users to have libidn2, IDN is *optional* (not required) in curl, dnsmasq, gnutls, mutt, systemd, wget, ... (anybody who uses it has it optional, https://git.busybox.net/buildroot/tree/package/dnsmasq/Config.in#n31 claims that using libidn2 is: *a big space taker since it pulls in many libraries.*

It also comp

[2020-08-24 19:18] nuno-silva opened #291 "common: infinite loop when getrandom() fails"
A call to getrandom was added in https://github.com/iputils/iputils/commit/ad0256f3543a69ff0d44bca838bade6aac04bcbd .

There is a fallback for when getrandom returns an error; however, in this case, the `break` statement does not exit the while loop:
https://github.com/iputils/iputils/blob/ad0256f3543a69ff0d44bca838bade6aac04bcbd/iputils_common.c#L102-L110

This results in an infinite loop wheneve

[2020-08-29 19:55] #291 closed

[2020-08-29 20:23] #276 closed

[2020-08-30 18:16] ValZapod commented on #232
You know what, I just realised that I do not know how precise are the values anyway before rounding. As I showed in the other issue Wireshark shows very different numbers and when you switch it to nanoseconds it is also different. So whatever.
Maybe it is a good idea to introduce flag that will turn off the rounding...

[2020-09-02 19:31] lekto opened #293 "ping: socket: Address family not supported by protocol"
Hi, I got message "ping: socket: Address family not supported by protocol" when using ping without "-4" after update to s20200821.
[code]

I did git bisect and it's showing me that this commit is causing this:
[code]

I'm using kernel without IPv6 support.

[2020-09-02 19:57] pevik commented on #293
Thanks for your report. The commit is correct. But is there a regression? I don't thing so, but code could be improved.

* For `-4` ping creates only `AF_INET` socket.
* For `-6` ping creates only`AF_INET6` socket.
* For the default (`AF_UNSPEC`) ping creates both AF_INET` and`AF_INET6` socket.

https://github.com/iputils/iputils/blob/4fd276cd8211c502cb87c5db0ce15cd685177216/ping/ping.c#L523-L533

[2020-09-02 20:00] pevik commented on #243
We should also test code on kernel without IPv6 support. Although I expect IPv6 everywhere, there are obviously people running IPv4 only: https://github.com/iputils/iputils/issues/293

I don't have much time for a development, but consider tests as a high priority. Hope I'll find time to prepare subset of LTP shell API and write at least some tests soon.

[2020-09-02 21:25] floppym commented on #293
I would guess that the desired outcome is to run `ping github.com` on a kernel with IPv6 disabled without seeing a warning message.

It is unlikely that a user who has disabled IPv6 support in the kernel would care that `ping` is unable to create an IPv6 socket.

[2020-09-02 21:42] Whissi commented on #293
...and keep in mind that github.com doesn't return any `AAAA` record at all. :)

[2020-09-17 20:52] okias commented on #269
Hello guys.

1. I don't like this `sYYYYMMDD` format either, but I think changing it - for this type of project (mostly maintanance only, no new features) is useless
2. let's drop `s`, but since `[0-9]` < `s`, we will need contact all maintainers keeping `s` inside their names:

[code]
So, everyone else already dropped the `s`.

Real impact of dropping `s` is minor, so let's do it. I'll try contac

[2020-09-17 21:13] #104 closed

[2020-09-17 21:18] #198 closed

[2020-09-17 21:19] okias commented on #198
Feel free to reopen, if you'll see it on kernels with fixes.

[2020-09-18 05:57] pevik commented on #109
I'm for this. Why? `ip` command has both colors (as bash escape sequences and json output and both is useful.

But if it's me who should implement it, I'd like to add it after adding some basic fixes and testing.

[2020-09-18 06:12] pevik commented on #269
@okias Yes, I can handle that.

[2020-09-18 06:33] #234 closed

[2020-09-18 06:54] Al-Caveman commented on #109
Colours obviously increase the terminal-to-brain throughput. More data can be transferred in less time if we use colours if proper colouring of elements are used.

I don't get people who are against using colours in terminal applications. Do they have any doubt that humans have evolved to have eyes that process colourful pictures in parallel?  Because it all boils down to this:

1. If they are dou

[2020-09-18 07:10] pevik commented on #109
And arping.

[2020-10-03 14:00] sourcejedi opened #294 "An interrupted ping sometimes shows higher packet loss"
Idea: if ping is interrupted before the timeout expires, and the response has not arrived yet, could ping exclude the last packet from the "loss" calculation?

This is mostly an issue when running "ping -A" (fast adaptive ping).  But it can also happen with a normal slow ping:

[code]

[2020-10-06 07:25] JanneTerho1 opened #295 "Question: Can I disable tools from options?"
I need only ping tools. Can I disable other tools from meson_options.txt?

[2020-10-06 17:25] kerolasa commented on #295
Use the `meson configure` to disable what  you don't need.

    meson builddir &&
    meson configure builddir -Dprefix=/usr -DBUILD_ARPING=false -DBUILD_CLOCKDIFF=false -DBUILD_NINFOD=false -DBUILD_RDISC=false -DBUILD_TRACEPATH=false &&
    make

[2020-10-06 17:25] #295 closed

[2020-10-20 03:43] lac-0073 opened #298 "arping:do not update the arp table entries"
On the network port where the subnet port is configured, use the “arping” command to send arp messages, the sender_ip_addr and target_ip_addr of the message are inconsistent, which causes the client receiving the arp message to not update the arp table entries
The specific performance is as follows: There is a machine 1, and an IP is configured on the subnet port eth0:0 of eth0 (this IP was origin

[2020-10-26 09:10] mixi-work opened #300 "ping -c $num -s 0 -i 0 $ip hangs forever if some, but not all packets are lost."
# Problem:

`ping -c $num -s 0 -i 0 $ip` hangs forever if some, but not all packets are lost.

# Expected Behaviour:

`ping` should quit after some time of receiving no answers and sending no new packets.

# Steps to reproduce:

[code]

# Details:

In [`__schedule_exit`](https://github.com/iputils/iputils/blob/4fd276cd8211c502cb87c5db0ce15cd685177216/ping/ping_common.c#L256) the final waiting time

[2020-11-01 14:57] kerolasa commented on #300
Maybe someday 59ea5ac7936b715af5abe6dbaa7dc11e979515bc timespec changes get merged, and then it would be nice to make all events to be handled in an event loop. That should include exit call to become an event that tries to wait for ping replies, unless exit is called again and the packages on wire could only be considered lost.

I vaguely remember thinking the ping probably needs more sledgehamme

[2020-11-01 15:09] kerolasa commented on #298
I pushed to my personal iputils git a commit that hopefully made commit message a little bit more clear. The commit does not have code changes. With that this change is almost ready to be merged, but just as final thing. I did a little bit testing and I think the issue 68f12fc4a0dbef4ae4c404da24040d22c5a14339 tried to fix is not reintroduced, so that is good. @lac-0073 could 86ed08936d49e2c81ef49d

[2020-11-02 01:18] lac-0073 commented on #298
It's ok

[2020-11-02 21:04] #298 closed

[2020-11-02 21:04] kerolasa commented on #298
Merged. Thank you for contribution @lac-0073

[2020-11-03 12:16] hugleo commented on #279
Doesn't work, and is not only ipv6, same problem for ipv4.

wireshark packets are being sent and received but:

ping 192.168.0.120 -I enp3s0
PING 192.168.0.120 (192.168.0.120) from 192.168.0.120 enp3s0: 56(84) bytes of data.
no answer
However for ipv4 it works if i run as root user.

ping -6 fe80::e23f:59ff:feb5:e522 -I enp3s0
PING fe80::e23f:59ff:feb5:e522(fe80::e23f:59ff:feb5:e522) from :: enp3s

[2020-11-25 05:29] klynastor commented on #293
This broke nagios on me, since nagios expects no warnings sent to stderr. Here's a quick patch.

`--- iputils-s20200821/ping/ping.c.bak   2020-11-25 00:22:54.000000000 -0500
+++ iputils-s20200821/ping/ping.c       2020-11-25 00:23:13.000000000 -0500
@@ -150,8 +150,8 @@
                /* Report error related to disabled IPv6 only when IPv6 also failed or in
                 * verbose mode. Report

[2020-12-03 08:07] apriya-stack opened #302 "Due to EINTR & EAGAIN error found ping packet loss of 1"
Idea- Replace "break" with  "continue"  for below condition-
 if ((errno == EINTR && !recv_error) ||
      (errno == EAGAIN && !recv_error))
       continue;

This is mostly an issue when running "fluid ping test" (ping -f)-
errno=4 recv_error=0receive_msg=-1
errno=11 recv_error=0
--- 10.0.0.1 ping statistics ---
100 packets transmitted, 99 received, 1% packet loss, time 71ms

[2020-12-03 19:45] kerolasa commented on #302
@apriya-stack it looks like you read the code and figured out what needs to be changed. Could you send pull request instead of adding an issue.

[2021-01-01 14:27] iam-TJ opened #305 "ninfod: policy: IPv6 allow Unique Local Addresses (site-local deprecated since 2004)"
`ninfod/ninfod_core.c::ni_policy()` uses `IN6_IS_ADDR_SITELOCAL(saddr)`  which tests for deprecated [0] (since 2004) site-local addresses `... == htonl (0xfec00000);` (from `netinet/in.h`) but doesn't test for the replacement, Unique Local Addresses (ULA) [1].

It would be very helpful to enable ULAs.

[0] https://tools.ietf.org/html/rfc3879

[1] https://tools.ietf.org/html/rfc4193

[2021-01-19 11:26] Sobia01 opened #307 "Iputils compiler issues using VS CODE in Linux"
How to debug using visual studio this iputils project? please help, i am having compiler issues with this code? it's urgent.

[2021-01-19 22:10] kerolasa commented on #307
Making demands to opensource project is not good way to contribute. If you have a problem with a compiler please find out how to fix it and share the improvement as a pull request. That would be great.

[2021-01-19 22:10] #307 closed

[2021-01-20 04:04] pevik commented on #307
Unfortunately, we don't have access to visual studio, so we're unable to help you. This project targets to Linux, which uses gcc, clang and using meson build system.

[2021-01-22 10:52] pevik opened #308 "Release 2021-01"
I'm planning to release iputils in January.
I plan no code base.
I'll drop `s` from version name (#269).

@iputils/maintainers @ffontaine could you please test iputils?
@yurchor it looks to me there are no translation updates https://translate.fedoraproject.org/projects/iputils/iputils/, could you please ping translators?

[2021-01-22 10:53] pevik commented on #269
FYI I plan to drop `s` in new release (#308).

[2021-01-22 11:06] okias commented on #269
@pevik Agree, but maybe you could switch to normal versioning?  https://semver.org/

e.g. 1.0.0 or something

[2021-01-22 11:47] pevik commented on #308
Prepared CHANGELOG: https://github.com/iputils/iputils/pull/309
Unless there is any bug reported, I'd like to release sometimes next week.

[2021-01-22 12:28] pevik commented on #269
@okias I disagree with semver. @nmeyerhans is right, that semver is better for libraries or tools with some text/binary interfaces. For me I'd switch to semver on major rewrite of the project. Here `s` is just cosmetic change to avoid useless char during cosmetic release with few changes.

[2021-01-22 12:44] okias commented on #269
I was looking at aesthetic part, but I'm fine with both solutions.

[2021-01-25 19:00] pevik commented on #308
@rffontenelle @tomop-tg any change you update iputils translation before release?

[2021-01-25 19:20] tomop-tg commented on #308
I updated the Japanese translation on Fedora Weblate.
Thank you.

[2021-01-26 06:11] pevik commented on #308
@tomop-tg updated in 3a95613b27ce0a9eb987fa053ba03a14ebab95f8.

[2021-01-26 18:20] rffontenelle commented on #308
@pevik Working on it right now.

[2021-01-29 12:35] pevik commented on #308
@rffontenelle I see you've been working yesterday on translations. Please let me know when you finish. I wanted today to release iputils, but I can do it sometime week.
Thanks to all translators for your work.

[2021-02-01 10:52] okias opened #312 "CI compilation with -fanalyzer"
Since Red Hat putting some effort into GCC being able use "static analysis pass for identifying various problems at compile-time" [1], it could make sense enable it in iputils CI. Even over the fact that in gcc 10.2 it isn't perfect, by quick run it discovers at least one issue.

[1] https://developers.redhat.com/blog/2021/01/28/static-analysis-updates-in-gcc-11/

[2021-02-01 19:15] pevik commented on #312
Generally good idea, but I wouldn't use it for CI, at least not now. You can build with `-fanalyzer` and at least report problems (or even fix them). Once everything fixed, we can enable it for compilers where it stable. But it does not make sense to enable it now and have very likely broken build.
IMHO CI is more important for a) is for detecting regressions b) making sure iputils are able to bui

[2021-02-02 08:09] #308 closed

[2021-02-02 13:23] pevik commented on #269
Implemented in release [20210202](https://github.com/iputils/iputils/releases/tag/20210202).

[2021-02-02 13:23] #269 closed

[2021-02-02 13:43] pevik commented on #312
Few errors find:
[code]
As errors aren't fatal, going to merge https://github.com/pevik/iputils/commit/d63b44961e7e9a36eaf1a1b1328917e23edd3fce. Once fixed, I wonder how to make them fatal. I guess only to turn these 15 warnings (`-Wanalyzer-double-free`, ....) to `-Werror=`.

[2021-02-02 13:49] okias commented on #312
Good. I got same output, are u sure there isn't chance to exploit this? (since now it's wide visible)?

[2021-02-02 14:26] pevik commented on #312
Looking closely into the issues they look as false positives to me, even the one `dereference of NULL`. But maybe @kerolasa can you double check?

[2021-02-04 19:00] clayne commented on #293
This is absolutely a regression. If a user pings a destination on an IPv4 only host, they should not suddenly be seeing a new warning just because `socket(AF_INET6, SOCK_DGRAM, IPPROTO_ICMPV6)` failed.

[code]

This is the commit that first introduced this behavior based on a bisect:

[code]

Presumably what happened here is that once the right variable was used this warning started being emitted

[2021-02-04 19:54] kerolasa commented on #312
My days are packed full till 2012-02-10. I will try to dedicate some time to various open source commitments after that date.

[2021-02-04 20:45] pevik commented on #293
@lekto @clayne Could you please share your environment? I'm able to reproduce the problem with `ping -6 github.com` on kernel without IPv6 support (which is correct behavior), but with just `ping github.com` I get both `sock4.fd` and `sock6.fd` as valid sockets.
[code]

[2021-02-06 06:55] lekto commented on #293
Both my PC and my router: Gentoo ~amd64 (unstable), gentoo-sources-5.10.12 configured from scratch by me and iputils-20210202. In attachment is build log from iputils.

[build.log](https://github.com/iputils/iputils/files/5936402/build.log)

[2021-02-10 19:33] kerolasa commented on #312
I don't seem to be able to reproduce 15 warnings. Maybe I did something wrong?

[code]

[2021-02-10 21:32] pevik commented on #312
You're missing  `-fanalyzer` (I prepared that in my branch https://github.com/pevik/iputils/commits/fanalyzer).

[2021-02-15 08:22] Piraty commented on #293
[code]

[2021-02-15 10:27] pevik commented on #293
Thanks a lot for a reproducer. I tried to disable with `sysctl -w net.ipv6.conf.all.disable_ipv6=1; sysctl -w net.ipv6.conf.default.disable_ipv6=1` which is not obviously enough (full disable on kernel cmdline is needed).
I'm busy with other tasks but try to have look into this soon.

[2021-02-27 10:00] xxllp opened #314 "Socket :operation not permitted"
systemd rdisc service start error
log: Socket :operation not permitted
and when delete PrivateUsers=yes  in rdisc.service  the service is ok
but why?

[2021-03-06 13:54] imThief commented on #293
Hello!
I am experiencing same problem, ipv6 is not disabled - its not supported completely (CONFIG_IPV6 is not set, kernel doesn't know an AF_INET6 socket type) and commit with "if ((errno == EAFNOSUPPORT && family == AF_INET6)" is already in... Can you help?

my kernel is 5.4.97-gentoo-x86_64
[I] net-misc/iputils 20200821-r2(04:16:50 PM 02/23/2021)(arping filecaps nls ssl -caps -clockdiff -doc -g

[2021-03-07 19:04] #314 closed

[2021-03-08 01:03] nmeyerhans opened #317 "ping: Drop or lower minimal interval for flooding"
Forwarding this old [feature request from the Debian BTS](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=699238). I'm not necessarily in favor of making this change; pps flooding is still a favored DDoS mechanism. On the other hand, there are plenty of other ways to achieve similar effects.

The original request:

[2021-03-08 07:53] jsegitz commented on #317
I think we should have some limit here just to make sure people don't accidentally DoS themselves, but 200 ms is really high. We could set it to 2 ms. If someone needs to go lower than this then more specialized tooling is easily available

[2021-03-08 08:07] pevik commented on #317
@jsynacek @OlafvdSpek FYI

[2021-03-08 08:43] OlafvdSpek commented on #317
Like prefixing the command with sudo? ;)

If you're a bad actor this check isn't going to stop you. If not, is there a real problem?

[2021-03-08 08:49] jsegitz commented on #317
yes. I agree that the check will not stop you, so we can set it so low that it allows for better usage but prevents accidental damage. If you want to do damage use sudo ;)

[2021-03-11 11:59] ValZapod commented on #317
Wait a second. Are you saying this is an iputils limit!? Wow. I thought there is some internal linux kernel problem. This is totaly not needed. You can always chroot, get root and it will work even if you are not root. An example my linux on dex tablet. I do not have root on it.

[2021-03-11 14:50] pevik commented on #317
Chroot is usually protected by root permission. I'm for lowering it to 2 sec to protect *accidental* DoS. As stated previously there are many ways to do DoS if you *want*.

[2021-03-11 14:59] ValZapod commented on #317
What about virtualisation? But my Linux on dex does not use virtualisation, it uses the same kernel as in  Android itself.

[2021-03-11 16:29] nmeyerhans commented on #317
Any mechanism that lets you bypass this limit requires elevated privileges. Virtualization, chroot, containers, etc are orthogonal to the privilege issue; a completely unprivileged VM won't have the ability to send ICMP packets out a physical interface on the host system, even if you have the ability to generate them internally. Some virtualization or containerization environments make it easy to

[2021-03-12 07:24] #317 closed

[2021-03-12 18:21] ValZapod commented on #305
Why?

[2021-03-23 04:38] xmutzlq opened #319 "C shared or static library 'cap' not found"
how to fix this problem?

[2021-03-23 10:03] pevik commented on #319
Install libcap development files (`libcap-dev` or `libcap-devel` package, see correct name for your distro in https://github.com/iputils/iputils/tree/master/travis)

or disable cap use with `-DUSE_CAP=false`, e.g.:
`meson --reconfigure -DUSE_CAP=false builddir/`

[2021-03-23 11:20] #319 closed

[2021-03-26 23:11] paul-demo opened #320 "Reply payload and truncation checking is wrong and bypasses gather_statistics() when it should not"
All past versions of ping on OSX and Ubuntu have allowed for truncated responses. For example, google.com truncates to 96B (68B ICMP payload + 8B ICMP header + 20B IPv4 header).

However, we found that moving from Ubuntu 18 to Ubuntu 20, ping has changed, and now doesn't report the info message "truncated...got X bytes instead of Y", but rather just doesn't show anything when a reply is truncated.

[2021-03-27 00:10] paul-demo commented on #320
Tracing the execution manually:

https://github.com/iputils/iputils/blob/master/ping/ping.c#L1554
[code]

The 7th argument is "0".

This goes into gather_statistics:
https://github.com/iputils/iputils/blob/665782e1d3c77df2c90f144b586da1ac2da58302/ping_common.c#L763

[code]

Let's say timing = 1, then sizeof(struct timeval) would maybe be 0 since timeval *tv is passed the literal value 0 which I gu

[2021-03-27 00:50] paul-demo commented on #320
This commit changed the behavior of ping by adding contains_pattern_in_payload() before gather_statistics() is called. This means "truncated" statistics will never happen and there is unreachable code in gather_statistics() because contains_pattern_in_payload() will always find a mismatch first and nothing will get printed.

https://github.com/iputils/iputils/commit/f7710a17c4d5994313a64583f511bcd

[2021-03-27 01:20] paul-demo commented on #320
Continued debugging this in ping_common.c It appears that:

hlen = hlen = ip->ihl * 4 = 20 = IPv4 header length
cc = starts out as the whole packet length, but then gets hlen subtracted from it, so cc equals just the length of the ICMP packet
icp = (struct icmphdr *)(buf + hlen), so it points to the top of the ICMP packet. sizeof(icmphdr) = 8, so for example icp and icp+1 differ by 8 when you call

[2021-03-27 01:34] paul-demo commented on #320
I think the main issue is that the "when pattern is provided" part was never implemented, so you're checking the payload even when the pattern was not provided, and going beyond the bounds of the received packet when it is truncated.

[2021-03-27 02:59] paul-demo commented on #320
Furthermore, gather_statistics already checks the payload! See here:

https://github.com/iputils/iputils/blob/master/ping/ping_common.c#L830

So really the aforementioned CL should be completely rolled back as it broke a working feature of ping and does nothing useful.

[2021-03-27 03:17] paul-demo commented on #320
It's likely I haven't submitted the PR correctly as I don't use forked repos in my git usage, but here it is anyway for you to consider:

https://github.com/iputils/iputils/pull/321

[2021-03-27 05:53] paul-demo commented on #320
Thinking about this a bit more, I may be incorrect as this is based on just reading the source code. But it appears that for the last 4 years at iputils/ping top-of-tree:

- no one has ever observed a truncated packet (https://github.com/iputils/iputils/blob/master/ping/ping_common.c#L809 is unreachable)

- no bit errors have been detected in any packet payloads beyond the 16th byte of the payload

[2021-03-28 20:27] pavlix commented on #320
Care to elaborate which primary use cases are affected and how?

What exactly is the enormous damage here?

Are you willing to help providing tests that would cover those?

Note: I haven't looked at the code base for quite some time now. But I was here when the repo started.

[2021-03-29 00:11] paul-demo commented on #320
Hi pavlix,

Sure, I don't mind elaborating on the issue to orient you when you or another maintainer gets a chance to look at the code.

What I mean is that the main purpose of ping is to issue ICMP echo request messages and report the match or mismatch of ICMP echo reply messages generated in response. This is commonly used as the most basic test to discover two things: connectivity (ie, "Can I r

[2021-03-29 16:28] Ishaangandhi opened #322 "Support RFC 5837 extensions in traceroute"
Per [RFC 5837 Section 3.1](https://tools.ietf.org/html/rfc5837#section-3.1), ICMP TTL Exceeded messages may carry information about the interface on which an error causing message was received, which can be used for an enhanced traceroute.

Would such a patch be welcome in IP Utils? If so, I would be happy to submit a merge request.

[2021-03-31 02:12] paul-demo commented on #320
@pevik Let me know when you've had a chance to confirm this major bug.

[2021-03-31 02:14] paul-demo commented on #320
Also pinging @sunjeets who was responsible for this issue, should anyone actually be behind that ghost account with 1 commit.

[2021-04-04 18:57] pevik commented on #320
@paul-demo I'm sorry, currently my time for iputils is very limited, I'm not sure when I get into the issue.
@kerolasa @pavlix @jsynacek anybody having time to look into this?

[2021-04-10 10:05] kerolasa commented on #322
@Ishaangandhi yes, improvements and fixes are always welcome.

[2021-04-10 16:43] Ishaangandhi commented on #322
@kerolasa Glad to hear it :-) I've submitted a patch here: https://github.com/iputils/iputils/pull/324

[2021-04-15 06:41] pevik commented on #320
@paul-demo Yes, you're right, that this is a regression:

Running `ping` from both s20161105 (which contains f7710a17c4d5994313a64583f511bcdb9559f2a9) and reverted f7710a17c4d5994313a64583f511bcdb9559f2a9 on master shows the same:
[code]
And I can see the packets has been sent
[code]
Running ping from master I see with `tcpdump` the same packets has been sent, but there is no output:
[code]
But I

[2021-04-15 15:39] paul-demo commented on #320
I sent you a PR, see earlier in this thread. The problematic change does nothing at the moment except cause this issue. I recommend you just roll it back as I showed in the PR but obviously you can decide whether to do that or something else.

[2021-04-19 12:16] LurenAA opened #326 "Clockdiff host is down"
I have two computers，in a Campus Network.  they can ping each other. I can use ssh to connect one using the other one. but when I use clockdiff , both show "host is down". is there any thing wrong ? thanks

ubuntu 20.04
5.4.0-42-generic
![image](https://user-images.githubusercontent.com/45759613/115235231-8bcd3500-a14c-11eb-8493-39f94dcc3bc8.png)

[2021-04-24 04:06] concatime opened #327 "Add hostname command?"
Hi.
There are numerous networking packages:
 - inetutils
 - iproute2
 - iputils
 - net-tools

Ideally, I would install only `iproute2` and `iputils` mainly for `ip` and `ping`.
When I added `dhcpcd`, I realized that that a I had an error:
[code]
The thing is that I don’t want to install `inetutils` (which provides `hostname`)
because it also provides ping, just like iputils.

Have you considered a

[2021-04-24 18:44] pevik commented on #327
IMHO `hostname` definitely shouldn't be added into iputils.
I guess `hostname` is likely provided in any distro (e.g. in Debian there is `hostname` package [1]).
Which distro do you use? Is it for buildroot? [2]

[1] https://packages.debian.org/sid/hostname
[2] https://git.busybox.net/buildroot/tree/package/dhcpcd/dhcpcd.mk

[2021-04-24 20:01] concatime commented on #327
I’m building my own distro and decided to use iputils over inetutils.
And thank you @pevik, I wasn’t aware of debian’s hostname.

[2021-04-24 20:01] #327 closed

[2021-04-24 20:04] concatime commented on #327
Out of topic, but have you considered using libcap-ng over regular libcap?

[2021-04-25 09:16] pevik commented on #327
I don't think so. I'd certainly use libcap-ng for a new project, but as not sure what would it improve as the code is already written.

[2021-04-27 13:01] Vaevictusnet commented on #293
So, to avoid the warning, any system with ipv6 disabled (for security reasons, for example) will have patch and recompile all systems that previously used ping for monitoring.  my nagios blew up.

[2021-04-27 14:17] Vaevictusnet commented on #293
looks like the nagios piece does ignore the -4 flag as well.

[2021-04-27 14:33] pevik commented on #293
I'm sorry, I have it on my TODO list, but have no idea when I get time for it.

[2021-04-28 13:09] Vaevictusnet commented on #293
In my use case, it's fine, nagios users are better suited to be using
check_icmp rather than the check_ping (wrapper) script. There may be
something that can be done on the nagios side, to force the -4 flag, but
i'm unsure how that would work with backwards compatibility and some other
things.

On Tue, Apr 27, 2021 at 9:33 AM Petr Vorel ***@***.***> wrote:

[2021-04-28 20:24] pevik commented on #293
According to parameters in [check_ping doc](https://www.monitoring-plugins.org/doc/man/check_ping.html) is implemented in C: [check_ping.c](https://github.com/nagios-plugins/nagios-plugins/blob/master/plugins/check_ping.c).
Because there are also other third party implementations: [perl](https://exchange.nagios.org/directory/Plugins/Network-Protocols/ICMP/check_ping-2Epl/details) and [shell](https

[2021-05-02 15:58] David-Lor opened #329 "ping still using regional settings for interval decimal point"
Issue: "ping" interval setting (`-i`) uses regional setting for decimal point instead of dot (standard POSIX locale).

[code]

Theorically, PR #37 fixed this back in 2015; my ping version is `ping from iputils s20190709` (from Ubuntu 20.04), so I guess such fix should be included.

Related issue: #273

[2021-05-02 20:11] pevik commented on #329
Well, reporting buf for 2 years old version  (s20190709) does not make much sense :). We later rethink and decided always use dot, see https://github.com/iputils/iputils/commit/1530bc9719c6bf4d01dd20b26e904995903d82d8, released in s20200821 and ]properly documented](https://github.com/iputils/iputils/releases/tag/s20200821).

[2021-05-03 15:11] David-Lor commented on #329
@pevik Thank you for the clarification! I didn't imagine it would be rolled back, that's why I though it was some sort of legit issue.

If somebody wants to force the usage of the "dot notation", I was able to do so by setting the locale at runtime, doing something like this:

[code]

Output:

[code]

[2021-05-03 15:11] #329 closed

[2021-05-06 17:56] tmittelstaedt commented on #320
Please guys if there's any way you can put some time into correcting this I would be most appreciative!   I am currently dealing with a bug in OpenVPN where it's incorrectly handling MTU size and the OLD behavior of ping is really important for troubleshooting.  Thanks!!!!

[2021-05-15 19:03] pevik commented on #243
I've started working on testsuite. Our testsuite should be probably based on `meson test` command run in `builddir`

I'm working on simplifying LTP interface to use it. I'm also considering whether meson [unit tests](https://mesonbuild.com/Unit-tests.html) would be enough. We might need unit tests, but I'd like to have regression tests and these will need to have more functionality e.g. compare th

[2021-05-17 21:01] jack-champagne opened #332 "Standard Deviation not calculated Correctly"
Using ping, the statistic mdev given on completion is inaccurate as an estimate for standard deviation.

As an example:
[code]

The standard deviation for this sample of pings should actually be closer to 3.92 ms (if I were to for example put in the travel times into excel and get the std. dev.)

[2021-05-25 01:32] paul-demo commented on #332
The difference appears to just be the difference between the "sample" and the "population" definition. See Wikipedia for an explanation.

[2021-05-25 16:02] jack-champagne commented on #332
Yes, I saw in the manual docs that it was population standard deviation but I thought that treating it as a sample would be better for estimating the true variance of the population. If I wanted to predict ranges for future deviations in ping time, applying bessel's correction first is more accurate.

However, if this is out of scope and unimportant to what this library aims to deliver, we can clo

[2021-05-25 16:20] nmeyerhans commented on #332
On Tue, May 25, 2021 at 09:02:58AM -0700, Jack Champagne wrote:

I'd be very hesitant to change the meaning of the existing fields, since
they're well established at this point.  However, collecting and/or
reporting additional statistics might be interesting.  It might be
preferable to report the additional information only if explicitly
requested at runtime (via a flag, etc), but I haven't though

[2021-05-27 10:31] #320 closed

[2021-06-02 08:05] JokerShao commented on #326
same problem.

[2021-06-02 08:06] JokerShao commented on #326
but i can get right result use clockdiff from apt repository

[2021-06-02 08:14] pevik commented on #326
Can you please reproduce the problem on publicly visible hosts? That'd be much easier to reproduce for us.

Can you test it on current master and then try to bisect if older version works?

if problem found on `clockdiff` in package which version and distro you use? Never versions (>= `s20190324`) support print version (`clockdiff -V`, for other versions we rely on distro package info.

@LurenAA A

[2021-06-02 10:02] JokerShao commented on #326
1. sorry, i can't reproduce the problem on publicly visible hosts, many router will ignore the ip and icmp timestamp;
[code]
2. i have test the release version from 20210202 to 20180629, they're not work;
3. i don't known which version in apt repository, but i downloaded a version from `http://www.skbuff.net/iputils/`, iputils-s20151218.tar.bz2, it works well.

[2021-06-08 19:24] redtux commented on #293
I am having the same issue as @lekto with `iputils-ping` 3:20210202-1 on Ubuntu 21.04 hirsute (rpi4/aarch64) and IPv6 disabled (via kernel parameter `ipv6.disable=1`).

[code]

[2021-06-09 22:14] tashanamatl opened #339 "ping: No errors if an interface is specified"
When the ICMP socket is bound to an interface, if trying to ping an
address that is unreachable then no errors will be received, as they come in
through the lo interface. To be able to get useful errors the binding of the icmp socket to the device added in https://github.com/iputils/iputils/commit/f455fee41c077d4b700a473b2f5b3487b8febc1d may need to be removed.

Before that patch:
ping -4 192.168.

[2021-06-21 10:56] Ulenrich commented on #293
The command has no effect if ipv6 is disabled in the kernel:

sysctl: cannot stat /proc/sys/net/ipv6/conf/all/disable_ipv6: No such file or directory

[2021-06-29 21:36] pevik opened #343 "New release 202107"
@iputils/maintainers @yurchor @vapier I'd like to release new version sometime during mid of July. Could you please test it? All changes will have to wait after release.

@yurchor Could you please ping translators? (I noticed only small change in Chinese, which is incompatible with other changes)

[2021-06-30 11:31] yurchor commented on #343
Done. Thanks for the notice.

[2021-07-08 16:00] pevik commented on #343
@yurchor thanks, I see some updates in translation git (added full Czech translation, updated Portuguese (Brazil) and Chinese (Simplified)). There is also empty Bulgarian translation. Do you think I should wait for translation little longer before making the release?

[2021-07-08 17:57] yurchor commented on #343
No. I see no substantial reasons to wait.

[2021-07-09 09:10] pevik commented on #343
@yurchor Actually I forget to update `iputils.pot`, merged it now, hope https://translate.fedoraproject.org should get updated soon. Thus I'll wait few days for update. Can you ping translators?
@ppisar @rffontenelle FYI

[2021-07-09 11:19] yurchor commented on #343
On Sunday. AFK now.

[2021-07-09 11:22] ppisar commented on #343
V Fri, Jul 09, 2021 at 02:10:34AM -0700, Petr Vorel napsal(a):

That's not enough.

The weblate iputils repository is out of sync with the GitHub repository
<https://translate.fedoraproject.org/projects/iputils/iputils/#alerts>.
A merge conflict on ja.po. I think that an iputil administrator needs to fix
it manually as documented on the link.

-- Petr

[2021-07-09 20:33] pevik commented on #343
@ppisar thx for info. I'm not registered, I suppose @yurchor fix that once he gets back.

[2021-07-11 06:14] yurchor commented on #343
Done. Everything is synced, the ping is sent.

[2021-07-14 18:06] nmeyerhans commented on #343
I've been mostly offline for the past couple of weeks. I'll work on testing this, and will upload to Debian's experimental branch for additional testing.

[2021-07-21 17:05] pevik commented on #343
@nmeyerhans FYI the only 2 patches I consider before releasing (ideally resolve that tomorrow:
* https://github.com/iputils/iputils/pull/358
* https://github.com/iputils/iputils/pull/348 (and related https://github.com/iputils/iputils/pull/347 which should be together in single commit)

Not sure if add Korean translation, which has only 26% (https://translate.fedoraproject.org/projects/iputils/ipu

[2021-07-21 17:06] pevik commented on #314
I wonder if this was caused by missing `CAP_NET_ADMIN` capability, which was added in https://github.com/iputils/iputils/commit/710a161770aabd13e4f5028c325c41f63a417e4c. Probably not as the error looks different.

[2021-07-22 16:03] #343 closed

[2021-07-27 12:15] 6eh01der commented on #26
@okias @pevik I builded 20070202 and 20071127 versions and 20210202 from iputils github repo and results is the same - `1?: [LOCALHOST]     pmtu 1500` as first output entry (hop) so it seems that problem is not in iputils code. Also it is not problem at all.
Quote from man:"...or word [LOCALHOST], if the probe was not sent to the network"

[2021-07-27 12:35] #26 closed

[2021-07-27 12:38] 6eh01der commented on #326
@LurenAA I suppose that ICMP type 13 is blocked on target machine. Try to disable ufw. ICMP type 13 -  ICMP Timestamp. It used by default in clockdiff. Also you could add option -o and clockdiff will send ICMP ECHO packets with IP TIMESTAMP option instead of ICMP Timestamp packets. Successfully tested on Ubuntu 20.04.
@JokerShao Maybe apt version use -o option by default.

[2021-07-27 19:32] rowlap commented on #290
Came here to file a new issue, but as it's in the same ballpark as the rest of this one...

The version of ping shipping with RHEL7 reports:
[code]

The reason is that my environment specifies various different locales, including C.utf8. When this locale is not available on a host, ping complains.

An extreme example is asking for Swedish German formatted phone numbers (which don't exist):
[code]

[2021-07-28 16:21] pevik opened #363 "Remove legacy tools"
* `ninfod`
Is it still relevant and should be kept? It's packaged for Packaged for [Fedora](https://src.fedoraproject.org/rpms/iputils/blob/rawhide/f/iputils.spec) as a separate package (@jsynacek).

* `rarpd`
Reason: obsoleted by BOOTP and later DHCP protocols.  Packaged for [openSUSE](https://build.opensuse.org/package/view_file/network:utilities/iputils/iputils.spec?expand=1) as a separate pack

[2021-07-28 16:31] jsynacek commented on #363
I'm fine with removing `ninfod` and `rdisc`. Note that I'm not a Fedora/RHEL maintainer anymore and I've stopped working on anything packaging related.

[2021-07-28 17:34] 6eh01der commented on #363
rdisc has no alternatives (i mean something that implements ICMP router discovery protocol) and i think that it may be useful in some scanarios. It's very simple and stable tool. I don't know how widely it is used but recently i had need to build package for ubuntu. It does not exist in ubuntu and debian repos. But it included by default in all rpm distros that i know.

[2021-07-28 20:19] floppym commented on #363
I'm fine with dropping all of these.

[2021-07-30 01:54] nmeyerhans commented on #363
ninfod implements an [obsolete experimental protocol](https://datatracker.ietf.org/doc/html/rfc4620) that hasn't seen any activity since 2006. It's pretty dead at this point. In the unlikely event that anybody ever starts work on this protocol again, the code will still exist in git history, and I think that's enough. We should drop this.

There are additional tftp implementations besides dnsmasq

[2021-07-30 10:02] 6eh01der commented on #363
@nmeyerhans DHCP is more complex to configure and it will not save your machines from gateway dead and also for DHCP server failover scenarios you should implement some reserve instance. I don't think that all dns server implementations support automatic failover... About gateway - yes, you could announce some VIP for clients,(for example if you have two gateways with keepalived), but not allways

[2021-08-14 06:22] ruyrybeyro commented on #293
Having issues in Debian 11, as @redtux , IPv6 disabled via kernel parameter:

    # ping -V
    ping from iputils 20210202
    # ping 6.6.6.6
   ping: socket: Address family not supported by protocol
   PING 6.6.6.6 (6.6.6.6) 56(84) bytes of data.

[2021-08-23 21:19] shoober420 opened #365 "Aug 23 commits borked meson"
I'm trying to compile iputils on Gentoo Linux using GCC 11.2 version, and encounter an error with the recent Aug 23rd commits (https://github.com/iputils/iputils/commit/802fade93ded5cef108e31ca7c71186f81478051). It appears all the meson options are now unrecognized. full log attached.

[buildiputils.log](https://github.com/iputils/iputils/files/7034948/buildiputils.log)

[code]

[2021-08-25 10:16] pevik commented on #365
Thx for a report. I see you run meson 0.59.1, could you run `ninja --version` to report the versions?

`BUILD_TRACEROUTE6` has been removed in a1394212fd4b3e3259104467d9861909961b219e, please update your build scripts, but that's not the problem. Really there is something wrong with 802fade93ded5cef108e31ca7c71186f81478051. It works on  0.58.2 from openSUSE, I need to test it on 0.59.x.

Which Gen

[2021-08-27 09:55] codl opened #367 "Manual does not reflect lowered minimum ping interval"
Hi, in 0ccdbb9937a90f4c765fe9ab94d1441dd8680f45 the minimum ping interval for non-root users was lowered from 200ms to 2ms. However the manual page still says the minimum is "200msec" in the description for `-A` and "0.2 seconds" in the description for `-i`.

[2021-08-29 13:54] a8l1vy opened #368 "Ping function, The time interval of the test host delay is locked at 5 seconds."
Hello,
　　I have searched the topic and others have the same problem.
　　With the ping function in the manjaro system, there is no problem in detecting the delay of the IP address. Only when detecting the host name delay, the interval time is 5 seconds, which cannot be changed with the -i parameter.
　　The Ubuntu system does not have this problem.
　　When the Federa system detects the delay, the param

[2021-08-30 11:06] #367 closed

[2021-08-30 11:07] pevik commented on #367
Thanks for your bug report, fixed.

[2021-09-02 15:42] #368 closed

[2021-09-11 16:19] takenek commented on #293
Same here on debian 11.

root@smokeping:~# cat /proc/cmdline
BOOT_IMAGE=/vmlinuz-5.10.0-8-amd64 root=/dev/mapper/smokeping--vg-root ro ipv6.disable=1 quiet

root@smokeping:~# cat /etc/gai.conf
precedence ::ffff:0:0/96  100

root@smokeping:~# ping 8.8.8.8 -c 1
ping: socket: Address family not supported by protocol
PING 8.8.8.8 (8.8.8.8) 56(84) bytes of data.
64 bytes from 8.8.8.8: icmp_seq=1 ttl=11

[2021-09-15 23:09] Amanuense-del-diavolo commented on #363
to be honest I've just finished writing the systemd units for tftpd, if possible I'd much rather have a tftp server installed with iputils that having to install another package, it's small, it's usable, and it gets the job done

[2021-09-16 00:28] vapier commented on #363
the canonical one (tftp hpa) is more featureful. I don't see value in competing in this space, especially when the iputils one is uncommon. just drop it and don't waste more time on it.

[2021-09-16 11:12] pevik commented on #363
@Amanuense-del-diavolo "it's small: our `tftpd` has 60K, exactly the same size as `in.tftpd` from hpa. Anyway, really going to remove as agree with @vapier.

[2021-09-16 13:43] Amanuense-del-diavolo commented on #363
oh well, the irony of implement a thing and the next day it gets dropped, 😂
I admit I wasn't checking tftpd-hpa's dimension but the dnsmasq implementation
cheers

[2021-09-16 19:58] pevik commented on #363
@Amanuense-del-diavolo I'm sorry to drop your work, but this is a result of considering a time which requires maintaining things which aren't widely used because others project are more mature. Would you please consider contributing systemd service to hpa project which also lack it? (NOTE dnsmasq - a live project which implements tftpd - already has systemd service).

[2021-09-16 20:25] ac000 commented on #293
Just had a look at this (needed to boot with ipv6.disable=1 to reproduce the issue) and I arrived at the same patch by @klynastor

You need to make _requisite_ part of the first half of the logic, so that other than if verbose is set we only print the socket error if we failed on IPv6 _and_ failed on IPv4. Or we are only trying and failed on IPv6.

[2021-09-16 22:43] pevik commented on #293
Fix is ready, anybody feel free to test and put your `Reviewed-by: Your Name <your@email>` tag.
I'm sorry it took me one year to fix this simple issue.

[2021-09-16 23:36] imThief commented on #293
I'm sorry, is this commit already in master branch? Can i just clone it, compile and test or should i choose some side branch? Work with git unfortunately not among my virtues ...

[2021-09-17 00:43] ac000 commented on #293
@imThief

If you already have this repository checked out, you can simply pull this change over with

[code]

[2021-09-19 01:40] tsndqst opened #371 "Ping ignores reply from IPv6 Subnet-Router anycast address (RFC4291)"
A change occurred between s20190709 and s20200821 that broke support for receiving a reply when pinging the Subnet-Router anycast address.  The Subnet-Router anycast address is specified in https://datatracker.ietf.org/doc/html/rfc4291#section-2.6.1.

I traced it to the [ping: discard packets with wrong source address](https://github.com/iputils/iputils/commit/5e052ada96c3fc457efe66b2fed5c14ed8de6

[2021-09-19 19:04] #293 closed

[2021-09-19 19:05] pevik commented on #293
@imThief FYI fix merged.